USE [master]
GO
/****** Object:  Database [DocOnline]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE DATABASE [DocOnline]
 ON  PRIMARY 
( NAME = N'DocOnline_Datos1', FILENAME = N'C:\DocOnline\Data\DocOnline_Datos1.mdf' , SIZE = 5696KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [Datos]  DEFAULT 
( NAME = N'DocOnline_Datos2', FILENAME = N'C:\DocOnline\Data\DocOnline_Datos2.ndf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [Indices] 
( NAME = N'DocOnline_Indices1', FILENAME = N'C:\DocOnline\Data\DocOnline_Indices1.ndf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DocOnline_log', FILENAME = N'C:\DocOnline\Data\DocOnline_log.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

USE [DocOnline]
GO

CREATE USER [DocOnline] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO

CREATE USER [java] FOR LOGIN [java] WITH DEFAULT_SCHEMA=[DocOnline]
GO

EXECUTE sp_AddRoleMember 'db_datareader', 'DocOnline'
GO
EXECUTE sp_AddRoleMember 'db_datawriter', 'DocOnline'
GO
EXECUTE sp_AddRoleMember 'db_datareader', 'Java'
GO
EXECUTE sp_AddRoleMember 'db_datawriter', 'Java'
GO

GRANT EXECUTE to java
GO

/* inicio tablas consola */
/****** Object:  Table [DBO].[item]    Script Date: 27/04/2015 9:44:03 ******/
CREATE TABLE [DBO].[ITEM](
	[id] bigint NOT NULL,
	[id_seccion] [bigint] NOT NULL,
	[descripcion] [varchar](40) NULL,
	[orden] [int] NOT NULL,
	[url] [varchar](150) NULL,
	[icon] [varchar](80) NULL,
	[codigo] [varchar](40) NULL,
 CONSTRAINT [pk_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [DBO].[ITEM_ROL]    Script Date: 27/04/2015 9:44:03 ******/
CREATE TABLE [DBO].[ITEM_ROL](
	[id]  bigint NOT NULL,
	[id_rol] [bigint] NULL,
	[id_item] [bigint] NULL,
 CONSTRAINT [pk_item_rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [DBO].[rol]    Script Date: 27/04/2015 9:44:03 ******/
CREATE TABLE [DBO].[ROL](
	[id] bigint NOT NULL,
	[descripcion] [varchar](40) NULL,
	[codigo] [varchar](15) NOT NULL,
	[visible] [bit] NOT NULL,
 CONSTRAINT [pk_rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [DBO].[SECCION]    Script Date: 27/04/2015 9:44:03 ******/
CREATE TABLE [DBO].[SECCION](
	[id]  bigint NOT NULL,
	[descripcion] [varchar](100) NULL,
	[orden] [int] NULL,
	[codigo] [varchar](15) NULL,
	[url] [varchar](150) NULL,
 CONSTRAINT [pk_seccion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [DBO].[usuario]    Script Date: 27/04/2015 9:44:03 ******/
CREATE TABLE [DBO].[USUARIO](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_rol] [bigint] NULL,
	[usuario] [varchar](20) NOT NULL,
	[password] [varchar](40) NOT NULL,
	[ultimo_acceso] [datetime] NULL,
	[activo] [bit] NULL,
	[bloqueado] [bit] NULL,
	[reintento] [int] NULL,
	[administrable] [bit] NULL,
	[apellido] [varchar](40) NULL,
	[nombre] [varchar](40) NULL,
	[mail] [varchar](40) NULL,
	[cambia_clave] [bit] NULL,
	[version_ui] [varchar](50) NOT NULL,
	[visible] [bit] NOT NULL,
	[theme] [varchar](50) NULL,
 CONSTRAINT [pk_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DBO].[rol] ADD  DEFAULT ('true') FOR [visible]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('true') FOR [activo]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('false') FOR [bloqueado]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ((0)) FOR [reintento]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('true') FOR [administrable]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('true') FOR [cambia_clave]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('1') FOR [version_ui]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('true') FOR [visible]
GO
/* fin tablas consola */

CREATE TABLE [dbo].[CANALES_ACCESO](
	[ID_CANAL_ACCESO] bigint NOT NULL,
	[CANAL_ACCESO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CANALES_ACCESO] PRIMARY KEY CLUSTERED 
(
	[ID_CANAL_ACCESO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]
GO

/****** Object:  Table [dbo].[INTERFACES]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE TABLE [dbo].[INTERFACES](
	[ID_INTERFAZ] bigint  NOT NULL,
	[INTERFAZ] [varchar](50) NOT NULL,
	[CLAVE] [varchar](128) NOT NULL,
	[ACTIVADO] [varchar](20) NOT NULL,
	[CANT_OPERACIONES] int NOT NULL,
	[CANT_ACUM_OPERACIONES] numeric (10,2) NOT NULL,
	[ID_CANAL_ACCESO] bigint NOT NULL,
	[FLG_CONTROL] [char](1) NOT NULL,
 CONSTRAINT [PK_INTERFACES] PRIMARY KEY CLUSTERED 
(
	[ID_INTERFAZ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]
GO

/****** Object:  Table [dbo].[LOG_TRANSACCIONES]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE TABLE [dbo].[LOG_TRANSACCIONES](
	[ID_LOG_TRANSACCION] bigint IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] bigint NULL,
	[F_INICIO_OPERACION] [datetime] NOT NULL,
	[F_FIN_OPERACION] [datetime] NOT NULL,
	[ID_TIPO_TRANSACCION] bigint NOT NULL,
	[XML_ENTRADA] [text] NULL,
	[XML_SALIDA] [text] NULL,
	[ID_REGISTRO_TRANSACCION] bigint NOT NULL,
 CONSTRAINT [PK_LOG_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_LOG_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos] TEXTIMAGE_ON [Datos]
GO

/****** Object:  Table [dbo].[LOGS_AUDITORIA]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE TABLE [dbo].[LOGS_AUDITORIA](
	[ID_LOG_AUDITORIA] bigint NOT NULL,
	[F_LOG] [datetime] NOT NULL,
	[COD_CONSOLA] [int] NULL,
	[CONSOLA] [varchar](20) NULL,
	[OPERADOR] [varchar](20) NULL,
	[OPERACION] [varchar](1000) NULL,
	[RESULTADO] [varchar](1000) NULL,
	[COD_RESULTADO] [int] IDENTITY(1,1) NOT NULL,
	[SERVIDOR] [varchar](1000) NULL,
 CONSTRAINT [PK_LOGS_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[ID_LOG_AUDITORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]
GO

/****** Object:  Table [dbo].[LOGS_GENERICOS]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE TABLE [dbo].[LOGS_GENERICOS](
	[ID_LOG] bigint IDENTITY(1,1) NOT NULL,
	[PROCESO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](4000) NULL,
	[F_PROCESO] [datetime] NOT NULL,
	[ESTADO_PROCESO] [int] NOT NULL,
 CONSTRAINT [PK_LOGS_GENERICOS] PRIMARY KEY CLUSTERED 
(
	[ID_LOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]
GO

/****** Object:  Table [dbo].[NUM_CODIGO_OPERACION]    Script Date: 11/03/2015 15:14:49 ******/
CREATE TABLE [dbo].[NUM_CODIGO_OPERACION](
	[NUMERO] [bigint] IDENTITY(1,1) NOT NULL
) ON [Datos]
GO

/****** Object:  Table [dbo].[PARAMETROS]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE TABLE [dbo].[PARAMETROS](
	[ID_PARAMETRO] bigint NOT NULL,
	[PARAMETRO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	TXT_AYUDA varchar(1000) NOT NULL,
 CONSTRAINT [PK_PARAMETROS] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_PARAMETROS_PARAMETRO] UNIQUE NONCLUSTERED 
(
	[PARAMETRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos]
GO

/****** Object:  Table [dbo].[PARAMETROS_VALOR]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE TABLE [dbo].[PARAMETROS_VALOR](
	[ID_PARAMETRO_VALOR] bigint IDENTITY(1,1) NOT NULL,
	[ID_PARAMETRO] bigint NOT NULL,
	[VALOR] [varchar](4000) NOT NULL,
	[F_VIGENCIA_DESDE] [datetime] NOT NULL,
	[F_VIGENCIA_HASTA] [datetime] NOT NULL,
	[ID_PROVINCIA] bigint NOT NULL,
 CONSTRAINT [PK_PARAMETROS_VALOR] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETRO_VALOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_PARAMVA_IDPAR_IDENT_FVD_FVH] UNIQUE NONCLUSTERED 
(
	[F_VIGENCIA_DESDE] ASC,
	[F_VIGENCIA_HASTA] ASC,
	[ID_PARAMETRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos]
GO

/****** Object:  Table [dbo].[REGISTROS_TRANSACCIONES]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES](
	[ID_REGISTRO_TRANSACCION] bigint  IDENTITY(1,1) NOT NULL,
	[ID_INTERFAZ] bigint  NOT NULL,
	[ID_PUNTO_VENTA] bigint  NOT NULL,
	[F_TRANSACCION] [datetime] NOT NULL,
	[COD_TRANSACCION] int  NOT NULL,
	[DATOS_TRANSACCION] [varbinary](max) NOT NULL,
	[SERVICIO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_REGISTROS_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_REGISTRO_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_REGISTROS_TRANSACCIONES] UNIQUE NONCLUSTERED 
(
	[COD_TRANSACCION] ASC,
	[ID_INTERFAZ] ASC,
	[F_TRANSACCION] ASC,
	[SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos] TEXTIMAGE_ON [Datos]
GO

/****** Object:  Table [dbo].[TIPOS_TRANSACCIONES]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE TABLE [dbo].[TIPOS_TRANSACCIONES](
	[ID_TIPO_TRANSACCION] bigint NOT NULL,
	[TRANSACCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPOS_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO

/****** Object:  Index [I_F_INICIO_OPERACION]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_F_INICIO_OPERACION] ON [dbo].[LOG_TRANSACCIONES]
(
	[F_INICIO_OPERACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO

/****** Object:  Index [I_LOG_TRANS_ID_CLIENTE]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_LOG_TRANS_ID_CLIENTE] ON [dbo].[LOG_TRANSACCIONES]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO

/****** Object:  Index [I_F_TRANSACCION]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_F_TRANSACCION] ON [dbo].[REGISTROS_TRANSACCIONES]
(
	[F_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO

ALTER TABLE [dbo].[INTERFACES] ADD  CONSTRAINT [Default_Value_235_1263040641]  DEFAULT ((0)) FOR [CLAVE]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  CONSTRAINT [Default_Value_875_1611076137]  DEFAULT ('S') FOR [ACTIVADO]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  DEFAULT ((0)) FOR [CANT_OPERACIONES]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  DEFAULT ((0)) FOR [CANT_ACUM_OPERACIONES]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  CONSTRAINT [Default_Value_675_1462600037]  DEFAULT ((3)) FOR [ID_CANAL_ACCESO]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  CONSTRAINT [Default_Value_880_66269505]  DEFAULT ('N') FOR [FLG_CONTROL]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD  CONSTRAINT [Default_Value_284_1329334790]  DEFAULT (getdate()) FOR [F_INICIO_OPERACION]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD  CONSTRAINT [Default_Value_284_403453418]  DEFAULT (getdate()) FOR [F_FIN_OPERACION]
GO
ALTER TABLE [dbo].[LOGS_AUDITORIA] ADD  CONSTRAINT [Default_Value_386_485484533]  DEFAULT (getdate()) FOR [F_LOG]
GO
ALTER TABLE [dbo].[PARAMETROS_VALOR] ADD  CONSTRAINT [Default_Value_235_1882357566]  DEFAULT ((0)) FOR [ID_PROVINCIA]
GO
ALTER TABLE [dbo].[INTERFACES]  WITH CHECK ADD  CONSTRAINT [FK_INTERFACES_ID_CANAL_ACCESO] FOREIGN KEY([ID_CANAL_ACCESO])
REFERENCES [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO])
GO
ALTER TABLE [dbo].[INTERFACES] CHECK CONSTRAINT [FK_INTERFACES_ID_CANAL_ACCESO]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_TIPOS_TRANSAC_LOG_TRANSAC] FOREIGN KEY([ID_TIPO_TRANSACCION])
REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES] CHECK CONSTRAINT [FK_TIPOS_TRANSAC_LOG_TRANSAC]
GO
ALTER TABLE [dbo].[PARAMETROS_VALOR]  WITH CHECK ADD  CONSTRAINT [FK_PARAMVALOR_PARAMETROS] FOREIGN KEY([ID_PARAMETRO])
REFERENCES [dbo].[PARAMETROS] ([ID_PARAMETRO])
GO
ALTER TABLE [dbo].[PARAMETROS_VALOR] CHECK CONSTRAINT [FK_PARAMVALOR_PARAMETROS]
GO
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_REGTRANSACC_INTERFACES] FOREIGN KEY([ID_INTERFAZ])
REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] CHECK CONSTRAINT [FK_REGTRANSACC_INTERFACES]
GO

CREATE TABLE [dbo].[PUNTO_VENTA](
	[ID_PUNTO_VENTA] [bigint] NOT NULL,
	[ID_INTERFAZ] [bigint] NOT NULL,
	[PUNTO_VENTA] [varchar](10) NOT NULL,
	[ACTIVADO] [char](1) NOT NULL,
	[FLG_CONTROL] [char](1) NOT NULL,
 CONSTRAINT [PK_PUNTO_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_PUNTO_VENTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[PUNTO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_PUNTO_VENTA_INTERFACES] FOREIGN KEY([ID_INTERFAZ])
REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO

ALTER TABLE [dbo].[PUNTO_VENTA] CHECK CONSTRAINT [FK_PUNTO_VENTA_INTERFACES]
GO

CREATE TABLE [dbo].[USUARIO_PUNTO_VENTA](
	[id] [bigint] NOT NULL,
	[id_usuario] [bigint] NULL,
	[id_punto_venta] [bigint] NULL,
 CONSTRAINT [PK_USUARIO_PUNTO_VENTA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PUNTO_VENTA_PUNTO_VENTA] FOREIGN KEY([id_punto_venta])
REFERENCES [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA])
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] CHECK CONSTRAINT [FK_USUARIO_PUNTO_VENTA_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PUNTO_VENTA_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id])
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] CHECK CONSTRAINT [FK_USUARIO_PUNTO_VENTA_USUARIO]
GO

ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_REGTRANSACC_PUNTOVENTA] FOREIGN KEY([ID_PUNTO_VENTA])
REFERENCES [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA])
GO
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] CHECK CONSTRAINT [FK_REGTRANSACC_PUNTOVENTA]
GO
