USE [master]
GO
/****** Object:  Database [Sacca]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE DATABASE [Sacca]
 ON  PRIMARY 
( NAME = N'Sacca_Datos1', FILENAME = N'C:\Sacca\Sacca_Datos1.mdf' , SIZE = 5696KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [Datos]  DEFAULT 
( NAME = N'Sacca_Datos2', FILENAME = N'C:\Sacca\Sacca_Datos2.ndf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [Indices] 
( NAME = N'Sacca_Indices1', FILENAME = N'C:\Sacca\Sacca_Indices1.ndf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sacca_log', FILENAME = N'C:\Sacca\Sacca_log.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
USE [Sacca]
GO

CREATE USER [Sacca] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO

EXECUTE sp_AddRoleMember 'db_datareader', 'Sacca'
GO
EXECUTE sp_AddRoleMember 'db_datawriter', 'Sacca'
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

/* inicio tablas consola */


/****** Object:  Table [DBO].[item]    Script Date: 27/04/2015 9:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [DBO].[ITEM](
	[id] bigint NOT NULL,
	[id_seccion] [bigint] NOT NULL,
	[descripcion] [varchar](40) NULL,
	[orden] [int] NOT NULL,
	[url] [varchar](150) NULL,
	[icon] [varchar](80) NULL,
	[codigo] [varchar](40) NULL,
	target varchar(10) NULL,
 CONSTRAINT [pk_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [DBO].[ITEM_ROL]    Script Date: 27/04/2015 9:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DBO].[ITEM_ROL](
	[id]  bigint NOT NULL,
	[id_rol] [bigint] NULL,
	[id_item] [bigint] NULL,
 CONSTRAINT [pk_item_rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [DBO].[rol]    Script Date: 27/04/2015 9:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [DBO].[ROL](
	[id] bigint NOT NULL,
	[descripcion] [varchar](40) NULL,
	[codigo] [varchar](15) NOT NULL,
	[visible] [bit] NOT NULL,
 CONSTRAINT [pk_rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [DBO].[SECCION]    Script Date: 27/04/2015 9:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [DBO].[SECCION](
	[id]  bigint NOT NULL,
	[descripcion] [varchar](100) NULL,
	[orden] [int] NULL,
	[codigo] [varchar](15) NULL,
	[url] [varchar](150) NULL,
 CONSTRAINT [pk_seccion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [DBO].[usuario]    Script Date: 27/04/2015 9:44:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [DBO].[USUARIO](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_rol] [bigint] NULL,
	[usuario] [varchar](20) NOT NULL,
	[password] [varchar](40) NOT NULL,
	[ultimo_acceso] [datetime] NULL,
	[activo] [bit] NULL,
	[bloqueado] [bit] NULL,
	[reintento] [int] NULL,
	[administrable] [bit] NULL,
	[apellido] [varchar](40) NULL,
	[nombre] [varchar](40) NULL,
	[mail] [varchar](40) NULL,
	[cambia_clave] [bit] NULL,
	[version_ui] [varchar](50) NOT NULL,
	[visible] [bit] NOT NULL,
	[theme] [varchar](50) NULL,
 CONSTRAINT [pk_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[CANALES_VENTA_TIPOS_TRANSACCIONES](
	[ID] [bigint]  NOT NULL,
	[ID_CANAL_VENTA] [bigint] NOT NULL,
	[ID_TIPO_TRANSACCION] [bigint] NOT NULL,
 CONSTRAINT [PK_CANALES_VENTA_TIPOS_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_CANAL_TRANSACCION] UNIQUE NONCLUSTERED 
(
	[ID_CANAL_VENTA] ASC,
	[ID_TIPO_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos]

GO

create table LOG_CONSOLA
(
[id] [bigint] IDENTITY(1,1) NOT NULL,
FECHA	datetime NOT NULL,
USUARIO varchar(20) NOT NULL,
URL varchar(150) NOT NULL,
DATOS_OPERACION varchar(4000)
CONSTRAINT [pk_log_consola] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


ALTER TABLE [DBO].[rol] ADD  DEFAULT ('true') FOR [visible]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('true') FOR [activo]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('false') FOR [bloqueado]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ((0)) FOR [reintento]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('true') FOR [administrable]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('true') FOR [cambia_clave]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('1') FOR [version_ui]
GO
ALTER TABLE [DBO].[usuario] ADD  DEFAULT ('true') FOR [visible]
GO

/* fin tablas consola */



CREATE TABLE [dbo].[CANALES_ACCESO](
	[ID_CANAL_ACCESO] bigint NOT NULL,
	[CANAL_ACCESO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CANALES_ACCESO] PRIMARY KEY CLUSTERED 
(
	[ID_CANAL_ACCESO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]
GO

create table CANALES_VENTA
(ID_CANAL_VENTA bigint primary key,
 DESCRIPCION varchar(80) not null
)
GO




SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CELULARES_CLIENTES]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CELULARES_CLIENTES](
	[ID_CELULAR_CLIENTE] bigint IDENTITY(1,1) NOT NULL,
	[NRO_CELULAR] [varchar](15) NOT NULL,
	[ID_CLIENTE] bigint NOT NULL,
	[F_VIGENCIA_DESDE] [datetime] NOT NULL,
	[F_VIGENCIA_HASTA] [datetime] NOT NULL,
 CONSTRAINT [PK_CELULARES_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CELULAR_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO

create table TIPO_ESTADO_CLIENTES
(id bigint not null PRIMARY KEY
,nombre varchar(20)
,descripcion varchar(40))
GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] bigint IDENTITY(1,10000) NOT NULL,
	[USUARIO] [nvarchar](50) NOT NULL UNIQUE,
	NOMBRE varchar(80) NULL,
	APELLIDO varchar(80) NULL,
	[ID_TIPO_DOC_PERSONA] bigint NOT NULL,
	[NRO_DOC] varchar(15) NOT NULL,
	[ID_SEXO] bigint NOT NULL,
	NACIONALIDAD bigint NULL,
	F_NACIMIENTO datetime NULL,
	ID_ESTADO_CIVIL bigint NULL,
	CUIT_CUIL varchar (11),
	ID_DIRECCION bigint, 
	[EMAIL] VARCHAR(40) NULL,
	OCUPACION varchar(80) NULL,
	PEP tinyint NULL,
	PIN varchar(128) not null,
	codigo_blanqueo varchar(128) NULL,
	[F_ALTA] [datetime] NOT NULL,
	ID_TERMINOS_CONDICIONES bigint null,
	[F_VIGENCIA_PIN] [datetime] NOT NULL,
	[ACCESOS_FALLIDOS] tinyint NOT NULL,
	[FLG_HABILITADO] tinyint NOT NULL,
	[ID_TIPO_ESTADO_CLIENTE] bigint NOT NULL,
CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_CLIENTES_NRODOC_TIPO_SEXO] UNIQUE NONCLUSTERED 
(
	[NRO_DOC] ASC,
	[ID_TIPO_DOC_PERSONA] ASC,
	[ID_SEXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos]

GO

create table DIRECCIONES_CLIENTES
( ID_DIRECCION	bigint identity(1,1) primary key
, CALLE varchar(100) not null
, NUMERO varchar(10) not null
, PISO varchar(5) null
, DEPARTAMENTO varchar(5) null
, ID_LOCALIDAD bigint not null
, LOCALIDAD_ALTERNATIVA varchar(80) null
, COD_POSTAL varchar(10)  not null)
go 

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COD_EXTERNOS_CLIENTES]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COD_EXTERNOS_CLIENTES](
	[ID_COD_EXTERNO_CLIENTE] bigint IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] bigint NOT NULL,
	[COD_EXTERNO] [varchar](13) NOT NULL,
	[F_VIGENCIA_DESDE] [datetime] NOT NULL,
	[F_VIGENCIA_HASTA] [datetime] NOT NULL,
	[ID_PROVINCIA] bigint NOT NULL,
 CONSTRAINT [PK_COD_EXTERNOS_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_COD_EXTERNO_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [I_COD_EXT_CLIENTES_IDCLI_FHAST] UNIQUE NONCLUSTERED 
(
	[ID_CLIENTE] ASC,
	[F_VIGENCIA_HASTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos]

GO

CREATE TABLE PIN_CLIENTES
( ID_PIN bigint  identity (1,1) NOT NULL PRIMARY KEY,
ID_CLIENTE bigint NOT NULL,
PIN varchar(128) not null,
F_VALIDEZ_HASTA datetime not null default '9/9/9999')
GO



CREATE TABLE [dbo].[CUENTAS_CORRIENTES](
	[ID_CUENTA_CORRIENTE] bigint IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] bigint NOT NULL,
	[F_VIGENCIA_DESDE] [datetime] NOT NULL,
	[F_VIGENCIA_HASTA] [datetime] NOT NULL,
	[ID_TIPO_CTACTE] bigint NOT NULL,
	[SALDO] [numeric](10, 2) NOT NULL,
 CONSTRAINT [PK_CUENTAS_CORRIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CUENTA_CORRIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_CTACTE_CLIENTE_TIPOCTA_FVH] UNIQUE NONCLUSTERED 
(
	[ID_CLIENTE] ASC,
	[ID_TIPO_CTACTE] ASC,
	[F_VIGENCIA_HASTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos]

GO
/****** Object:  Table [dbo].[ESTADOS_RESERVAS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADOS_RESERVAS](
	[ID_ESTADO_RESERVA] bigint NOT NULL,
	[ESTADO_RESERVA] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ESTADOS_RESERVAS] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_RESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INTERFACES]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTERFACES](
	[ID_INTERFAZ] bigint  NOT NULL,
	[INTERFAZ] [varchar](50) NOT NULL,
	[CLAVE] [varchar](128) NOT NULL,
	[ACTIVADO] [varchar](20) NOT NULL,
	[CANT_OPERACIONES] int NOT NULL,
	[CANT_ACUM_OPERACIONES] numeric (10,2) NOT NULL,
	[ID_CANAL_ACCESO] bigint NOT NULL,
	[FLG_CONTROL] [char](1) NOT NULL,
 CONSTRAINT [PK_INTERFACES] PRIMARY KEY CLUSTERED 
(
	[ID_INTERFAZ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOG_TRANSACCIONES]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_TRANSACCIONES](
	[ID_LOG_TRANSACCION] bigint IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] bigint NULL,
	[F_INICIO_OPERACION] [datetime] NOT NULL,
	[F_FIN_OPERACION] [datetime] NOT NULL,
	[ID_TIPO_TRANSACCION] bigint NOT NULL,
	[ENTRADA] [text] NULL,
	[SALIDA] [text] NULL,
	[ID_REGISTRO_TRANSACCION] bigint NOT NULL,
 CONSTRAINT [PK_LOG_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_LOG_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos] TEXTIMAGE_ON [Datos]

GO
/****** Object:  Table [dbo].[LOG_TRANSACCIONES_HIS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_TRANSACCIONES_HIS](
	[ID_LOG_TRANSACCION] bigint NOT NULL,
	[ID_CLIENTE] bigint NULL,
	[F_INICIO_OPERACION] [datetime] NOT NULL,
	[F_FIN_OPERACION] [datetime] NOT NULL,
	[ID_TIPO_TRANSACCION] bigint NOT NULL,
	[ENTRADA] [text] NULL,
	[SALIDA] [text] NULL,
	[ID_REGISTRO_TRANSACCION] bigint NOT NULL,
	[F_PROCESO] [datetime] NOT NULL,
 CONSTRAINT [PK_LOG_TRANSACCIONES_HIS] PRIMARY KEY CLUSTERED 
(
	[ID_LOG_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos] TEXTIMAGE_ON [Datos]

GO
/****** Object:  Table [dbo].[LOGS_AUDITORIA]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGS_AUDITORIA](
	[ID_LOG_AUDITORIA] bigint NOT NULL,
	[F_LOG] [datetime] NOT NULL,
	[COD_CONSOLA] [int] NULL,
	[CONSOLA] [varchar](20) NULL,
	[OPERADOR] [varchar](20) NULL,
	[OPERACION] [varchar](1000) NULL,
	[RESULTADO] [varchar](1000) NULL,
	[COD_RESULTADO] [int] IDENTITY(1,1) NOT NULL,
	[SERVIDOR] [varchar](1000) NULL,
 CONSTRAINT [PK_LOGS_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[ID_LOG_AUDITORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGS_GENERICOS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGS_GENERICOS](
	[ID_LOG] bigint IDENTITY(1,1) NOT NULL,
	[PROCESO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](4000) NULL,
	[F_PROCESO] [datetime] NOT NULL,
	[ESTADO_PROCESO] [int] NOT NULL,
 CONSTRAINT [PK_LOGS_GENERICOS] PRIMARY KEY CLUSTERED 
(
	[ID_LOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOVIMIENTOS_CTACTE]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MOVIMIENTOS_CTACTE](
	[ID_MOVIMIENTO_CTACTE] bigint IDENTITY(1,1) NOT NULL,
	[ID_TIPO_MOVIMIENTO_CTACTE] bigint NOT NULL,
	[MONTO] [numeric](10, 2) NOT NULL,
	[ID_CUENTA_CORRIENTE] bigint NOT NULL,
	[F_MOVIMIENTO] [datetime] NOT NULL,
	[COD_EXTERNO_RECIBIDO]  [varchar](12),
	[COD_EXTERNO] [varchar](12) NOT NULL,
	[ID_RESERVA] bigint NULL,
	[SALDO] [numeric](10, 2) NOT NULL,
	[MOTIVO] [varchar](100) NULL,
	[ID_INTERFAZ] bigint NOT NULL,
	ID_CANAL_VENTA bigint NOT NULL,
	[COD_OPERACION] [char](10) NOT NULL,
 CONSTRAINT [PK_MOVIMIENTOS_CTACTE] PRIMARY KEY CLUSTERED 
(
	[ID_MOVIMIENTO_CTACTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOVIMIENTOS_CTACTE_HIS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MOVIMIENTOS_CTACTE_HIS](
	[ID_MOVIMIENTO_CTACTE] bigint NOT NULL,
	[ID_TIPO_MOVIMIENTO_CTACTE] bigint NOT NULL,
	[MONTO] [numeric](10, 2) NOT NULL,
	[ID_CUENTA_CORRIENTE] bigint NOT NULL,
	[F_MOVIMIENTO] [datetime] NOT NULL,
	[COD_EXTERNO_RECIBIDO]  [varchar](13),
	[COD_EXTERNO] [varchar](13) NOT NULL,
	[ID_RESERVA] bigint NULL,
	[SALDO] [numeric](10, 2) NOT NULL,
	[MOTIVO] [varchar](100) NULL,
	[ID_INTERFAZ] bigint NOT NULL,
	ID_CANAL_VENTA bigint NOT NULL,
	[COD_OPERACION] [char](10) NOT NULL,
	F_PROCESO datetime NOT NULL,
 CONSTRAINT [PK_MOVIMIENTOS_CTACTE_HIS] PRIMARY KEY CLUSTERED 
(
	[ID_MOVIMIENTO_CTACTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO

/****** Object:  Table [dbo].[NUM_CODIGO_OPERACION]    Script Date: 11/03/2015 15:14:49 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[NUM_CODIGO_OPERACION](
	[NUMERO] [bigint] IDENTITY(1,1) NOT NULL
) ON [Datos]

GO

/****** Object:  Table [dbo].[PARAMETROS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETROS](
	[ID_PARAMETRO] bigint NOT NULL,
	[PARAMETRO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	TXT_AYUDA varchar(1000) NOT NULL,
 CONSTRAINT [PK_PARAMETROS] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_PARAMETROS_PARAMETRO] UNIQUE NONCLUSTERED 
(
	[PARAMETRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARAMETROS_VALOR]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETROS_VALOR](
	[ID_PARAMETRO_VALOR] bigint NOT NULL,
	[ID_PARAMETRO] bigint NOT NULL,
	[VALOR] [varchar](4000) NOT NULL,
	[F_VIGENCIA_DESDE] [datetime] NOT NULL,
	[F_VIGENCIA_HASTA] [datetime] NOT NULL,
	[ID_PROVINCIA] bigint NOT NULL,
 CONSTRAINT [PK_PARAMETROS_VALOR] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETRO_VALOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_PARAMVA_IDPAR_IDENT_FVD_FVH] UNIQUE NONCLUSTERED 
(
	[F_VIGENCIA_DESDE] ASC,
	[F_VIGENCIA_HASTA] ASC,
	[ID_PARAMETRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO

create table ESTADOS_CIVILES
( ID bigint primary key,
  DESCRIPCION varchar (30) not null
)
go

create table LOCALIDADES
(ID_LOCALIDAD bigint primary key,
 NOMBRE varchar(80) not null,
 ID_PROVINCIA bigint not null)
go

CREATE TABLE [dbo].[TERMINOS_CONDICIONES_LEGALES](
	[ID_TERMINOS_CONDICIONES] [bigint] IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[VERSION] [varchar](30) NULL,
	[FECHA_ACEPTACION] [datetime] NULL,
	[FECHA_LIMITE_VALIDEZ] [datetime] NULL)
GO

/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIA] bigint NOT NULL,
	[PROVINCIA] [varchar](20) NOT NULL,
	[COD_PROVINCIA] [varchar](2) NULL,
	ID_PAIS bigint NOT null,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO

create table PAISES
( ID_PAIS bigint primary key
, NOMBRE varchar(50)
)
go

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGISTROS_TRANSACCIONES]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES](
	[ID_REGISTRO_TRANSACCION] bigint  IDENTITY(1,1) NOT NULL,
	[ID_INTERFAZ] bigint  NOT NULL,
	ID_CANAL_VENTA bigint NOT NULL,
	[F_TRANSACCION] [datetime] NOT NULL,
	[COD_TRANSACCION] int  NOT NULL,
	[DATOS_TRANSACCION] [varbinary](max) NOT NULL,
	[SERVICIO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_REGISTROS_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_REGISTRO_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_REGISTROS_TRANSACCIONES] UNIQUE NONCLUSTERED 
(
	[COD_TRANSACCION] ASC,
	[ID_INTERFAZ] ASC,
	[F_TRANSACCION] ASC,
	[SERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos] TEXTIMAGE_ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGISTROS_TRANSACCIONES_HIS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS](
	[ID_REGISTRO_TRANSACCION] bigint NOT NULL,
	[ID_INTERFAZ] bigint  NOT NULL,
	ID_CANAL_VENTA bigint NOT NULL,
	[F_TRANSACCION] [datetime] NOT NULL,
	[COD_TRANSACCION] int  NOT NULL,
	[DATOS_TRANSACCION] [varbinary](max) NOT NULL,
	[SERVICIO] [varchar](100) NOT NULL,
	[F_PROCESO] [datetime] NOT NULL
) ON [Datos] TEXTIMAGE_ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESERVAS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS](
	[ID_RESERVA] bigint IDENTITY(1,1) NOT NULL,
	[CODIGO_RESERVA] [varchar](128) NOT NULL,
	[F_RESERVA] [datetime] NOT NULL,
	[ID_ESTADO_RESERVA] bigint NOT NULL,
	[F_EXTRACCION] [datetime] NOT NULL,
	[ID_CLIENTE] bigint NOT NULL,
	[F_VENCIMIENTO] [datetime] NOT NULL,
 CONSTRAINT [PK_RESERVAS] PRIMARY KEY CLUSTERED 
(
	[ID_RESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos],
 CONSTRAINT [UK_RESERVAS_COD_RES_ESTADO_RE] UNIQUE NONCLUSTERED 
(
	[CODIGO_RESERVA] ASC,
	[ID_ESTADO_RESERVA] ASC,
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
) ON [Datos]

GO
/****** Object:  Table [dbo].[RESERVAS_HIS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS_HIS](
	[ID_RESERVA] bigint NOT NULL,
	[CODIGO_RESERVA] [varchar](128) NOT NULL,
	[F_RESERVA] [datetime] NOT NULL,
	[ID_ESTADO_RESERVA] bigint NOT NULL,
	[F_EXTRACCION] [datetime] NOT NULL,
	[ID_CLIENTE] bigint NOT NULL,
	[F_VENCIMIENTO] [datetime] NOT NULL,
	[F_PROCESO] [datetime] NOT NULL
) ON [Datos]

GO
/****** Object:  Table [dbo].[SEXOS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEXOS](
	[ID_SEXO] bigint NOT NULL,
	[SEXO] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SEXOS] PRIMARY KEY CLUSTERED 
(
	[ID_SEXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOS_CTACTE]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_CTACTE](
	[ID_TIPO_CTACTE] bigint NOT NULL,
	[TIPO_CTA_CORRIENTE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TIPOS_CTACTE] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CTACTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOS_DOC_PERSONAS]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_DOC_PERSONAS](
	[ID_TIPO_DOC_PERSONA] bigint NOT NULL,
	[TIPO_DOCUMENTO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TIPOS_DOC_PERSONAS] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOC_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOS_MOVIMIENTOS_CTACTE]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_MOVIMIENTOS_CTACTE](
	[ID_TIPO_MOVIMIENTO_CTACTE] bigint NOT NULL,
	[CODIGO] [varchar](30) NOT NULL,
	[CODIGO_EXPORTACION] [varchar](1) NOT NULL,
	[TIPO_MOVIMIENTO] [varchar](30) NOT NULL,
	[FACTOR] SMALLINT NOT NULL,
	[DESC_CORTA] [varchar](14) NOT NULL,
 CONSTRAINT [PK_TIPOS_MOVIMIENTOS_CTACTE] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_MOVIMIENTO_CTACTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO
SET ANSI_PADDING OFF
GO

create table TOTALES_RESERVAS_EXTRACCIONES
(	ID_CLIENTE bigint,
	FECHA	datetime,
	ID_TIPO_CTACTE	bigint,
	CANTIDAD_RESERVAS	int,
	MONTO_RESERVAS		decimal(10,2),
	CANTIDAD_RETIROS	int,
	MONTO_RETIROS		decimal(10,2),
	MONTO_CARGAS		decimal(10,2))
GO





/****** Object:  Table [dbo].[TIPOS_TRANSACCIONES]    Script Date: 9/19/2013 11:07:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_TRANSACCIONES](
	[ID_TIPO_TRANSACCION] bigint NOT NULL,
	NOMBRE varchar(50) not null,
	[TRANSACCION] [varchar](50) NOT NULL,
	TRANSACCION_REST varchar(50),
	URL_REST varchar(80) CONSTRAINT UK_TIPOS_TRANSACCIONES_URL_REST UNIQUE,
 CONSTRAINT [PK_TIPOS_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]

GO

/****** Object:  Index [PK_REGISTROS_TRANSACCIONES_HIS]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE UNIQUE CLUSTERED INDEX [PK_REGISTROS_TRANSACCIONES_HIS] ON [dbo].[REGISTROS_TRANSACCIONES_HIS]
(
	[ID_REGISTRO_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
GO
/****** Object:  Index [I_ID_CLIENTE_F_DESDE_F_HASTA]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_ID_CLIENTE_F_DESDE_F_HASTA] ON [dbo].[CELULARES_CLIENTES]
(
	[ID_CLIENTE] ASC,
	[F_VIGENCIA_DESDE] ASC,
	[F_VIGENCIA_HASTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_COD_EXT_CLIENTES_COD_EXT]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_COD_EXT_CLIENTES_COD_EXT] ON [dbo].[COD_EXTERNOS_CLIENTES]
(
	[COD_EXTERNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO
/****** Object:  Index [I_F_INICIO_OPERACION]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_F_INICIO_OPERACION] ON [dbo].[LOG_TRANSACCIONES]
(
	[F_INICIO_OPERACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO
/****** Object:  Index [I_LOG_TRANS_ID_CLIENTE]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_LOG_TRANS_ID_CLIENTE] ON [dbo].[LOG_TRANSACCIONES]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO
/****** Object:  Index [I_F_MOVIMIENTO]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_F_MOVIMIENTO] ON [dbo].[MOVIMIENTOS_CTACTE]
(
	[F_MOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO
/****** Object:  Index [I_MOV_CTACTE_ID_CTA_CORRIENTE]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_MOV_CTACTE_ID_CTA_CORRIENTE] ON [dbo].[MOVIMIENTOS_CTACTE]
(
	[ID_CUENTA_CORRIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO
/****** Object:  Index [UK_PROVINCIAS]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_PROVINCIAS] ON [dbo].[PROVINCIAS]
(
	[COD_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO
/****** Object:  Index [I_F_TRANSACCION]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_F_TRANSACCION] ON [dbo].[REGISTROS_TRANSACCIONES]
(
	[F_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO
/****** Object:  Index [I_F_RESERVA]    Script Date: 9/19/2013 11:07:53 AM ******/
CREATE NONCLUSTERED INDEX [I_F_RESERVA] ON [dbo].[RESERVAS]
(
	[F_EXTRACCION] ASC,
	[F_VENCIMIENTO] ASC,
	[ID_ESTADO_RESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Indices]
GO
ALTER TABLE [dbo].[CELULARES_CLIENTES] ADD  CONSTRAINT [Default_Value_284_120783606]  DEFAULT (getdate()) FOR [F_VIGENCIA_DESDE]
GO
ALTER TABLE [dbo].[CELULARES_CLIENTES] ADD  CONSTRAINT [Default_Value_286_121832180]  DEFAULT ('09/09/9999') FOR [F_VIGENCIA_HASTA]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  CONSTRAINT [Default_Value_284_2007347065]  DEFAULT (getdate()) FOR [F_ALTA]
GO
ALTER TABLE [dbo].[COD_EXTERNOS_CLIENTES] ADD  CONSTRAINT [Default_Value_284_1414027085]  DEFAULT (getdate()) FOR [F_VIGENCIA_DESDE]
GO
ALTER TABLE [dbo].[COD_EXTERNOS_CLIENTES] ADD  CONSTRAINT [Default_Value_286_1415075659]  DEFAULT ('09/09/9999') FOR [F_VIGENCIA_HASTA]
GO
ALTER TABLE [dbo].[COD_EXTERNOS_CLIENTES] ADD  CONSTRAINT [Default_Value_235_234940645]  DEFAULT ((0)) FOR [ID_PROVINCIA]
GO
ALTER TABLE [dbo].[CUENTAS_CORRIENTES] ADD  CONSTRAINT [Default_Value_284_539689727]  DEFAULT (getdate()) FOR [F_VIGENCIA_DESDE]
GO
ALTER TABLE [dbo].[CUENTAS_CORRIENTES] ADD  CONSTRAINT [Default_Value_286_540738301]  DEFAULT ('09/09/9999') FOR [F_VIGENCIA_HASTA]
GO
ALTER TABLE [dbo].[CUENTAS_CORRIENTES] ADD  CONSTRAINT [Default_Value_235_1211909440]  DEFAULT ((0)) FOR [SALDO]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  CONSTRAINT [Default_Value_235_1263040641]  DEFAULT ((0)) FOR [CLAVE]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  CONSTRAINT [Default_Value_875_1611076137]  DEFAULT ('S') FOR [ACTIVADO]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  DEFAULT ((0)) FOR [CANT_OPERACIONES]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  DEFAULT ((0)) FOR [CANT_ACUM_OPERACIONES]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  CONSTRAINT [Default_Value_675_1462600037]  DEFAULT ((3)) FOR [ID_CANAL_ACCESO]
GO
ALTER TABLE [dbo].[INTERFACES] ADD  CONSTRAINT [Default_Value_880_66269505]  DEFAULT ('N') FOR [FLG_CONTROL]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD  CONSTRAINT [Default_Value_284_1329334790]  DEFAULT (getdate()) FOR [F_INICIO_OPERACION]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD  CONSTRAINT [Default_Value_284_403453418]  DEFAULT (getdate()) FOR [F_FIN_OPERACION]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES_HIS] ADD  CONSTRAINT [Default_Value_284_1566879153]  DEFAULT (getdate()) FOR [F_INICIO_OPERACION]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES_HIS] ADD  CONSTRAINT [Default_Value_284_1195119466]  DEFAULT (getdate()) FOR [F_FIN_OPERACION]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES_HIS] ADD  CONSTRAINT [Default_Value_284_1476205394]  DEFAULT (getdate()) FOR [F_PROCESO]
GO
ALTER TABLE [dbo].[LOGS_AUDITORIA] ADD  CONSTRAINT [Default_Value_386_485484533]  DEFAULT (getdate()) FOR [F_LOG]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] ADD  CONSTRAINT [Default_Value_284_1007757381]  DEFAULT (getdate()) FOR [F_MOVIMIENTO]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] ADD  CONSTRAINT [Default_Value_235_1698642982]  DEFAULT ((0)) FOR [SALDO]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] ADD  CONSTRAINT [Default_Value_235_1601311033]  DEFAULT ((0)) FOR [ID_INTERFAZ]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE_HIS] ADD  CONSTRAINT [Default_Value_284_135011634]  DEFAULT (getdate()) FOR [F_PROCESO]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE_HIS] ADD  CONSTRAINT [Default_Value_235_1366123666]  DEFAULT ((0)) FOR [SALDO]
GO
ALTER TABLE [dbo].[PARAMETROS_VALOR] ADD  CONSTRAINT [Default_Value_235_1882357566]  DEFAULT ((0)) FOR [ID_PROVINCIA]
GO
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS] ADD  CONSTRAINT [Default_Value_284_1095773792]  DEFAULT (getdate()) FOR [F_PROCESO]
GO
ALTER TABLE [dbo].[RESERVAS] ADD  CONSTRAINT [Default_Value_284_877793815]  DEFAULT (getdate()) FOR [F_RESERVA]
GO
ALTER TABLE [dbo].[RESERVAS] ADD  CONSTRAINT [Default_Value_286_686027054]  DEFAULT ('09/09/9999') FOR [F_EXTRACCION]
GO
ALTER TABLE [dbo].[RESERVAS] ADD  CONSTRAINT [Default_Value_235_1123559453]  DEFAULT ((0)) FOR [ID_CLIENTE]
GO
ALTER TABLE [dbo].[RESERVAS] ADD  CONSTRAINT [Default_Value_286_351879215]  DEFAULT ('09/09/9999') FOR [F_VENCIMIENTO]
GO
ALTER TABLE [dbo].[RESERVAS_HIS] ADD  CONSTRAINT [Default_Value_286_1898792077]  DEFAULT ('09/09/9999') FOR [F_EXTRACCION]
GO
ALTER TABLE [dbo].[RESERVAS_HIS] ADD  CONSTRAINT [Default_Value_286_1582079863]  DEFAULT ('09/09/9999') FOR [F_VENCIMIENTO]
GO
ALTER TABLE [dbo].[RESERVAS_HIS] ADD  CONSTRAINT [Default_Value_284_101406512]  DEFAULT (getdate()) FOR [F_PROCESO]
GO
ALTER TABLE [dbo].[TIPOS_MOVIMIENTOS_CTACTE] ADD  CONSTRAINT [Default_Value_935_112191965]  DEFAULT ('F') FOR [DESC_CORTA]
GO
ALTER TABLE [dbo].[CELULARES_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CELULARESCLIENTES_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CELULARES_CLIENTES] CHECK CONSTRAINT [FK_CELULARESCLIENTES_CLIENTES]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_SEXOS] FOREIGN KEY([ID_SEXO])
REFERENCES [dbo].[SEXOS] ([ID_SEXO])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_SEXOS]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_TIPOSDOCUMENTOS] FOREIGN KEY([ID_TIPO_DOC_PERSONA])
REFERENCES [dbo].[TIPOS_DOC_PERSONAS] ([ID_TIPO_DOC_PERSONA])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_TIPOSDOCUMENTOS]
GO
ALTER TABLE [dbo].[COD_EXTERNOS_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CODEXTERNOCLIENTES_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[COD_EXTERNOS_CLIENTES] CHECK CONSTRAINT [FK_CODEXTERNOCLIENTES_CLIENTES]
GO
ALTER TABLE [dbo].[COD_EXTERNOS_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CODEXTERNOSCLI_PROVINCIAS] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[COD_EXTERNOS_CLIENTES] CHECK CONSTRAINT [FK_CODEXTERNOSCLI_PROVINCIAS]
GO
ALTER TABLE [dbo].[CUENTAS_CORRIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CTACTE_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CUENTAS_CORRIENTES] CHECK CONSTRAINT [FK_CTACTE_CLIENTES]
GO
ALTER TABLE [dbo].[CUENTAS_CORRIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CTACTE_TIPOSCTACTE] FOREIGN KEY([ID_TIPO_CTACTE])
REFERENCES [dbo].[TIPOS_CTACTE] ([ID_TIPO_CTACTE])
GO
ALTER TABLE [dbo].[CUENTAS_CORRIENTES] CHECK CONSTRAINT [FK_CTACTE_TIPOSCTACTE]
GO
ALTER TABLE [dbo].[INTERFACES]  WITH CHECK ADD  CONSTRAINT [FK_INTERFACES_ID_CANAL_ACCESO] FOREIGN KEY([ID_CANAL_ACCESO])
REFERENCES [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO])
GO
ALTER TABLE [dbo].[INTERFACES] CHECK CONSTRAINT [FK_INTERFACES_ID_CANAL_ACCESO]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_LOGS_TRANSAC] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES] CHECK CONSTRAINT [FK_CLIENTES_LOGS_TRANSAC]
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_TIPOS_TRANSAC_LOG_TRANSAC] FOREIGN KEY([ID_TIPO_TRANSACCION])
REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES] CHECK CONSTRAINT [FK_TIPOS_TRANSAC_LOG_TRANSAC]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE]  WITH CHECK ADD  CONSTRAINT [FK_INTERFAZ_MOV_CTACTE_INTERFA] FOREIGN KEY([ID_INTERFAZ])
REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] CHECK CONSTRAINT [FK_INTERFAZ_MOV_CTACTE_INTERFA]
GO
ALTER TABLE movimientos_ctacte ADD CONSTRAINT FK_MOVIMIENTOS_CANALVENTA 
			FOREIGN KEY (id_canal_venta) REFERENCES canales_venta(id_canal_venta)
GO

alter table CLIENTES add constraint FK_CLIENTES_TERMINOS_CONDICIONES 
			foreign key (ID_TERMINOS_CONDICIONES) references TERMINOS_CONDICIONES_LEGALES(ID_TERMINOS_CONDICIONES)
GO

ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTOS_TIPOSMOVIMIENTO] FOREIGN KEY([ID_TIPO_MOVIMIENTO_CTACTE])
REFERENCES [dbo].[TIPOS_MOVIMIENTOS_CTACTE] ([ID_TIPO_MOVIMIENTO_CTACTE])
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] CHECK CONSTRAINT [FK_MOVIMIENTOS_TIPOSMOVIMIENTO]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE]  WITH CHECK ADD  CONSTRAINT [R_19] FOREIGN KEY([ID_CUENTA_CORRIENTE])
REFERENCES [dbo].[CUENTAS_CORRIENTES] ([ID_CUENTA_CORRIENTE])
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] CHECK CONSTRAINT [R_19]
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE]  WITH CHECK ADD  CONSTRAINT [R_24] FOREIGN KEY([ID_RESERVA])
REFERENCES [dbo].[RESERVAS] ([ID_RESERVA])
GO
ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] CHECK CONSTRAINT [R_24]
GO
ALTER TABLE [dbo].[PARAMETROS_VALOR]  WITH CHECK ADD  CONSTRAINT [FK_PARAMVALOR_PARAMETROS] FOREIGN KEY([ID_PARAMETRO])
REFERENCES [dbo].[PARAMETROS] ([ID_PARAMETRO])
GO
ALTER TABLE [dbo].[PARAMETROS_VALOR] CHECK CONSTRAINT [FK_PARAMVALOR_PARAMETROS]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_RESERVAS] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_CLIENTES_RESERVAS]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAS_ESTADOSRESERVAS] FOREIGN KEY([ID_ESTADO_RESERVA])
REFERENCES [dbo].[ESTADOS_RESERVAS] ([ID_ESTADO_RESERVA])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_RESERVAS_ESTADOSRESERVAS]
GO
ALTER TABLE [dbo].[CUENTAS_CORRIENTES]  WITH CHECK ADD  CONSTRAINT [Saldo_mayor_a_cero_1919329716] CHECK  (([saldo]>=(0)))
GO
ALTER TABLE [dbo].[CUENTAS_CORRIENTES] CHECK CONSTRAINT [Saldo_mayor_a_cero_1919329716]
GO
ALTER TABLE [dbo].[TIPOS_MOVIMIENTOS_CTACTE]  WITH CHECK ADD  CONSTRAINT [CH_FACTOR_1323234320] CHECK  (([FACTOR]=(-1) OR [FACTOR]=(1)))
GO
ALTER TABLE [dbo].[TIPOS_MOVIMIENTOS_CTACTE] CHECK CONSTRAINT [CH_FACTOR_1323234320]
GO
alter table clientes add constraint FK_ESTADO_CLIENTE FOREIGN KEY (ID_TIPO_ESTADO_CLIENTE) REFERENCES TIPO_ESTADO_CLIENTES(id)
GO
alter table clientes add constraint FK_TIPOS_DOC FOREIGN KEY (id_tipo_doc_persona) REFERENCES TIPOS_DOC_PERSONAS(id_tipo_doc_persona)
GO
alter table clientes add constraint FK_CLIENTES_DIRECCIONES_CLIENTES foreign key (id_direccion) references direcciones_clientes(id_direccion)
go
alter table direcciones_clientes add constraint FK_DIRECCIONES_LOCALIDAD foreign key (id_localidad) references localidades(id_localidad)
go
alter table clientes add constraint FK_CLIENTES_ESTADO_CIVIL foreign key (id_estado_civil) references estados_civiles(id)
go
alter table clientes add constraint FK_CLIENTES_NACIONALIDAD foreign key (nacionalidad) references paises(id_pais)
go
alter table provincias add constraint FK_PROVINCIAS_PAISES foreign key (id_pais) references paises(id_pais)
go
alter table localidades add constraint FK_LOCALIDADES_PROVINCIAS foreign key (id_provincia) references provincias (id_provincia)
go
ALTER TABLE TOTALES_RESERVAS_EXTRACCIONES ADD CONSTRAINT FK_TOTALES_USUARIO FOREIGN KEY(id_CLIENTE) REFERENCES clientes(id_cliente)
GO
ALTER TABLE TOTALES_RESERVAS_EXTRACCIONES ADD CONSTRAINT FK_TOTALES_MONEDA FOREIGN KEY(id_tipo_ctacte) REFERENCES tipos_ctacte(id_tipo_ctacte)
GO
ALTER TABLE [dbo].[CANALES_VENTA_TIPOS_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_CANALES_VENTA_TIPOS_TRANSACCIONES_CANALES_VENTAS] FOREIGN KEY([ID_CANAL_VENTA])
REFERENCES [dbo].[canales_venta] ([id_canal_venta])
GO

ALTER TABLE [dbo].[CANALES_VENTA_TIPOS_TRANSACCIONES] CHECK CONSTRAINT [FK_CANALES_VENTA_TIPOS_TRANSACCIONES_CANALES_VENTAS]
GO

ALTER TABLE [dbo].[CANALES_VENTA_TIPOS_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_CANALES_VENTA_TIPOS_TRANSACCIONES_TIPOS_TRANSACCIONES] FOREIGN KEY([ID_TIPO_TRANSACCION])
REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO

ALTER TABLE [dbo].[CANALES_VENTA_TIPOS_TRANSACCIONES] CHECK CONSTRAINT [FK_CANALES_VENTA_TIPOS_TRANSACCIONES_TIPOS_TRANSACCIONES]
GO

/****** Object:  Trigger [dbo].[TI_MOVIMIENTOS]    Script Date: 11/26/2013 2:28:08 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create  TRIGGER [dbo].[TI_MOVIMIENTOS] ON [dbo].[MOVIMIENTOS_CTACTE]
FOR INSERT

AS   
declare @v_saldo  numeric(10,2)
declare @v_monto  numeric(10,2)
declare @V_ID_INTERFAZ  int
declare @v_ID_CUENTA_CORRIENTE int

BEGIN

select @v_monto = monto ,@V_ID_INTERFAZ = ID_INTERFAZ, @v_ID_CUENTA_CORRIENTE = ID_CUENTA_CORRIENTE  FROM INSERTED 

select @v_SALDO = saldo  
FROM dbo.CUENTAS_CORRIENTES c 
where c.ID_CUENTA_CORRIENTE = @v_ID_CUENTA_CORRIENTE 

UPDATE dbo.CUENTAS_CORRIENTES
SET SALDO = @v_SALDO + @v_monto
WHERE ID_CUENTA_CORRIENTE = @v_ID_CUENTA_CORRIENTE


UPDATE m
    SET SALDO = @v_SALDO + @v_monto
    FROM dbo.MOVIMIENTOS_CTACTE M
    INNER JOIN inserted i on i.ID_MOVIMIENTO_CTACTE = M.ID_MOVIMIENTO_CTACTE



UPDATE dbo.INTERFACES 
SET
    CANT_OPERACIONES        = CANT_OPERACIONES + 1,         
    CANT_ACUM_OPERACIONES    = CANT_ACUM_OPERACIONES + @v_monto
WHERE ID_INTERFAZ =  @V_ID_INTERFAZ         


END


/********/

go

create schema stock
go

create table STOCK.PERIODOS
( id_periodo	bigint identity(1,1) primary key
, fecha_desde	datetime
, fecha_hasta	datetime
, fecha_proceso	datetime
, fecha_depuracion	datetime
, id_configuracion	bigint
)
go

create table STOCK.CONFIGURACION
( id_configuracion	bigint identity(1,1) primary key
, descripción	varchar(50)
, fecha_modif	datetime
)
go

create table STOCK.CONFIGURACION_PARAMETROS
( id_configuracion_detalle	bigint  identity(1,1) primary key
, id_configuracion	bigint
, id_parametros		bigint
, valor				varchar(4000)
, fecha_alta		datetime
)
go

create table STOCK.PARAMETROS
(id_parametros	bigint identity(1,1) primary key
, codigo	varchar(50)
, descripcion	varchar(100)
)
go

create table STOCK.CTACTE_COD_EXTERNO
( id_ctacte_cod_externo bigint identity(1,1) primary key
, id_cuenta_corriente bigint
, cod_externo varchar(13)
, saldo numeric(10,2)
, id_periodo bigint
)
go

create table STOCK.MOVIMIENTOS_DETALLE
( id_movimiento_detalle bigint identity(1,1) primary key
, id_movimiento_ctacte bigint
, importe numeric(10,2)
, id_ctacte_cod_externo bigint
, fecha_alta datetime
)
go

create table STOCK.TRANSACCION_CONTRA_MOVIMIENTO
( id_transaccion_contra_movimiento bigint identity(1,1) primary key
, ID_TIPO_MOVIMIENTO_CTACTE bigint
, ID_TIPO_MOVIMIENTO_CTACTE_CONTRA bigint
, codigo_parametros varchar(50)
)
go

alter table stock.TRANSACCION_CONTRA_MOVIMIENTO add constraint FK_TRANSACCION_CONTRA_MOVIMIENTO_TIPOS_MOVIMIENTOS_CTACTE foreign key (ID_TIPO_MOVIMIENTO_CTACTE) REFERENCES dbo.TIPOS_MOVIMIENTOS_CTACTE(ID_TIPO_MOVIMIENTO_CTACTE)
go
alter table stock.TRANSACCION_CONTRA_MOVIMIENTO add constraint FK_TRANSACCION_CONTRA_MOVIMIENTO_TIPOS_MOVIMIENTOS_CTACTE_CONTRA foreign key (ID_TIPO_MOVIMIENTO_CTACTE_CONTRA) REFERENCES dbo.TIPOS_MOVIMIENTOS_CTACTE(ID_TIPO_MOVIMIENTO_CTACTE)
go

insert into STOCK.TRANSACCION_CONTRA_MOVIMIENTO (ID_TIPO_MOVIMIENTO_CTACTE
, ID_TIPO_MOVIMIENTO_CTACTE_CONTRA 
, codigo_parametros ) values (2, 4, 'PREMIO')
insert into STOCK.TRANSACCION_CONTRA_MOVIMIENTO (ID_TIPO_MOVIMIENTO_CTACTE
, ID_TIPO_MOVIMIENTO_CTACTE_CONTRA 
, codigo_parametros ) values (5, 3, Null)
insert into STOCK.TRANSACCION_CONTRA_MOVIMIENTO (ID_TIPO_MOVIMIENTO_CTACTE
, ID_TIPO_MOVIMIENTO_CTACTE_CONTRA 
, codigo_parametros ) values (6, 4, Null)

alter table stock.CONFIGURACION_PARAMETROS add constraint FK_CONFIGURACION_PARAMETROS_PARAMETROS foreign key (id_parametros) REFERENCES stock.parametros(id_parametros)
go
alter table stock.CONFIGURACION_PARAMETROS add constraint FK_CONFIGURACION_PARAMETROS_CONFIGURACION foreign key (id_configuracion) REFERENCES stock.configuracion(id_configuracion)
go
alter table stock.PERIODOS add constraint FK_PERIODOS_CONFIGURACION foreign key (id_configuracion) references stock.configuracion(id_configuracion)
go
alter table stock.CTACTE_COD_EXTERNO add constraint FK_CTACTE_COD_EXTERNO_PERIODO foreign key (id_periodo) references stock.periodos(id_periodo)
go
alter table stock.CTACTE_COD_EXTERNO add constraint FK_CTACTE_COD_EXTERNO_CUENTAS_CORRIENTES foreign key (id_cuenta_corriente) references cuentas_corrientes(id_cuenta_corriente)
go
alter table stock.MOVIMIENTOS_DETALLE add constraint FK_MOVIMIENTO_DETALLE_MOVIMIENTOS_CTA_CTE foreign key (id_movimiento_ctacte) references movimientos_ctacte (id_movimiento_ctacte)
go
alter table stock.MOVIMIENTOS_DETALLE add constraint FK_MOVIMIENTO_DETALLE_CTACTE_COD_EXTERNO foreign key (id_ctacte_cod_externo) references stock.ctacte_cod_externo (id_ctacte_cod_externo)
go
alter table [stock].[CTACTE_COD_EXTERNO] add constraint CHK_SALDO check (saldo>=0)
GO

create trigger tr_movimientos_detalles 
on stock.movimientos_detalle
after insert
as
begin
	update stock.movimientos_detalle set fecha_alta = getdate() where id_movimiento_detalle in (select id_movimiento_detalle from inserted)
end
go

create trigger tr_configuracion_parametros 
on stock.configuracion_parametros
after insert
as
begin
	update stock.configuracion_parametros set fecha_alta = getdate() where id_configuracion_detalle in (select id_configuracion_detalle from inserted)
end
go

create trigger tr_configuracion 
on stock.configuracion_parametros
after insert, update
as
begin
	update stock.configuracion set fecha_modif = getdate() where id_configuracion in (select id_configuracion from inserted)
end
go

CREATE TABLE [dbo].[UNIDADES](
	[ID_UNIDAD] bigint NOT NULL,
	UNIDAD varchar(50) not null,
 CONSTRAINT [PK_UNIDADES] PRIMARY KEY CLUSTERED 
(
	[ID_UNIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [Datos]
) ON [Datos]
