/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          Fews.dez                                        */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Alter database script                           */
/* Created on:            2019-07-21 21:41                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Drop procedures                                                        */
/* ---------------------------------------------------------------------- */
DROP PROCEDURE [dbo].[FEWS_UPD_AST_FEWS_LOG_TMP]
GO

DROP PROCEDURE [dbo].[AST_PRUEBACONEXION]
GO

DROP PROCEDURE [dbo].[FEWS_PENDIENTES]
GO

DROP PROCEDURE [dbo].[FEWS_UPD_LOG_TIMER]
GO

DROP PROCEDURE [dbo].[AST_UPD_FEWS_ENCABEZADO_MACOR]
GO

DROP PROCEDURE [dbo].[FEWS_UPD_AST_FEWS_LOG_MACOR]
GO

DROP PROCEDURE [dbo].[AST_UPD_FEWS_ENCABEZADO_TMP]
GO


/* ---------------------------------------------------------------------- */
/* Drop foreign key constraints                                           */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [FK_DIRECCIONES_CLIENTES_CLIENTES]
GO

ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [FK_TIPO_ESTADO_CLIENTES_CLIENTES]
GO

ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [FK_TIPOS_DOC_PERSONAS_CLIENTES]
GO

ALTER TABLE [dbo].[FEWS_CMP_ASOC] DROP CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_CMP_ASOC]
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] DROP CONSTRAINT [FK_FEWS_FORMATO_PDF_FEWS_ENCABEZADO]
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] DROP CONSTRAINT [FK_INTERFACES_FEWS_ENCABEZADO]
GO

ALTER TABLE [dbo].[FEWS_TRIBUTO] DROP CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_TRIBUTO]
GO

ALTER TABLE [dbo].[INTERFACES] DROP CONSTRAINT [FK_CANALES_ACCESO_INTERFACES]
GO

ALTER TABLE [dbo].[ITEM_ROL] DROP CONSTRAINT [FK_ROL_ITEM_ROL]
GO

ALTER TABLE [dbo].[ITEM_ROL] DROP CONSTRAINT [FK_ITEM_ITEM_ROL]
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] DROP CONSTRAINT [FK_REGISTROS_TRANSACCIONES_LOG_TRANSACCIONES]
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] DROP CONSTRAINT [FK_TIPOS_TRANSACCIONES_LOG_TRANSACCIONES]
GO

ALTER TABLE [dbo].[PUNTO_VENTA] DROP CONSTRAINT [FK_INTERFACES_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[USUARIO] DROP CONSTRAINT [FK_ROL_USUARIO]
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] DROP CONSTRAINT [FK_USUARIO_USUARIO_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] DROP CONSTRAINT [FK_PUNTO_VENTA_USUARIO_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[LOG_TRANSACCION_HIS] DROP CONSTRAINT [FK_REGISTRO_TRANSACCION_HIS_LOG_TRANSACCION_HIS]
GO

ALTER TABLE [dbo].[LOG_TRANSACCION_HIS] DROP CONSTRAINT [FK_TIPOS_TRANSACCIONES_LOG_TRANSACCION_HIS]
GO

ALTER TABLE [dbo].[FEWS_XML] DROP CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_XML]
GO

ALTER TABLE [dbo].[REGISTRO_TRANSACCION_HIS] DROP CONSTRAINT [FK_INTERFACES_REGISTRO_TRANSACCION_HIS]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "REGISTRO_TRANSACCION_HIS"                                  */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[REGISTRO_TRANSACCION_HIS] DROP CONSTRAINT [PK_REGISTRO_TRANSACCION_HIS]
GO


/* Drop table */
DROP TABLE [dbo].[REGISTRO_TRANSACCION_HIS]
GO


/* ---------------------------------------------------------------------- */
/* Modify table "CLIENTES"                                                */
/* ---------------------------------------------------------------------- */
DROP INDEX [dbo].[CLIENTES].[TUC_CLIENTES_1]
GO

DROP INDEX [dbo].[CLIENTES].[TUC_CLIENTES_2]
GO

DROP INDEX [dbo].[CLIENTES].[TUC_CLIENTES_3]
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [TUC_CLIENTES_1] 
    UNIQUE ([USUARIO])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [TUC_CLIENTES_2] 
    UNIQUE ([ID_TIPO_DOC_PERSONA], [NRO_DOC])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [TUC_CLIENTES_3] 
    UNIQUE ([CUIT_CUIL])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "FEWS_CMP_ASOC"                                           */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[FEWS_CMP_ASOC] ADD
    [cuit] VARCHAR(20)
GO

ALTER TABLE [dbo].[FEWS_CMP_ASOC] ADD
    [fecha_cbte] VARCHAR(8)
GO


/* ---------------------------------------------------------------------- */
/* Modify table "FEWS_ENCABEZADO"                                         */
/* ---------------------------------------------------------------------- */
DROP INDEX [dbo].[FEWS_ENCABEZADO].[TUC_FEWS_ENCABEZADO_1]
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] ALTER COLUMN [cuit] VARCHAR(20)
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] ADD CONSTRAINT [TUC_FEWS_ENCABEZADO_1] 
    UNIQUE ([movimiento])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "FEWS_TRIBUTO"                                            */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[FEWS_TRIBUTO] DROP CONSTRAINT [PK_FEWS_TRIBUTO]
GO

ALTER TABLE [dbo].[FEWS_TRIBUTO] ALTER COLUMN [tributo_desc] VARCHAR(100)
GO

ALTER TABLE [dbo].[FEWS_TRIBUTO] ADD CONSTRAINT [PK_FEWS_TRIBUTO] 
    PRIMARY KEY CLUSTERED ([id], [tributo_id])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "INTERFACES"                                              */
/* ---------------------------------------------------------------------- */
DROP INDEX [dbo].[INTERFACES].[TUC_INTERFACES_1]
GO

ALTER TABLE [dbo].[INTERFACES] ALTER COLUMN [CUIT_SUSCRIPCION] VARCHAR(20)
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [TUC_INTERFACES_1] 
    UNIQUE ([CUIT_SUSCRIPCION])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "ITEM_ROL"                                                */
/* ---------------------------------------------------------------------- */
DROP INDEX [dbo].[ITEM_ROL].[TUC_ITEM_ROL_1]
GO

ALTER TABLE [dbo].[ITEM_ROL] ADD CONSTRAINT [TUC_ITEM_ROL_1] 
    UNIQUE ([id_rol], [id_item])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "LOG_TRANSACCIONES"                                       */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[LOG_TRANSACCIONES] ALTER COLUMN [OBSERVACION] VARCHAR(1000)
GO


/* ---------------------------------------------------------------------- */
/* Modify table "PUNTO_VENTA"                                             */
/* ---------------------------------------------------------------------- */
DROP INDEX [dbo].[PUNTO_VENTA].[TUC_PUNTO_VENTA_1]
GO

ALTER TABLE [dbo].[PUNTO_VENTA] ADD CONSTRAINT [TUC_PUNTO_VENTA_1] 
    UNIQUE ([ID_INTERFAZ], [PUNTO_VENTA])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "USUARIO"                                                 */
/* ---------------------------------------------------------------------- */
DROP INDEX [dbo].[USUARIO].[TUC_USUARIO_1]
GO

ALTER TABLE [dbo].[USUARIO] ADD CONSTRAINT [TUC_USUARIO_1] 
    UNIQUE ([usuario])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "USUARIO_PUNTO_VENTA"                                     */
/* ---------------------------------------------------------------------- */
DROP INDEX [dbo].[USUARIO_PUNTO_VENTA].[TUC_USUARIO_PUNTO_VENTA_1]
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] ADD CONSTRAINT [TUC_USUARIO_PUNTO_VENTA_1] 
    UNIQUE ([id_usuario], [id_punto_venta])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "LOG_TRANSACCION_HIS"                                     */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[LOG_TRANSACCION_HIS] DROP CONSTRAINT [PK_LOG_TRANSACCION_HIS]
GO

EXEC sp_rename '[dbo].[LOG_TRANSACCION_HIS]', 'LOG_TRANSACCIONES_HIS', 'OBJECT'
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES_HIS] ADD CONSTRAINT [PK_LOG_TRANSACCIONES_HIS] 
    PRIMARY KEY CLUSTERED ([ID_LOG_TRANSACCION])
GO


/* ---------------------------------------------------------------------- */
/* Add table "REGISTROS_TRANSACCIONES_HIS"                                */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS] (
    [ID_REGISTRO_TRANSACCION] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_INTERFAZ] BIGINT NOT NULL,
    [F_TRANSACCION] DATETIME NOT NULL,
    [COD_TRANSACCION] INTEGER NOT NULL,
    [DATOS_TRANSACCION] VARBINARY(max) NOT NULL,
    [SERVICIO] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_REGISTROS_TRANSACCIONES_HIS] PRIMARY KEY CLUSTERED ([ID_REGISTRO_TRANSACCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Modify table "FEWS_XML"                                                */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[FEWS_XML] DROP COLUMN [resultado]
GO

ALTER TABLE [dbo].[FEWS_XML] DROP COLUMN [err_msg]
GO

ALTER TABLE [dbo].[FEWS_XML] DROP COLUMN [obs]
GO

ALTER TABLE [dbo].[FEWS_XML] ALTER COLUMN [ts] TIMESTAMP
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "LOG_TIMER"                                    */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
ALTER TABLE [dbo].[LOG_TIMER] DROP CONSTRAINT [PK_LOG_TIMER]
GO

CREATE TABLE [LOG_TIMER_TMP] (
    [objeto_instanciado] VARCHAR(100) NOT NULL,
    [mensaje] TEXT,
    [fecha_ejecucion] DATETIME,
    [clase] VARCHAR(100),
    [metodo] VARCHAR(100),
    [espera] INTEGER,
    [periodo] INTEGER)
GO

INSERT INTO [LOG_TIMER_TMP]
    ([objeto_instanciado],[mensaje],[fecha_ejecucion],[clase],[metodo],[espera],[periodo])
SELECT
    [objeto_instanciado],[mensaje],[fecha_ejecucion],[clase],[metodo],[espera],[periodo]
FROM [dbo].[LOG_TIMER]
GO

DROP TABLE [dbo].[LOG_TIMER]
GO

EXEC sp_rename '[LOG_TIMER_TMP]', 'LOG_TIMER', 'OBJECT'
GO

ALTER TABLE [LOG_TIMER] ADD CONSTRAINT [PK_LOG_TIMER] 
    PRIMARY KEY CLUSTERED ([objeto_instanciado])
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_VENTAS_CBTE"                                         */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_VENTAS_CBTE] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [id_cabecera] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [movimiento] VARCHAR(20),
    [fecha_cbte] VARCHAR(8),
    [tipo_cbte] VARCHAR(3),
    [punto_vta] VARCHAR(5),
    [cbte_nro] VARCHAR(20),
    [cbte_nro_h] VARCHAR(20),
    [tipo_doc_comprador] VARCHAR(2) NOT NULL,
    [nro_doc_comprador] VARCHAR(20),
    [nombre_comprador] VARCHAR(30),
    [imp_total] VARCHAR(15),
    [imp_tot_conc] VARCHAR(15),
    [imp_perc_no_cat] VARCHAR(15),
    [imp_op_ex] VARCHAR(15),
    [imp_perc_nac] VARCHAR(15),
    [imp_perc_iibb] VARCHAR(15),
    [imp_perc_mun] VARCHAR(15),
    [imp_internos] VARCHAR(15),
    [moneda_id] VARCHAR(3),
    [moneda_ctz] VARCHAR(10),
    [cant_alic] VARCHAR(1),
    [cod_operacion] VARCHAR(1),
    [imp_otros_trib] VARCHAR(15),
    [fecha_venc_pago] VARCHAR(8),
    CONSTRAINT [PK_RG3685_VENTAS_CBTE] PRIMARY KEY CLUSTERED ([id])
)
GO

ALTER TABLE [RG3685_VENTAS_CBTE] ADD CONSTRAINT [TUC_RG3685_VENTAS_CBTE_1] 
    UNIQUE ([id_cabecera], [tipo_cbte], [punto_vta], [cbte_nro])
GO

ALTER TABLE [RG3685_VENTAS_CBTE] ADD CONSTRAINT [TUC_RG3685_VENTAS_CBTE_2] 
    UNIQUE ([movimiento])
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_COMPRAS_IMPORTACIONES"                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_COMPRAS_IMPORTACIONES] (
    [id_compra_cbte] INTEGER NOT NULL,
    [alic_iva] VARCHAR(4) NOT NULL,
    [tipo_reg] INTEGER,
    [dsp_importacion] VARCHAR(16),
    [imp_neto] VARCHAR(15),
    [imp_iva] VARCHAR(15),
    CONSTRAINT [PK_RG3685_COMPRAS_IMPORTACIONES] PRIMARY KEY CLUSTERED ([id_compra_cbte], [alic_iva])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_VENTAS_ALICUOTAS"                                    */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_VENTAS_ALICUOTAS] (
    [id_ventas_cbte] INTEGER NOT NULL,
    [id_alic_iva] VARCHAR(4) NOT NULL,
    [tipo_reg] INTEGER,
    [tipo_cbte] VARCHAR(3),
    [punto_vta] VARCHAR(5),
    [cbte_nro] VARCHAR(20),
    [imp_neto] VARCHAR(15),
    [imp_iva] VARCHAR(15),
    CONSTRAINT [PK_RG3685_VENTAS_ALICUOTAS] PRIMARY KEY CLUSTERED ([id_ventas_cbte], [id_alic_iva])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_CABECERA"                                            */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_CABECERA] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [tipo_reg] INTEGER,
    [cuit_informante] VARCHAR(11),
    [periodo] VARCHAR(6),
    [secuencia] VARCHAR(2),
    [sin_movimiento] VARCHAR(1),
    [prorratear_cf_cble] VARCHAR(1),
    [cf_global_cbte] VARCHAR(1),
    [importe_cf_cble_global] VARCHAR(15),
    [importe_cf_cble_asig_directa] VARCHAR(15),
    [importe_cf_cble_prorrateo] VARCHAR(15),
    [importe_cf_no_cble] VARCHAR(15),
    [cf_css_y_otros] VARCHAR(15),
    [cf_cble_css_y_otros] VARCHAR(15),
    CONSTRAINT [PK_RG3685_CABECERA] PRIMARY KEY CLUSTERED ([id])
)
GO

ALTER TABLE [RG3685_CABECERA] ADD CONSTRAINT [TUC_RG3685_CABECERA_1] 
    UNIQUE ([cuit_informante], [periodo])
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_COMPRAS_CBTE"                                        */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_COMPRAS_CBTE] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [id_cabecera] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [movimiento] VARCHAR(20),
    [fecha_cbte] VARCHAR(8),
    [tipo_cbte] VARCHAR(3),
    [punto_vta] VARCHAR(5),
    [cbte_nro] VARCHAR(20),
    [dsp_importacion] VARCHAR(15),
    [tipo_doc_vendedor] VARCHAR(2),
    [nro_doc_vendedor] VARCHAR(20),
    [nombre_vendedor] VARCHAR(30),
    [imp_total] VARCHAR(15),
    [imp_tot_conc] VARCHAR(15),
    [imp_op_ex] VARCHAR(15),
    [imp_perc_iva] VARCHAR(15),
    [imp_perc_nac] VARCHAR(15),
    [imp_perc_iibb] VARCHAR(15),
    [imp_perc_mun] VARCHAR(15),
    [imp_internos] VARCHAR(15),
    [moneda_id] VARCHAR(3),
    [moneda_ctz] VARCHAR(10),
    [cant_alic] VARCHAR(1),
    [cod_operacion] VARCHAR(1),
    [imp_cf_cble] VARCHAR(15),
    [imp_otros_trib] VARCHAR(15),
    [cuit_emisor] VARCHAR(11),
    [denom_emisor] VARCHAR(30),
    [iva_comision] VARCHAR(15),
    CONSTRAINT [PK_RG3685_COMPRAS_CBTE] PRIMARY KEY CLUSTERED ([id])
)
GO

ALTER TABLE [RG3685_COMPRAS_CBTE] ADD CONSTRAINT [TUC_RG3685_COMPRAS_CBTE_1] 
    UNIQUE ([id_cabecera], [tipo_cbte], [punto_vta], [cbte_nro], [tipo_doc_vendedor], [nro_doc_vendedor])
GO

ALTER TABLE [RG3685_COMPRAS_CBTE] ADD CONSTRAINT [TUC_RG3685_COMPRAS_CBTE_2] 
    UNIQUE ([movimiento])
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_COMPRAS_ALICUOTAS"                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_COMPRAS_ALICUOTAS] (
    [id_compras_cbte] INTEGER NOT NULL,
    [id_alic_iva] VARCHAR(4) NOT NULL,
    [tipo_reg] INTEGER,
    [tipo_cbte] VARCHAR(3),
    [punto_vta] VARCHAR(5),
    [cbte_nro] VARCHAR(20),
    [tipo_doc_vendedor] VARCHAR(2),
    [nro_doc_vendedor] VARCHAR(20),
    [imp_neto] VARCHAR(15),
    [imp_iva] VARCHAR(15),
    CONSTRAINT [PK_RG3685_COMPRAS_ALICUOTAS] PRIMARY KEY CLUSTERED ([id_compras_cbte], [id_alic_iva])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_CF_IMPORT_SERVICIOS"                                 */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_CF_IMPORT_SERVICIOS] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [id_cabecera] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [tipo_cbte] VARCHAR(1),
    [descripcion] VARCHAR(20),
    [identif_cbte] VARCHAR(20),
    [fecha_oper] VARCHAR(8),
    [imp_moneda_orig] VARCHAR(15),
    [moneda_id] VARCHAR(3),
    [moneda_ctz] VARCHAR(10),
    [cuit_prestador] VARCHAR(11),
    [nif_prestador] VARCHAR(20),
    [nombre_prestador] VARCHAR(30),
    [alic_aplic] VARCHAR(4),
    [fecha_ing_impuesto] VARCHAR(8),
    [imp_impuesto_ing] VARCHAR(15),
    [imp_impuesto_cble] VARCHAR(15),
    [identif_pago] VARCHAR(20),
    [cuit_entidad_pago] VARCHAR(11),
    CONSTRAINT [PK_RG3685_CF_IMPORT_SERVICIOS] PRIMARY KEY CLUSTERED ([id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_DATO_OPC"                                             */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_DATO_OPC] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [opcional_id] INTEGER NOT NULL,
    [valor] VARCHAR(200) NOT NULL,
    CONSTRAINT [PK_FEWS_DATO_OPC] PRIMARY KEY CLUSTERED ([id], [opcional_id], [valor])
)
GO


/* ---------------------------------------------------------------------- */
/* Add foreign key constraints                                            */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_DIRECCIONES_CLIENTES_CLIENTES] 
    FOREIGN KEY ([ID_DIRECCION]) REFERENCES [dbo].[DIRECCIONES_CLIENTES] ([ID_DIRECCION])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_TIPO_ESTADO_CLIENTES_CLIENTES] 
    FOREIGN KEY ([ID_TIPO_ESTADO_CLIENTE]) REFERENCES [dbo].[TIPO_ESTADO_CLIENTES] ([ID_TIPO_ESTADO_CLIENTE])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_TIPOS_DOC_PERSONAS_CLIENTES] 
    FOREIGN KEY ([ID_TIPO_DOC_PERSONA]) REFERENCES [dbo].[TIPOS_DOC_PERSONAS] ([ID_TIPO_DOC_PERSONA])
GO

ALTER TABLE [dbo].[FEWS_CMP_ASOC] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_CMP_ASOC] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] ADD CONSTRAINT [FK_FEWS_FORMATO_PDF_FEWS_ENCABEZADO] 
    FOREIGN KEY ([formato_id]) REFERENCES [dbo].[FEWS_FORMATO_PDF] ([formato_id])
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] ADD CONSTRAINT [FK_INTERFACES_FEWS_ENCABEZADO] 
    FOREIGN KEY ([id_interfaz]) REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO

ALTER TABLE [dbo].[FEWS_TRIBUTO] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_TRIBUTO] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [FK_CANALES_ACCESO_INTERFACES] 
    FOREIGN KEY ([ID_CANAL_ACCESO]) REFERENCES [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO])
GO

ALTER TABLE [dbo].[ITEM_ROL] ADD CONSTRAINT [FK_ITEM_ITEM_ROL] 
    FOREIGN KEY ([id_item]) REFERENCES [dbo].[ITEM] ([id])
GO

ALTER TABLE [dbo].[ITEM_ROL] ADD CONSTRAINT [FK_ROL_ITEM_ROL] 
    FOREIGN KEY ([id_rol]) REFERENCES [dbo].[ROL] ([id])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD CONSTRAINT [FK_REGISTROS_TRANSACCIONES_LOG_TRANSACCIONES] 
    FOREIGN KEY ([ID_REGISTRO_TRANSACCION]) REFERENCES [dbo].[REGISTROS_TRANSACCIONES] ([ID_REGISTRO_TRANSACCION])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD CONSTRAINT [FK_TIPOS_TRANSACCIONES_LOG_TRANSACCIONES] 
    FOREIGN KEY ([ID_TIPO_TRANSACCION]) REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO

ALTER TABLE [dbo].[PUNTO_VENTA] ADD CONSTRAINT [FK_INTERFACES_PUNTO_VENTA] 
    FOREIGN KEY ([ID_INTERFAZ]) REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO

ALTER TABLE [dbo].[USUARIO] ADD CONSTRAINT [FK_ROL_USUARIO] 
    FOREIGN KEY ([id_rol]) REFERENCES [dbo].[ROL] ([id])
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] ADD CONSTRAINT [FK_PUNTO_VENTA_USUARIO_PUNTO_VENTA] 
    FOREIGN KEY ([id_punto_venta]) REFERENCES [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA])
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] ADD CONSTRAINT [FK_USUARIO_USUARIO_PUNTO_VENTA] 
    FOREIGN KEY ([id_usuario]) REFERENCES [dbo].[USUARIO] ([id])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES_HIS] ADD CONSTRAINT [FK_REGISTROS_TRANSACCIONES_HIS_LOG_TRANSACCIONES_HIS] 
    FOREIGN KEY ([ID_REGISTRO_TRANSACCION]) REFERENCES [dbo].[REGISTROS_TRANSACCIONES_HIS] ([ID_REGISTRO_TRANSACCION])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES_HIS] ADD CONSTRAINT [FK_TIPOS_TRANSACCIONES_LOG_TRANSACCIONES_HIS] 
    FOREIGN KEY ([ID_TIPO_TRANSACCION]) REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO

ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS] ADD CONSTRAINT [FK_INTERFACES_REGISTROS_TRANSACCIONES_HIS] 
    FOREIGN KEY ([ID_INTERFAZ]) REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO

ALTER TABLE [dbo].[FEWS_XML] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_XML] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [RG3685_VENTAS_CBTE] ADD CONSTRAINT [FK_REL_RG3685_CABECERA_RG3685_VENTAS_CBTE] 
    FOREIGN KEY ([id_cabecera]) REFERENCES [RG3685_CABECERA] ([id])
GO

ALTER TABLE [RG3685_COMPRAS_IMPORTACIONES] ADD CONSTRAINT [FK_REL_RG3685_COMPRAS_CBTE_RG3685_COMPRAS_IMPORTACIONES] 
    FOREIGN KEY ([id_compra_cbte]) REFERENCES [RG3685_COMPRAS_CBTE] ([id])
GO

ALTER TABLE [RG3685_VENTAS_ALICUOTAS] ADD CONSTRAINT [FK_REL_RG3685_VENTAS_CBTE_RG3685_VENTAS_ALICUOTAS] 
    FOREIGN KEY ([id_ventas_cbte]) REFERENCES [RG3685_VENTAS_CBTE] ([id])
GO

ALTER TABLE [RG3685_COMPRAS_CBTE] ADD CONSTRAINT [FK_REL_RG3685_CABECERA_RG3685_COMPRAS_CBTE] 
    FOREIGN KEY ([id_cabecera]) REFERENCES [RG3685_CABECERA] ([id])
GO

ALTER TABLE [RG3685_COMPRAS_ALICUOTAS] ADD CONSTRAINT [FK_REL_RG3685_COMPRAS_CBTE_RG3685_COMPRAS_ALICUOTAS] 
    FOREIGN KEY ([id_compras_cbte]) REFERENCES [RG3685_COMPRAS_CBTE] ([id])
GO

ALTER TABLE [RG3685_CF_IMPORT_SERVICIOS] ADD CONSTRAINT [FK_REL_RG3685_CABECERA_RG3685_CF_IMPORT_SERVICIOS] 
    FOREIGN KEY ([id_cabecera]) REFERENCES [RG3685_CABECERA] ([id])
GO

ALTER TABLE [dbo].[FEWS_DATO_OPC] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_DATO_OPC] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO


/* ---------------------------------------------------------------------- */
/* Repair/add procedures                                                  */
/* ---------------------------------------------------------------------- */
CREATE PROCEDURE [FEWS_TMP_DATOS_INICIALES]
AS
BEGIN
SET NOCOUNT ON

/****** Object:  Table [dbo].[PARAMETROS]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (1, N'MIN_VIG_SESION', N'Vigencia de sesión', N'(en minutos) Es el tiempo que tiene para operar un sistema externo contra Sacca (por ej. el BGS Central). Pasado ese tiempo, el sistema externo deberá iniciar sesión nuevamente. (ej. 30)')
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (2, N'_PROXY_', N'Proxy de conexión', N'Dirección Proxy para conexión a Internet')
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (3, N'MODO_INTRFZ_9901', N'Modo para DEMO', N'Flag de Modo de Trabajo para Interfaz DEMO [HOMO|PROD]')

/***** ADMIFARM *****/

/****** Object:  Table [dbo].[PARAMETROS_VALOR]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA]) VALUES (1, 1, N'30', CAST(0x0000A13900000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime))
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA]) VALUES (2, 2, N'', CAST(0x0000A41300000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime))
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA]) VALUES (3, 3, N'HOMO', CAST(0x0000A41300000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime))

/***** ADMIFARM *****/

/****** Object:  Table [dbo].[CANALES_ACCESO]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (1, N'PUBLICO')
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (2, N'PRIVADO')
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (3, N'PUBLICO / PRIVADO')

/****** Object:  Table [dbo].[TIPOS_TRANSACCIONES]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [TIPO_TRANSACCION], [TRANSACCION_REST], [URL_REST]) VALUES (1001, N'autorizarComprobante', N'Autorizar Comprobante', N'autorizarComprobante', N'/autorizar/autorizarComprobante')
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [TIPO_TRANSACCION], [TRANSACCION_REST], [URL_REST]) VALUES (1002, N'consultarUltimoComprobante', N'Consultar Ultimo Comprobante', N'consultarUltimoComprobante', N'/consultar/ultimoComprobante')
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [TIPO_TRANSACCION], [TRANSACCION_REST], [URL_REST]) VALUES (1003, N'consultarComprobante', N'Consultar Comprobante', N'consultarComprobante', N'/consultar/comprobante')

/****** Object:  Table [dbo].[INTERFACES]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL], [CUIT_SUSCRIPCION]) 
	VALUES (9901, N'DEMO', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB'
			, N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N', N'20000000001')
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL], [CUIT_SUSCRIPCION]) 
	VALUES (9904, N'CONSOLA', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB'
			, N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N', N'27000000001')

/***** ADMIFARM *****/
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CUIT_SUSCRIPCION], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL]) 
	VALUES (2001, N'ADMIFARM GROUP SERVICIOS', N'30711897581', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB', N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N')

/****** Object:  Table [dbo].[PUNTO_VENTA]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA], [ID_INTERFAZ], [PUNTO_VENTA], [ACTIVADO], [FLG_CONTROL]) VALUES (9901, 9901, N'00001', N'S', N'N')

/***** ADMIFARM *****/
INSERT [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA], [ID_INTERFAZ], [PUNTO_VENTA], [ACTIVADO], [FLG_CONTROL]) VALUES (1, 2001, N'00002', N'S', N'N')
INSERT [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA], [ID_INTERFAZ], [PUNTO_VENTA], [ACTIVADO], [FLG_CONTROL]) VALUES (2, 2002, N'00014', N'S', N'N')

/****** Object:  Table [dbo].[ROL]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[ROL] ([id], [descripcion], [codigo], [visible]) VALUES (1, N'Administrator', N'ROLE_ADMIN', 1)

/****** Object:  Table [dbo].[USUARIO]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[USUARIO] ([id], [id_rol], [usuario], [password], [ultimo_acceso], [activo], [bloqueado], [reintento], [administrable], [apellido], [nombre], [mail], [cambia_clave], [version_ui], [visible], [theme]) 
	VALUES (1, 1, N'ADMIN', N'$2a$10$VIBSYlQLnDet3CbXIu8Fs.7b7iPXaE1ILmala9VDTnc8vu9M7QiQa', NULL, 1, 0, 0, 1, N'ADMIN', N'', N'admin@admifarmgroup.com', 0, N'1', 1, NULL)

/****** Object:  Table [dbo].[USUARIO_PUNTO_VENTA]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[USUARIO_PUNTO_VENTA] ([id], [id_usuario], [id_punto_venta]) VALUES (1, 1, 9901)

/***** ADMIFARM *****/
INSERT [dbo].[USUARIO_PUNTO_VENTA] ([id], [id_usuario], [id_punto_venta]) VALUES (2, 1, 1)
INSERT [dbo].[USUARIO_PUNTO_VENTA] ([id], [id_usuario], [id_punto_venta]) VALUES (3, 1, 2)

/****** Object:  Table [dbo].[SECCION]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (1, N'Usuarios', 1, N'SEC_USR', N'')
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (2, N'Configuracion', 3, N'SEC_CFG', N'')
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (3, N'Registros', 2, N'SEC_REG', N'')

/****** Object:  Table [dbo].[ITEM]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (1, 1, N'Administración', 1, N'/secure/usuarios/administracion.xhtml', N'flaticon-usuarios', N'SI_ADM_USR', NULL)
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (2, 3, N'Registros', 1, N'/secure/registraciones/registros.xhtml', N'flaticon-log_oper', N'SI_REG_LOG', NULL)
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (3, 2, N'Párametros', 1, N'/secure/configuraciones/parametros.xhtml', N'flaticon-config', N'SI_CFG_PAR', NULL)
--INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (4, 3, N'Log', 2, N'/secure/administracion/log.xhtml', N'flaticon-log_oper', N'SI_LOG_LOG', NULL)
--INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (5, 3, N'Facturas', 2, N'/secure/facturacion/fewsMovimientos.xhtml', N'flaticon-log_oper', N'SI_REG_FAC', NULL)

/***** ADMIFARM *****/

/****** Object:  Table [dbo].[ITEM_ROL]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (1, 1, 1)
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (2, 1, 2)
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (3, 1, 3)
--INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (4, 1, 4)
--INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (5, 1, 5)

/***** ADMIFARM *****/

SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_UPD_AST_FEWS_LOG]
	@id int
AS
BEGIN 
SET NOCOUNT ON
	
	update FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG
	set resultado=fenc.resultado,
		cae=fenc.cae,
		fecha_vencimiento=fenc.fecha_vto,
		err_msg=fenc.err_msg,
		obs=fenc.motivo,
		codigo=fxml.codigo,
		descripcion=fxml.descripcion,
		observacion=fxml.observacion,
		excepcion_wsaa=fxml.excepcion_wsaa,
		excepcion_wsfev1=fxml.excepcion_wsfev1,
		xml_request_afip=fxml.xml_request,
		xml_response_afip=fxml.xml_response
	
	from fews_encabezado fenc
		, fews_xml fxml
		, FINNEGANS.FINN_Admifarm.dbo.ast_fews_log astl

	where 1=1
		and fenc.id=@id
		and fenc.id=fxml.id
		and cuit_empresa=fenc.cuit
		and convert(int, tipo_comprobante)=fenc.tipo_cbte
		and convert(int, punto_venta)=fenc.punto_vta
		and convert(int, numero_comprobante)=fenc.cbte_nro
	
	--por ahora no se usa, se envia un default ...
	select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

	--por ahora no se usa, se envia un default ...
	RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_UPD_AST_FEWS_LOG_tmp]
	@id int
AS
BEGIN 
SET NOCOUNT ON
	
	update TMP_ADMIFARM.dbo.ast_fews_log --FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG
	set resultado=fenc.resultado,
		cae=fenc.cae,
		fecha_vencimiento=fenc.fecha_vto,
		err_msg=fenc.err_msg,
		obs=fenc.motivo,
		codigo=fxml.codigo,
		descripcion=fxml.descripcion,
		observacion=fxml.observacion,
		excepcion_wsaa=fxml.excepcion_wsaa,
		excepcion_wsfev1=fxml.excepcion_wsfev1,
		xml_request_afip=fxml.xml_request,
		xml_response_afip=fxml.xml_response
	
	from fews_encabezado fenc, fews_xml fxml, TMP_ADMIFARM.dbo.ast_fews_log astl--FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG

	where 1=1
		and fenc.id=@id
		and fenc.id=fxml.id
		and cuit_empresa=fenc.cuit
		and convert(int, tipo_comprobante)=fenc.tipo_cbte
		and convert(int, punto_venta)=fenc.punto_vta
		and convert(int, numero_comprobante)=fenc.cbte_nro
	
	--por ahora no se usa, se envia un default ...
	select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

	--por ahora no se usa, se envia un default ...
	RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [AST_UPD_FEWS_ENCABEZADO]
AS
BEGIN
SET NOCOUNT ON

--Borro todos los comprobantes pendientes
delete FEWS_XML
from FEWS_XML x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_TRIBUTO
from FEWS_TRIBUTO x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id
	
delete FEWS_IVA
from FEWS_IVA x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_ENCABEZADO
from FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')

--Recupera lo proximo a autorizarse en AST por cada CUIT, TIPO COMPROBANTE, PUNTO VENTA
select CUIT_EMPRESA CE, TIPO_COMPROBANTE TC, PUNTO_VENTA PV, min(NUMERO_COMPROBANTE) NC, convert(int, TIPO_COMPROBANTE ) NTC, convert(int, PUNTO_VENTA) NPV, convert(int, min(NUMERO_COMPROBANTE)) NNC, 0 IDC
, (select top 1 id_interfaz from INTERFACES where CUIT_SUSCRIPCION=CUIT_EMPRESA COLLATE DATABASE_DEFAULT) ID_INTERFAZ
into #pen
from FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG
where RESULTADO is null or RESULTADO <> 'A'
group by CUIT_EMPRESA, TIPO_COMPROBANTE, PUNTO_VENTA

--Verifica que todos los CUIT EMPRESA tengan ID_INTERFAZ
if not exists(select top 1 CE from #pen where ID_INTERFAZ is null)
begin
	
	--Inserto los encabezados que no existen
	INSERT INTO FEWS_ENCABEZADO (
		CUIT,
		TIPO_DOC,
		NRO_DOC,
		TIPO_CBTE,
		PUNTO_VTA,
		CBTE_NRO,
		FECHA_CBTE,
		CONCEPTO,
		MONEDA_ID,
		MONEDA_CTZ,
		IMP_TOTAL,
		IMP_NETO,
		IMP_TOT_CONC,
		IMP_OP_EX,
		IMP_IVA,
		IMP_TRIB,
		fecha_serv_desde
		, fecha_serv_hasta
		, fecha_venc_pago
		, movimiento
		, id_interfaz )
	SELECT 
		CUIT_EMPRESA,
		TIPODOC_CLIENTE,
		NRODOC_CLIENTE,
		TIPO_COMPROBANTE,
		PUNTO_VENTA,
		NUMERO_COMPROBANTE,
		FECHA_COMPROBANTE,
		CONCEPTO_FACTURA,
		MONEDA,
		l.MONEDA_CTZ,
		IMPORTE_TOTAL,
		NETO_GRAVADO,
		NETO_NOGRAVADO,
		NETO_EXENTO,
		IVA_TOTAL,
		TRIBUTOS_TOTAL
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, right('00000'+CONVERT(varchar(5), p.ID_INTERFAZ),5)
			+right('000'+CONVERT(varchar(3), NTC),3)
			+right('00000'+CONVERT(varchar(5), NPV),5)
			+right('00000000'+CONVERT(varchar(8), NNC),8)
		, p.ID_INTERFAZ
	FROM FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG l
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and e.id is null

	--Obtiene los ID de los encabezados insertados / actualizados
	update #pen
	set idc = id
	from FEWS_ENCABEZADO, #pen
	where cuit=CE COLLATE DATABASE_DEFAULT
		and tipo_cbte=NTC
		and punto_vta=NPV
		and cbte_nro=NNC
		
	--INSERTA EN FEWS_IVA
	INSERT INTO FEWS_IVA(
		ID,
		IVA_ID,
		BASE_IMP,
		IMPORTE)
	SELECT
		ID=IDC,
		IVA_ID= CASE AST_FEWS_LOG_IVA.PORCENTAJE
					WHEN 10.5 THEN	4
					WHEN 21 THEN	5
					WHEN 27 THEN	6
				END ,
		BASE_IMP=AST_FEWS_LOG_IVA.NETO_GRAVADO,
		IMPORTE=AST_FEWS_LOG_IVA.IMPORTE
	FROM FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG_IVA
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')

	--INSERTA E FEWS_TRIBUTO
	INSERT INTO FEWS_TRIBUTO(
		ID,
		TRIBUTO_ID,
		TRIBUTO_DESC,
		IMPORTE)
	SELECT
		ID=IDC ,
		TRIBUTO_ID= AST_FEWS_LOG_TRIBUTOS.TRIBUTO_ID ,
		TRIBUTO_DESC=AST_FEWS_LOG_TRIBUTOS.DESCRPTION,
		IMPORTE=AST_FEWS_LOG_TRIBUTOS.IMPORTE
	FROM FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG_TRIBUTOS
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')
end 

--Actualizo los encabezados que existen
UPDATE FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG
SET resultado='R',
	cae=0,
	err_msg='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA',
	obs='CAE: '+ CONVERT(varchar(20), e.cae) + ' TOTAL: ' + convert(varchar(20), e.imp_total),
	codigo='14002',
	descripcion='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA'
FROM FEWS_ENCABEZADO e
	, FEWS_XML x
	, FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG l
	, #pen p
WHERE e.id=x.id
	and CUIT_EMPRESA=CE
	and TIPO_COMPROBANTE=TC
	and PUNTO_VENTA=PV
	and NUMERO_COMPROBANTE=NC
	and e.resultado='A' 
	and e.cuit=p.CE COLLATE DATABASE_DEFAULT 
	and e.tipo_cbte=p.NTC 
	and e.punto_vta=p.NPV 
	and e.cbte_nro=p.NNC

--por ahora no se usa, se envia un default ...
select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

--por ahora no se usa, se envia un default ...
RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [AST_UPD_FEWS_ENCABEZADO_tmp]
AS    
BEGIN
SET NOCOUNT ON

--Borro todos los comprobantes pendientes
delete FEWS_XML
from FEWS_XML x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_TRIBUTO
from FEWS_TRIBUTO x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id
	
delete FEWS_IVA
from FEWS_IVA x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_ENCABEZADO
from FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')

--Recupera lo proximo a autorizarse en AST por cada CUIT, TIPO COMPROBANTE, PUNTO VENTA
select CUIT_EMPRESA CE, TIPO_COMPROBANTE TC, PUNTO_VENTA PV, min(NUMERO_COMPROBANTE) NC, convert(int, TIPO_COMPROBANTE ) NTC, convert(int, PUNTO_VENTA) NPV, convert(int, min(NUMERO_COMPROBANTE)) NNC, 0 IDC
, (select top 1 id_interfaz from INTERFACES where CUIT_SUSCRIPCION=CUIT_EMPRESA COLLATE DATABASE_DEFAULT) ID_INTERFAZ
into #pen
from TMP_ADMIFARM.dbo.AST_FEWS_LOG
where RESULTADO is null or RESULTADO <> 'A'
group by CUIT_EMPRESA, TIPO_COMPROBANTE, PUNTO_VENTA

--Verifica que todos los CUIT EMPRESA tengan ID_INTERFAZ
if not exists(select top 1 CE from #pen where ID_INTERFAZ is null)
begin
	
	--Inserto los encabezados que no existen
	INSERT INTO FEWS_ENCABEZADO (
		CUIT,
		TIPO_DOC,
		NRO_DOC,
		TIPO_CBTE,
		PUNTO_VTA,
		CBTE_NRO,
		FECHA_CBTE,
		CONCEPTO,
		MONEDA_ID,
		MONEDA_CTZ,
		IMP_TOTAL,
		IMP_NETO,
		IMP_TOT_CONC,
		IMP_OP_EX,
		IMP_IVA,
		IMP_TRIB,
		fecha_serv_desde
		, fecha_serv_hasta
		, fecha_venc_pago
		, movimiento
		, id_interfaz )
	SELECT 
		CUIT_EMPRESA,
		TIPODOC_CLIENTE,
		NRODOC_CLIENTE,
		TIPO_COMPROBANTE,
		PUNTO_VENTA,
		NUMERO_COMPROBANTE,
		FECHA_COMPROBANTE,
		CONCEPTO_FACTURA,
		MONEDA,
		l.MONEDA_CTZ,
		IMPORTE_TOTAL,
		NETO_GRAVADO,
		NETO_NOGRAVADO,
		NETO_EXENTO,
		IVA_TOTAL,
		TRIBUTOS_TOTAL
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, right('00000'+CONVERT(varchar(5), p.ID_INTERFAZ),5)
			+right('000'+CONVERT(varchar(3), NTC),3)
			+right('00000'+CONVERT(varchar(5), NPV),5)
			+right('00000000'+CONVERT(varchar(8), NNC),8)
		, p.ID_INTERFAZ
	FROM TMP_ADMIFARM.dbo.AST_FEWS_LOG l
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and e.id is null

	--Obtiene los ID de los encabezados insertados / actualizados
	update #pen
	set idc = id
	from FEWS_ENCABEZADO, #pen
	where cuit=CE COLLATE DATABASE_DEFAULT
		and tipo_cbte=NTC
		and punto_vta=NPV
		and cbte_nro=NNC
		
	--INSERTA EN FEWS_IVA
	INSERT INTO FEWS_IVA(
		ID,
		IVA_ID,
		BASE_IMP,
		IMPORTE)
	SELECT
		ID=IDC,
		IVA_ID= CASE AST_FEWS_LOG_IVA.PORCENTAJE
					WHEN 10.5 THEN	4
					WHEN 21 THEN	5
					WHEN 27 THEN	6
				END ,
		BASE_IMP=AST_FEWS_LOG_IVA.NETO_GRAVADO,
		IMPORTE=AST_FEWS_LOG_IVA.IMPORTE
	FROM TMP_ADMIFARM.dbo.AST_FEWS_LOG_IVA
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')

	--INSERTA E FEWS_TRIBUTO
	INSERT INTO FEWS_TRIBUTO(
		ID,
		TRIBUTO_ID,
		TRIBUTO_DESC,
		IMPORTE)
	SELECT
		ID=IDC ,
		TRIBUTO_ID= AST_FEWS_LOG_TRIBUTOS.TRIBUTO_ID ,
		TRIBUTO_DESC=AST_FEWS_LOG_TRIBUTOS.DESCRPTION,
		IMPORTE=AST_FEWS_LOG_TRIBUTOS.IMPORTE
	FROM TMP_ADMIFARM.dbo.AST_FEWS_LOG_TRIBUTOS
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')
end 

--Actualizo los encabezados que existen
UPDATE TMP_ADMIFARM.dbo.AST_FEWS_LOG
SET resultado='R',
	cae=0,
	err_msg='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA',
	obs='CAE: '+ CONVERT(varchar(20), e.cae) + ' TOTAL: ' + convert(varchar(20), e.imp_total),
	codigo='14002',
	descripcion='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA'
FROM FEWS_ENCABEZADO e
	, FEWS_XML x
	, TMP_ADMIFARM.dbo.AST_FEWS_LOG l
	, #pen p
WHERE e.id=x.id
	and CUIT_EMPRESA=CE
	and TIPO_COMPROBANTE=TC
	and PUNTO_VENTA=PV
	and NUMERO_COMPROBANTE=NC
	and e.resultado='A' 
	and e.cuit=p.CE COLLATE DATABASE_DEFAULT 
	and e.tipo_cbte=p.NTC 
	and e.punto_vta=p.NPV 
	and e.cbte_nro=p.NNC

--por ahora no se usa, se envia un default ...
select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

--por ahora no se usa, se envia un default ...
RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_PENDIENTES]
AS    
BEGIN
set nocount on

select fenc.*
from fews_encabezado fenc ,
(select cuit, tipo_cbte, punto_vta, min(cbte_nro) cbte_nro 
from fews_encabezado fenc
where fenc.resultado<>'A' or fenc.resultado is null 
group by cuit, tipo_cbte, punto_vta) pen
where fenc.cuit=pen.cuit
	and fenc.tipo_cbte=pen.tipo_cbte
	and fenc.punto_vta=pen.punto_vta
	and fenc.cbte_nro=pen.cbte_nro
order by fenc.cuit, fenc.tipo_cbte, fenc.punto_vta

set nocount on
END
GO

CREATE PROCEDURE [FEWS_UPD_LOG_TIMER]
	@objeto varchar(100),
	@opcion varchar(3)
AS    
BEGIN
set nocount on

	declare @cod int
	select @cod = 0
	
	if @opcion<>'UPD'
	begin
		if isnull((select top 1 datediff(ss, fecha_ejecucion, getdate()) from LOG_TIMER where objeto_instanciado = @objeto),999)>30
			select @cod = 20001
	end
	else
	begin
		if exists(select top 1 * from LOG_TIMER where objeto_instanciado = @objeto)
			update LOG_TIMER
			set fecha_ejecucion = getdate()
			where objeto_instanciado = @objeto
		else
			insert into LOG_TIMER (objeto_instanciado, fecha_ejecucion)
			values (@objeto, getdate())
	end

--por ahora no se usa, se envia un default ...
select @cod _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

--por ahora no se usa, se envia un default ...
RETURN 0
set nocount off
END
GO

