/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          Fews.dez                                        */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Alter database script                           */
/* Created on:            2019-08-09 12:06                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_CMP_ASOC"                                              */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_CMP_ASOC] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [tipo_cbte] INTEGER NOT NULL,
    [punto_vta] INTEGER NOT NULL,
    [cbte_nro] INTEGER NOT NULL,
    [cuit] VARCHAR(20),
    [fecha_cbte] VARCHAR(8),
    CONSTRAINT [PK_FEWS_CMP_ASOC] PRIMARY KEY CLUSTERED ([id], [tipo_cbte], [punto_vta], [cbte_nro])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_PERMISO"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_PERMISO] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [id_permiso] VARCHAR(16) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [dst_merc] INTEGER,
    CONSTRAINT [PK_FEWS_PERMISO] PRIMARY KEY CLUSTERED ([id], [id_permiso])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_DATO_OPC"                                              */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_DATO_OPC] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [opcional_id] INTEGER NOT NULL,
    [valor] VARCHAR(200) NOT NULL,
    CONSTRAINT [PK_FEWS_DATO_OPC] PRIMARY KEY CLUSTERED ([id], [opcional_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add foreign key constraints                                            */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[FEWS_CMP_ASOC] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_CMP_ASOC] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[FEWS_PERMISO] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_PERMISO] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[FEWS_DATO_OPC] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_DATO_OPC] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO
