/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          TMP_CERES.dez                                   */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Alter database script                           */
/* Created on:            2019-07-18 21:08                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Add table "AST_FEWS_LOG_DATOS_OPC"                                     */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[AST_FEWS_LOG_DATOS_OPC] (
    [AS_ID] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [CUIT_EMPRESA] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [TIPO_COMPROBANTE] VARCHAR(3) COLLATE Modern_Spanish_CI_AS,
    [PUNTO_VENTA] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [NUMERO_COMPROBANTE] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [ID_OPCIONAL] INTEGER,
    [VALOR] VARCHAR(200) COLLATE Modern_Spanish_CI_AS
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "AST_FEWS_LOG_CBTE_ASOC"                                     */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[AST_FEWS_LOG_CBTE_ASOC] (
    [AS_ID] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [CUIT_EMPRESA] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [TIPO_COMPROBANTE] VARCHAR(3) COLLATE Modern_Spanish_CI_AS,
    [PUNTO_VENTA] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [NUMERO_COMPROBANTE] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [TIPO_COMPROBANTE_ASOC] VARCHAR(3),
    [PUNTO_VENTA_ASOC] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [NUMERO_COMPROBANTE_ASOC] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [CUIT_ASOC] VARCHAR(20),
    [FECHA_COMPROBANTE_ASOC] VARCHAR(10)
)
GO

