/* ---------------------------------------------------------------------- */
/* Modify table "FEWS_CMP_ASOC"                                           */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[FEWS_CMP_ASOC] ADD
    [cuit] VARCHAR(20)
GO

ALTER TABLE [dbo].[FEWS_CMP_ASOC] ADD
    [fecha_cbte] VARCHAR(8)
GO

/* ---------------------------------------------------------------------- */
/* Add table "FEWS_DATO_OPC"                                             */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_DATO_OPC] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [opcional_id] INTEGER NOT NULL,
    [valor] VARCHAR(200) NOT NULL,
    CONSTRAINT [PK_FEWS_DATO_OPC] PRIMARY KEY CLUSTERED ([id], [opcional_id], [valor])
)
GO

/* ---------------------------------------------------------------------- */
/* Add foreign key constraints                                            */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[FEWS_DATO_OPC] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_DATO_OPC] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO
