/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          Fews.dez                                        */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Alter database script                           */
/* Created on:            2019-08-09 12:06                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_PERIODO_ASOC"                                              */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_PERIODO_ASOC] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [fecha_desde] VARCHAR(8),
    [fecha_hasta] VARCHAR(8),
    CONSTRAINT [PK_FEWS_PERIODO_ASOC] PRIMARY KEY CLUSTERED ([id])
)
GO

/* ---------------------------------------------------------------------- */
/* Add foreign key constraints                                            */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[FEWS_PERIODO_ASOC] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_PERIODO_ASOC] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

