/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          Project1.dez                                    */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Alter database script                           */
/* Created on:            2015-10-26 19:39                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Drop procedures                                                        */
/* ---------------------------------------------------------------------- */
DROP PROCEDURE [dbo].[sp_upgraddiagrams]
GO

DROP PROCEDURE [dbo].[sp_helpdiagrams]
GO

DROP PROCEDURE [dbo].[sp_helpdiagramdefinition]
GO

DROP PROCEDURE [dbo].[sp_creatediagram]
GO

DROP PROCEDURE [dbo].[sp_renamediagram]
GO

DROP PROCEDURE [dbo].[sp_alterdiagram]
GO

DROP PROCEDURE [dbo].[sp_dropdiagram]
GO

DROP FUNCTION [dbo].[fn_diagramobjects]
GO


/* ---------------------------------------------------------------------- */
/* Drop foreign key constraints                                           */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[INTERFACES] DROP CONSTRAINT [FK_INTERFACES_CANALES_ACCESO]
GO

ALTER TABLE [dbo].[ITEM] DROP CONSTRAINT [FK_ITEM_SECCION]
GO

ALTER TABLE [dbo].[ITEM_ROL] DROP CONSTRAINT [FK_ITEM_ROL_ITEM]
GO

ALTER TABLE [dbo].[ITEM_ROL] DROP CONSTRAINT [FK_ITEM_ROL_ROL]
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] DROP CONSTRAINT [FK_LOG_TRANSACCIONES_REGISTROS_TRANSACCIONES]
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] DROP CONSTRAINT [FK_LOG_TRANSACCIONES_TIPOS_TRANSACCIONES]
GO

ALTER TABLE [dbo].[PARAMETROS_VALOR] DROP CONSTRAINT [FK_PARAMETROS_VALOR_PARAMETROS]
GO

ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] DROP CONSTRAINT [FK_REGISTROS_TRANSACCIONES_INTERFACES]
GO

ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] DROP CONSTRAINT [FK_REGISTROS_TRANSACCIONES_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[USUARIO] DROP CONSTRAINT [FK_USUARIO_ROL]
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] DROP CONSTRAINT [FK_USUARIO_PUNTO_VENTA_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] DROP CONSTRAINT [FK_USUARIO_PUNTO_VENTA_USUARIO]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "PUNTO_VENTA"                                               */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[PUNTO_VENTA] DROP CONSTRAINT [PK_PUNTO_VENTA]
GO


/* Drop table */
DROP TABLE [dbo].[PUNTO_VENTA]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "USUARIO_PUNTO_VENTA"                                       */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] DROP CONSTRAINT [PK_USUARIO_PUNTO_VENTA]
GO


/* Drop table */
DROP TABLE [dbo].[USUARIO_PUNTO_VENTA]
GO


/* ---------------------------------------------------------------------- */
/* Add table "CANALES_VENTA"                                              */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[CANALES_VENTA] (
    [ID_CANAL_VENTA] BIGINT NOT NULL,
    [DESCRIPCION] VARCHAR(80) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK__CANALES___D1D6ED10173876EA] PRIMARY KEY CLUSTERED ([ID_CANAL_VENTA])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "CANALES_VENTA_TIPOS_TRANSACCIONES"                          */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[CANALES_VENTA_TIPOS_TRANSACCIONES] (
    [ID] BIGINT NOT NULL,
    [ID_CANAL_VENTA] BIGINT NOT NULL,
    [ID_TIPO_TRANSACCION] BIGINT NOT NULL,
    CONSTRAINT [PK_CANALES_VENTA_TIPOS_TRANSACCIONES] PRIMARY KEY CLUSTERED ([ID])
)
GO

CREATE UNIQUE NONCLUSTERED INDEX [UK_CANAL_TRANSACCION] ON [dbo].[CANALES_VENTA_TIPOS_TRANSACCIONES] ([ID_CANAL_VENTA] ASC,[ID_TIPO_TRANSACCION] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Add table "CELULARES_CLIENTES"                                         */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[CELULARES_CLIENTES] (
    [ID_CELULAR_CLIENTE] BIGINT IDENTITY(1,1) NOT NULL,
    [NRO_CELULAR] VARCHAR(15) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [ID_CLIENTE] BIGINT NOT NULL,
    [F_VIGENCIA_DESDE] DATETIME CONSTRAINT [Default_Value_284_120783606] DEFAULT getdate() NOT NULL,
    [F_VIGENCIA_HASTA] DATETIME CONSTRAINT [Default_Value_286_121832180] DEFAULT '09/09/9999' NOT NULL,
    CONSTRAINT [PK_CELULARES_CLIENTES] PRIMARY KEY CLUSTERED ([ID_CELULAR_CLIENTE])
)
GO

CREATE NONCLUSTERED INDEX [I_ID_CLIENTE_F_DESDE_F_HASTA] ON [dbo].[CELULARES_CLIENTES] ([ID_CLIENTE] ASC,[F_VIGENCIA_DESDE] ASC,[F_VIGENCIA_HASTA] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "CLIENTES"                                     */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
CREATE TABLE [dbo].[CLIENTES_TMP] (
    [ID_CLIENTE] BIGINT IDENTITY(1,10000) NOT NULL,
    [USUARIO] NVARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [NOMBRE] VARCHAR(80) COLLATE Modern_Spanish_CI_AS,
    [APELLIDO] VARCHAR(80) COLLATE Modern_Spanish_CI_AS,
    [ID_TIPO_DOC_PERSONA] BIGINT NOT NULL,
    [NRO_DOC] VARCHAR(15) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [ID_SEXO] BIGINT NOT NULL,
    [NACIONALIDAD] BIGINT,
    [F_NACIMIENTO] DATETIME,
    [ID_ESTADO_CIVIL] BIGINT,
    [CUIT_CUIL] VARCHAR(11) COLLATE Modern_Spanish_CI_AS,
    [ID_DIRECCION] BIGINT,
    [EMAIL] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [OCUPACION] VARCHAR(80) COLLATE Modern_Spanish_CI_AS,
    [PEP] TINYINT,
    [PIN] VARCHAR(128) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [codigo_blanqueo] VARCHAR(128) COLLATE Modern_Spanish_CI_AS,
    [F_ALTA] DATETIME CONSTRAINT [Default_Value_284_2007347065] DEFAULT getdate() NOT NULL,
    [ID_TERMINOS_CONDICIONES] BIGINT,
    [F_VIGENCIA_PIN] DATETIME NOT NULL,
    [ACCESOS_FALLIDOS] TINYINT NOT NULL,
    [FLG_HABILITADO] TINYINT NOT NULL,
    [ID_TIPO_ESTADO_CLIENTE] BIGINT NOT NULL)
GO


SET IDENTITY_INSERT [dbo].[CLIENTES_TMP] ON
GO


INSERT INTO [dbo].[CLIENTES_TMP]
    ([ID_CLIENTE],[USUARIO],[NOMBRE],[APELLIDO],[ID_TIPO_DOC_PERSONA],[NRO_DOC],[NACIONALIDAD],[F_NACIMIENTO],[ID_ESTADO_CIVIL],[CUIT_CUIL],[ID_DIRECCION],[EMAIL],[OCUPACION],[PEP],[PIN],[codigo_blanqueo],[F_ALTA],[ID_TERMINOS_CONDICIONES],[F_VIGENCIA_PIN],[ACCESOS_FALLIDOS],[FLG_HABILITADO],[ID_TIPO_ESTADO_CLIENTE])
SELECT
    [ID_CLIENTE],[USUARIO],[NOMBRE],[APELLIDO],[ID_TIPO_DOC_PERSONA],[NRO_DOC],[NACIONALIDAD],[F_NACIMIENTO],[ID_ESTADO_CIVIL],[CUIT_CUIL],[ID_DIRECCION],[EMAIL],[OCUPACION],[PEP],[PIN],[CODIGO_BLANQUEO],[F_ALTA],[ID_TERMINOS_CONDICIONES],[F_VIGENCIA_PIN],[ACCESOS_FALLIDOS],[FLG_HABILITADO],[ID_TIPO_ESTADO_CLIENTE]
FROM [dbo].[CLIENTES]
GO


SET IDENTITY_INSERT [dbo].[CLIENTES_TMP] OFF
GO


DROP TABLE [dbo].[CLIENTES]
GO

EXEC sp_rename '[dbo].[CLIENTES_TMP]', 'CLIENTES', 'OBJECT'
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [PK_CLIENTES] 
    PRIMARY KEY CLUSTERED ([ID_CLIENTE])
GO

CREATE UNIQUE NONCLUSTERED INDEX [UK_CLIENTES_NRODOC_TIPO_SEXO] ON [dbo].[CLIENTES] ([NRO_DOC] ASC,[ID_TIPO_DOC_PERSONA] ASC,[ID_SEXO] ASC)
GO

CREATE UNIQUE NONCLUSTERED INDEX [UQ__CLIENTES__E251F48422AA2996] ON [dbo].[CLIENTES] ([USUARIO] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Add table "COD_EXTERNOS_CLIENTES"                                      */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[COD_EXTERNOS_CLIENTES] (
    [ID_COD_EXTERNO_CLIENTE] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_CLIENTE] BIGINT NOT NULL,
    [COD_EXTERNO] VARCHAR(13) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [F_VIGENCIA_DESDE] DATETIME CONSTRAINT [Default_Value_284_1414027085] DEFAULT getdate() NOT NULL,
    [F_VIGENCIA_HASTA] DATETIME CONSTRAINT [Default_Value_286_1415075659] DEFAULT '09/09/9999' NOT NULL,
    [ID_PROVINCIA] BIGINT CONSTRAINT [Default_Value_235_234940645] DEFAULT 0 NOT NULL,
    CONSTRAINT [PK_COD_EXTERNOS_CLIENTES] PRIMARY KEY CLUSTERED ([ID_COD_EXTERNO_CLIENTE])
)
GO

CREATE NONCLUSTERED INDEX [I_COD_EXT_CLIENTES_COD_EXT] ON [dbo].[COD_EXTERNOS_CLIENTES] ([COD_EXTERNO] ASC)
GO

CREATE UNIQUE NONCLUSTERED INDEX [I_COD_EXT_CLIENTES_IDCLI_FHAST] ON [dbo].[COD_EXTERNOS_CLIENTES] ([ID_CLIENTE] ASC,[F_VIGENCIA_HASTA] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Add table "CUENTAS_CORRIENTES"                                         */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[CUENTAS_CORRIENTES] (
    [ID_CUENTA_CORRIENTE] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_CLIENTE] BIGINT NOT NULL,
    [F_VIGENCIA_DESDE] DATETIME CONSTRAINT [Default_Value_284_539689727] DEFAULT getdate() NOT NULL,
    [F_VIGENCIA_HASTA] DATETIME CONSTRAINT [Default_Value_286_540738301] DEFAULT '09/09/9999' NOT NULL,
    [ID_TIPO_CTACTE] BIGINT NOT NULL,
    [SALDO] NUMERIC(10,2) CONSTRAINT [Default_Value_235_1211909440] DEFAULT 0 NOT NULL,
    CONSTRAINT [PK_CUENTAS_CORRIENTES] PRIMARY KEY CLUSTERED ([ID_CUENTA_CORRIENTE])
)
GO

CREATE UNIQUE NONCLUSTERED INDEX [UK_CTACTE_CLIENTE_TIPOCTA_FVH] ON [dbo].[CUENTAS_CORRIENTES] ([ID_CLIENTE] ASC,[ID_TIPO_CTACTE] ASC,[F_VIGENCIA_HASTA] ASC)
GO

ALTER TABLE [dbo].[CUENTAS_CORRIENTES] ADD CONSTRAINT [Saldo_mayor_a_cero_1919329716] 
    CHECK ([saldo]>=(0))
GO


/* ---------------------------------------------------------------------- */
/* Add table "DIRECCIONES_CLIENTES"                                       */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[DIRECCIONES_CLIENTES] (
    [ID_DIRECCION] BIGINT IDENTITY(1,1) NOT NULL,
    [CALLE] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [NUMERO] VARCHAR(10) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [PISO] VARCHAR(5) COLLATE Modern_Spanish_CI_AS,
    [DEPARTAMENTO] VARCHAR(5) COLLATE Modern_Spanish_CI_AS,
    [ID_LOCALIDAD] BIGINT NOT NULL,
    [LOCALIDAD_ALTERNATIVA] VARCHAR(80) COLLATE Modern_Spanish_CI_AS,
    [COD_POSTAL] VARCHAR(10) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK__DIRECCIO__FC7E9E8E267ABA7A] PRIMARY KEY CLUSTERED ([ID_DIRECCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "ESTADOS_CIVILES"                                            */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[ESTADOS_CIVILES] (
    [ID] BIGINT NOT NULL,
    [DESCRIPCION] VARCHAR(30) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK__ESTADOS___3214EC274AB81AF0] PRIMARY KEY CLUSTERED ([ID])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "ESTADOS_RESERVAS"                                           */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[ESTADOS_RESERVAS] (
    [ID_ESTADO_RESERVA] BIGINT NOT NULL,
    [ESTADO_RESERVA] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_ESTADOS_RESERVAS] PRIMARY KEY CLUSTERED ([ID_ESTADO_RESERVA])
)
GO


/* ---------------------------------------------------------------------- */
/* Modify table "INTERFACES"                                              */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[INTERFACES] ALTER COLUMN [CLAVE] VARCHAR(128) NOT NULL
GO

ALTER TABLE [dbo].[INTERFACES] ALTER COLUMN [ACTIVADO] VARCHAR(20) NOT NULL
GO

ALTER TABLE [dbo].[INTERFACES] ALTER COLUMN [CANT_OPERACIONES] INTEGER NOT NULL
GO

ALTER TABLE [dbo].[INTERFACES] ALTER COLUMN [CANT_ACUM_OPERACIONES] NUMERIC(10,2) NOT NULL
GO

ALTER TABLE [dbo].[INTERFACES] ALTER COLUMN [ID_CANAL_ACCESO] BIGINT NOT NULL
GO

ALTER TABLE [dbo].[INTERFACES] ALTER COLUMN [FLG_CONTROL] CHAR(1) NOT NULL
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [Default_Value_235_1263040641] 
    DEFAULT ('0') FOR [CLAVE]
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [Default_Value_875_1611076137] 
    DEFAULT ('S') FOR [ACTIVADO]
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [DF__INTERFACE__CANT___778AC167] 
    DEFAULT (0) FOR [CANT_OPERACIONES]
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [DF__INTERFACE__CANT___787EE5A0] 
    DEFAULT (0) FOR [CANT_ACUM_OPERACIONES]
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [Default_Value_675_1462600037] 
    DEFAULT (3) FOR [ID_CANAL_ACCESO]
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [Default_Value_880_66269505] 
    DEFAULT ('N') FOR [FLG_CONTROL]
GO


/* ---------------------------------------------------------------------- */
/* Modify table "ITEM"                                                    */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[ITEM] DROP CONSTRAINT [PK_ITEM]
GO

ALTER TABLE [dbo].[ITEM] ADD
    [TARGET] VARCHAR(10) COLLATE Modern_Spanish_CI_AS
GO

ALTER TABLE [dbo].[ITEM] ADD CONSTRAINT [pk_item] 
    PRIMARY KEY CLUSTERED ([id])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "ITEM_ROL"                                                */
/* ---------------------------------------------------------------------- */
DROP INDEX [dbo].[ITEM_ROL].[IX_ITEM_ROL]
GO

ALTER TABLE [dbo].[ITEM_ROL] DROP CONSTRAINT [PK_ITEM_ROL]
GO

ALTER TABLE [dbo].[ITEM_ROL] ADD CONSTRAINT [pk_item_rol] 
    PRIMARY KEY CLUSTERED ([id])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "LOCALIDADES"                                             */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[LOCALIDADES] ADD CONSTRAINT [PK__LOCALIDA__469BEBBD4E88ABD4] 
    PRIMARY KEY CLUSTERED ([ID_LOCALIDAD])
GO


/* ---------------------------------------------------------------------- */
/* Add table "LOG_CONSOLA"                                                */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[LOG_CONSOLA] (
    [ID] BIGINT IDENTITY(1,1) NOT NULL,
    [FECHA] DATETIME NOT NULL,
    [USUARIO] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [URL] VARCHAR(150) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [DATOS_OPERACION] VARCHAR(4000) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_LOG_CONSOLA] PRIMARY KEY CLUSTERED ([ID])
)
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "LOG_TRANSACCIONES"                            */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
ALTER TABLE [dbo].[LOG_TRANSACCIONES] DROP CONSTRAINT [PK_LOG_TRANSACCIONES]
GO

CREATE TABLE [dbo].[LOG_TRANSACCIONES_TMP] (
    [ID_LOG_TRANSACCION] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_CLIENTE] BIGINT,
    [F_INICIO_OPERACION] DATETIME CONSTRAINT [Default_Value_284_1329334790] DEFAULT getdate() NOT NULL,
    [F_FIN_OPERACION] DATETIME CONSTRAINT [Default_Value_284_403453418] DEFAULT getdate() NOT NULL,
    [ID_TIPO_TRANSACCION] BIGINT NOT NULL,
    [ENTRADA] TEXT COLLATE Modern_Spanish_CI_AS,
    [SALIDA] TEXT COLLATE Modern_Spanish_CI_AS,
    [ID_REGISTRO_TRANSACCION] BIGINT NOT NULL)
GO


SET IDENTITY_INSERT [dbo].[LOG_TRANSACCIONES_TMP] ON
GO


INSERT INTO [dbo].[LOG_TRANSACCIONES_TMP]
    ([ID_LOG_TRANSACCION],[ID_CLIENTE],[F_INICIO_OPERACION],[F_FIN_OPERACION],[ID_TIPO_TRANSACCION],[ID_REGISTRO_TRANSACCION])
SELECT
    [ID_LOG_TRANSACCION],[ID_CLIENTE],[F_INICIO_OPERACION],[F_FIN_OPERACION],[ID_TIPO_TRANSACCION],[ID_REGISTRO_TRANSACCION]
FROM [dbo].[LOG_TRANSACCIONES]
GO


SET IDENTITY_INSERT [dbo].[LOG_TRANSACCIONES_TMP] OFF
GO


DROP TABLE [dbo].[LOG_TRANSACCIONES]
GO

EXEC sp_rename '[dbo].[LOG_TRANSACCIONES_TMP]', 'LOG_TRANSACCIONES', 'OBJECT'
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD CONSTRAINT [PK_LOG_TRANSACCIONES] 
    PRIMARY KEY CLUSTERED ([ID_LOG_TRANSACCION])
GO

CREATE NONCLUSTERED INDEX [I_F_INICIO_OPERACION] ON [dbo].[LOG_TRANSACCIONES] ([F_INICIO_OPERACION] ASC)
GO

CREATE NONCLUSTERED INDEX [I_LOG_TRANS_ID_CLIENTE] ON [dbo].[LOG_TRANSACCIONES] ([ID_CLIENTE] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "LOG_TRANSACCIONES_HIS"                        */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
CREATE TABLE [dbo].[LOG_TRANSACCIONES_HIS_TMP] (
    [ID_LOG_TRANSACCION] BIGINT NOT NULL,
    [ID_CLIENTE] BIGINT,
    [F_INICIO_OPERACION] DATETIME CONSTRAINT [Default_Value_284_1566879153] DEFAULT getdate() NOT NULL,
    [F_FIN_OPERACION] DATETIME CONSTRAINT [Default_Value_284_1195119466] DEFAULT getdate() NOT NULL,
    [ID_TIPO_TRANSACCION] BIGINT NOT NULL,
    [ENTRADA] TEXT COLLATE Modern_Spanish_CI_AS,
    [SALIDA] TEXT COLLATE Modern_Spanish_CI_AS,
    [ID_REGISTRO_TRANSACCION] BIGINT NOT NULL,
    [F_PROCESO] DATETIME CONSTRAINT [Default_Value_284_1476205394] DEFAULT getdate() NOT NULL)
GO

INSERT INTO [dbo].[LOG_TRANSACCIONES_HIS_TMP]
    ([ID_LOG_TRANSACCION],[ID_CLIENTE],[F_INICIO_OPERACION],[F_FIN_OPERACION],[ID_TIPO_TRANSACCION],[ID_REGISTRO_TRANSACCION],[F_PROCESO])
SELECT
    [ID_LOG_TRANSACCION],[ID_CLIENTE],[F_INICIO_OPERACION],[F_FIN_OPERACION],[ID_TIPO_TRANSACCION],[ID_REGISTRO_TRANSACCION],[F_PROCESO]
FROM [dbo].[LOG_TRANSACCIONES_HIS]
GO

DROP TABLE [dbo].[LOG_TRANSACCIONES_HIS]
GO

EXEC sp_rename '[dbo].[LOG_TRANSACCIONES_HIS_TMP]', 'LOG_TRANSACCIONES_HIS', 'OBJECT'
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES_HIS] ADD CONSTRAINT [PK_LOG_TRANSACCIONES_HIS] 
    PRIMARY KEY CLUSTERED ([ID_LOG_TRANSACCION])
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "LOGS_AUDITORIA"                               */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
ALTER TABLE [dbo].[LOGS_AUDITORIA] DROP CONSTRAINT [PK_LOGS_AUDITORIA]
GO

CREATE TABLE [dbo].[LOGS_AUDITORIA_TMP] (
    [ID_LOG_AUDITORIA] BIGINT NOT NULL,
    [F_LOG] DATETIME CONSTRAINT [Default_Value_386_485484533] DEFAULT getdate() NOT NULL,
    [COD_CONSOLA] INTEGER,
    [CONSOLA] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [OPERADOR] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [OPERACION] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [RESULTADO] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [COD_RESULTADO] INTEGER IDENTITY(1,1) NOT NULL,
    [SERVIDOR] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS)
GO


SET IDENTITY_INSERT [dbo].[LOGS_AUDITORIA_TMP] ON
GO


INSERT INTO [dbo].[LOGS_AUDITORIA_TMP]
    ([ID_LOG_AUDITORIA],[F_LOG],[COD_CONSOLA],[CONSOLA],[OPERADOR],[OPERACION],[RESULTADO],[COD_RESULTADO],[SERVIDOR])
SELECT
    [ID_LOG_AUDITORIA],[F_LOG],[COD_CONSOLA],[CONSOLA],[OPERADOR],[OPERACION],[RESULTADO],[COD_RESULTADO],[SERVIDOR]
FROM [dbo].[LOGS_AUDITORIA]
GO


SET IDENTITY_INSERT [dbo].[LOGS_AUDITORIA_TMP] OFF
GO


DROP TABLE [dbo].[LOGS_AUDITORIA]
GO

EXEC sp_rename '[dbo].[LOGS_AUDITORIA_TMP]', 'LOGS_AUDITORIA', 'OBJECT'
GO

ALTER TABLE [dbo].[LOGS_AUDITORIA] ADD CONSTRAINT [PK_LOGS_AUDITORIA] 
    PRIMARY KEY CLUSTERED ([ID_LOG_AUDITORIA])
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "LOGS_GENERICOS"                               */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
ALTER TABLE [dbo].[LOGS_GENERICOS] DROP CONSTRAINT [PK_LOGS_GENERICOS]
GO

CREATE TABLE [dbo].[LOGS_GENERICOS_TMP] (
    [ID_LOG] BIGINT IDENTITY(1,1) NOT NULL,
    [PROCESO] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [DESCRIPCION] VARCHAR(4000) COLLATE Modern_Spanish_CI_AS,
    [F_PROCESO] DATETIME NOT NULL,
    [ESTADO_PROCESO] INTEGER NOT NULL)
GO


SET IDENTITY_INSERT [dbo].[LOGS_GENERICOS_TMP] ON
GO


INSERT INTO [dbo].[LOGS_GENERICOS_TMP]
    ([ID_LOG],[PROCESO],[DESCRIPCION],[F_PROCESO],[ESTADO_PROCESO])
SELECT
    [ID_LOG],[PROCESO],[DESCRIPCION],[F_PROCESO],[ESTADO_PROCESO]
FROM [dbo].[LOGS_GENERICOS]
GO


SET IDENTITY_INSERT [dbo].[LOGS_GENERICOS_TMP] OFF
GO


DROP TABLE [dbo].[LOGS_GENERICOS]
GO

EXEC sp_rename '[dbo].[LOGS_GENERICOS_TMP]', 'LOGS_GENERICOS', 'OBJECT'
GO

ALTER TABLE [dbo].[LOGS_GENERICOS] ADD CONSTRAINT [PK_LOGS_GENERICOS] 
    PRIMARY KEY CLUSTERED ([ID_LOG])
GO


/* ---------------------------------------------------------------------- */
/* Add table "MOVIMIENTOS_CTACTE"                                         */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[MOVIMIENTOS_CTACTE] (
    [ID_MOVIMIENTO_CTACTE] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_TIPO_MOVIMIENTO_CTACTE] BIGINT NOT NULL,
    [MONTO] NUMERIC(10,2) NOT NULL,
    [ID_CUENTA_CORRIENTE] BIGINT NOT NULL,
    [F_MOVIMIENTO] DATETIME CONSTRAINT [Default_Value_284_1007757381] DEFAULT getdate() NOT NULL,
    [COD_EXTERNO_RECIBIDO] VARCHAR(12) COLLATE Modern_Spanish_CI_AS,
    [COD_EXTERNO] VARCHAR(12) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [ID_RESERVA] BIGINT,
    [SALDO] NUMERIC(10,2) CONSTRAINT [Default_Value_235_1698642982] DEFAULT 0 NOT NULL,
    [MOTIVO] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    [ID_INTERFAZ] BIGINT CONSTRAINT [Default_Value_235_1601311033] DEFAULT 0 NOT NULL,
    [ID_CANAL_VENTA] BIGINT NOT NULL,
    [COD_OPERACION] CHAR(10) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_MOVIMIENTOS_CTACTE] PRIMARY KEY CLUSTERED ([ID_MOVIMIENTO_CTACTE])
)
GO

CREATE NONCLUSTERED INDEX [I_F_MOVIMIENTO] ON [dbo].[MOVIMIENTOS_CTACTE] ([F_MOVIMIENTO] ASC)
GO

CREATE NONCLUSTERED INDEX [I_MOV_CTACTE_ID_CTA_CORRIENTE] ON [dbo].[MOVIMIENTOS_CTACTE] ([ID_CUENTA_CORRIENTE] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Add table "MOVIMIENTOS_CTACTE_HIS"                                     */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[MOVIMIENTOS_CTACTE_HIS] (
    [ID_MOVIMIENTO_CTACTE] BIGINT NOT NULL,
    [ID_TIPO_MOVIMIENTO_CTACTE] BIGINT NOT NULL,
    [MONTO] NUMERIC(10,2) NOT NULL,
    [ID_CUENTA_CORRIENTE] BIGINT NOT NULL,
    [F_MOVIMIENTO] DATETIME NOT NULL,
    [COD_EXTERNO_RECIBIDO] VARCHAR(13) COLLATE Modern_Spanish_CI_AS,
    [COD_EXTERNO] VARCHAR(13) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [ID_RESERVA] BIGINT,
    [SALDO] NUMERIC(10,2) CONSTRAINT [Default_Value_235_1366123666] DEFAULT 0 NOT NULL,
    [MOTIVO] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    [ID_INTERFAZ] BIGINT NOT NULL,
    [ID_CANAL_VENTA] BIGINT NOT NULL,
    [COD_OPERACION] CHAR(10) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [F_PROCESO] DATETIME CONSTRAINT [Default_Value_284_135011634] DEFAULT getdate() NOT NULL,
    CONSTRAINT [PK_MOVIMIENTOS_CTACTE_HIS] PRIMARY KEY CLUSTERED ([ID_MOVIMIENTO_CTACTE])
)
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "NUM_CODIGO_OPERACION"                         */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
CREATE TABLE [dbo].[NUM_CODIGO_OPERACION_TMP] (
    [NUMERO] BIGINT IDENTITY(1,1) NOT NULL)
GO


SET IDENTITY_INSERT [dbo].[NUM_CODIGO_OPERACION_TMP] ON
GO


INSERT INTO [dbo].[NUM_CODIGO_OPERACION_TMP]
    ([NUMERO])
SELECT
    [NUMERO]
FROM [dbo].[NUM_CODIGO_OPERACION]
GO


SET IDENTITY_INSERT [dbo].[NUM_CODIGO_OPERACION_TMP] OFF
GO


DROP TABLE [dbo].[NUM_CODIGO_OPERACION]
GO

EXEC sp_rename '[dbo].[NUM_CODIGO_OPERACION_TMP]', 'NUM_CODIGO_OPERACION', 'OBJECT'
GO


/* ---------------------------------------------------------------------- */
/* Modify table "PAISES"                                                  */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[PAISES] ADD CONSTRAINT [PK__PAISES__B68D33A15812160E] 
    PRIMARY KEY CLUSTERED ([ID_PAIS])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "PARAMETROS"                                              */
/* ---------------------------------------------------------------------- */
CREATE UNIQUE NONCLUSTERED INDEX [UK_PARAMETROS_PARAMETRO] ON [dbo].[PARAMETROS] ([PARAMETRO] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Modify table "PARAMETROS_VALOR"                                        */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[PARAMETROS_VALOR] ALTER COLUMN [ID_PROVINCIA] BIGINT NOT NULL
GO

ALTER TABLE [dbo].[PARAMETROS_VALOR] ADD CONSTRAINT [Default_Value_235_1882357566] 
    DEFAULT (0) FOR [ID_PROVINCIA]
GO

CREATE UNIQUE NONCLUSTERED INDEX [UK_PARAMVA_IDPAR_IDENT_FVD_FVH] ON [dbo].[PARAMETROS_VALOR] ([F_VIGENCIA_DESDE] ASC,[F_VIGENCIA_HASTA] ASC,[ID_PARAMETRO] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Add table "PIN_CLIENTES"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[PIN_CLIENTES] (
    [ID_PIN] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_CLIENTE] BIGINT NOT NULL,
    [PIN] VARCHAR(128) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [F_VALIDEZ_HASTA] DATETIME CONSTRAINT [DF__PIN_CLIEN__F_VAL__2F10007B] DEFAULT '9/9/9999' NOT NULL,
    CONSTRAINT [PK__PIN_CLIE__20AFC1D52D27B809] PRIMARY KEY CLUSTERED ([ID_PIN])
)
GO


/* ---------------------------------------------------------------------- */
/* Modify table "PROVINCIAS"                                              */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[PROVINCIAS] ADD CONSTRAINT [PK_PROVINCIAS] 
    PRIMARY KEY CLUSTERED ([ID_PROVINCIA])
GO

CREATE UNIQUE NONCLUSTERED INDEX [UK_PROVINCIAS] ON [dbo].[PROVINCIAS] ([COD_PROVINCIA] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "REGISTROS_TRANSACCIONES"                      */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] DROP CONSTRAINT [PK_REGISTROS_TRANSACCIONES]
GO

CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES_TMP] (
    [ID_REGISTRO_TRANSACCION] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_INTERFAZ] BIGINT NOT NULL,
    [ID_CANAL_VENTA] BIGINT NOT NULL,
    [F_TRANSACCION] DATETIME NOT NULL,
    [COD_TRANSACCION] INTEGER NOT NULL,
    [DATOS_TRANSACCION] VARBINARY(max) NOT NULL,
    [SERVICIO] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL)
GO


SET IDENTITY_INSERT [dbo].[REGISTROS_TRANSACCIONES_TMP] ON
GO


INSERT INTO [dbo].[REGISTROS_TRANSACCIONES_TMP]
    ([ID_REGISTRO_TRANSACCION],[ID_INTERFAZ],[ID_CANAL_VENTA],[F_TRANSACCION],[COD_TRANSACCION],[DATOS_TRANSACCION],[SERVICIO])
SELECT
    [ID_REGISTRO_TRANSACCION],[ID_INTERFAZ],[id_canal_venta],[F_TRANSACCION],[COD_TRANSACCION],[DATOS_TRANSACCION],[SERVICIO]
FROM [dbo].[REGISTROS_TRANSACCIONES]
GO


SET IDENTITY_INSERT [dbo].[REGISTROS_TRANSACCIONES_TMP] OFF
GO


DROP TABLE [dbo].[REGISTROS_TRANSACCIONES]
GO

EXEC sp_rename '[dbo].[REGISTROS_TRANSACCIONES_TMP]', 'REGISTROS_TRANSACCIONES', 'OBJECT'
GO

ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] ADD CONSTRAINT [PK_REGISTROS_TRANSACCIONES] 
    PRIMARY KEY CLUSTERED ([ID_REGISTRO_TRANSACCION])
GO

CREATE NONCLUSTERED INDEX [I_F_TRANSACCION] ON [dbo].[REGISTROS_TRANSACCIONES] ([F_TRANSACCION] ASC)
GO

CREATE UNIQUE NONCLUSTERED INDEX [UK_REGISTROS_TRANSACCIONES] ON [dbo].[REGISTROS_TRANSACCIONES] ([COD_TRANSACCION] ASC,[ID_INTERFAZ] ASC,[F_TRANSACCION] ASC,[SERVICIO] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "REGISTROS_TRANSACCIONES_HIS"                  */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS_TMP] (
    [ID_REGISTRO_TRANSACCION] BIGINT NOT NULL,
    [ID_INTERFAZ] BIGINT NOT NULL,
    [ID_CANAL_VENTA] BIGINT NOT NULL,
    [F_TRANSACCION] DATETIME NOT NULL,
    [COD_TRANSACCION] INTEGER NOT NULL,
    [DATOS_TRANSACCION] VARBINARY(max) NOT NULL,
    [SERVICIO] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [F_PROCESO] DATETIME CONSTRAINT [Default_Value_284_1095773792] DEFAULT getdate() NOT NULL)
GO

INSERT INTO [dbo].[REGISTROS_TRANSACCIONES_HIS_TMP]
    ([ID_REGISTRO_TRANSACCION],[ID_INTERFAZ],[ID_CANAL_VENTA],[F_TRANSACCION],[COD_TRANSACCION],[DATOS_TRANSACCION],[SERVICIO],[F_PROCESO])
SELECT
    [ID_REGISTRO_TRANSACCION],[ID_INTERFAZ],[id_canal_venta],[F_TRANSACCION],[COD_TRANSACCION],[DATOS_TRANSACCION],[SERVICIO],[F_PROCESO]
FROM [dbo].[REGISTROS_TRANSACCIONES_HIS]
GO

DROP TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS]
GO

EXEC sp_rename '[dbo].[REGISTROS_TRANSACCIONES_HIS_TMP]', 'REGISTROS_TRANSACCIONES_HIS', 'OBJECT'
GO

CREATE UNIQUE CLUSTERED INDEX [PK_REGISTROS_TRANSACCIONES_HIS] ON [dbo].[REGISTROS_TRANSACCIONES_HIS] ([ID_REGISTRO_TRANSACCION] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RESERVAS"                                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[RESERVAS] (
    [ID_RESERVA] BIGINT IDENTITY(1,1) NOT NULL,
    [CODIGO_RESERVA] VARCHAR(128) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [F_RESERVA] DATETIME CONSTRAINT [Default_Value_284_877793815] DEFAULT getdate() NOT NULL,
    [ID_ESTADO_RESERVA] BIGINT NOT NULL,
    [F_EXTRACCION] DATETIME CONSTRAINT [Default_Value_286_686027054] DEFAULT '09/09/9999' NOT NULL,
    [ID_CLIENTE] BIGINT CONSTRAINT [Default_Value_235_1123559453] DEFAULT 0 NOT NULL,
    [F_VENCIMIENTO] DATETIME CONSTRAINT [Default_Value_286_351879215] DEFAULT '09/09/9999' NOT NULL,
    CONSTRAINT [PK_RESERVAS] PRIMARY KEY CLUSTERED ([ID_RESERVA])
)
GO

CREATE NONCLUSTERED INDEX [I_F_RESERVA] ON [dbo].[RESERVAS] ([F_EXTRACCION] ASC,[F_VENCIMIENTO] ASC,[ID_ESTADO_RESERVA] ASC)
GO

CREATE UNIQUE NONCLUSTERED INDEX [UK_RESERVAS_COD_RES_ESTADO_RE] ON [dbo].[RESERVAS] ([CODIGO_RESERVA] ASC,[ID_ESTADO_RESERVA] ASC,[ID_CLIENTE] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RESERVAS_HIS"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[RESERVAS_HIS] (
    [ID_RESERVA] BIGINT NOT NULL,
    [CODIGO_RESERVA] VARCHAR(128) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [F_RESERVA] DATETIME NOT NULL,
    [ID_ESTADO_RESERVA] BIGINT NOT NULL,
    [F_EXTRACCION] DATETIME CONSTRAINT [Default_Value_286_1898792077] DEFAULT '09/09/9999' NOT NULL,
    [ID_CLIENTE] BIGINT NOT NULL,
    [F_VENCIMIENTO] DATETIME CONSTRAINT [Default_Value_286_1582079863] DEFAULT '09/09/9999' NOT NULL,
    [F_PROCESO] DATETIME CONSTRAINT [Default_Value_284_101406512] DEFAULT getdate() NOT NULL
)
GO


/* ---------------------------------------------------------------------- */
/* Modify table "ROL"                                                     */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[ROL] DROP CONSTRAINT [PK_ROL]
GO

ALTER TABLE [dbo].[ROL] ALTER COLUMN [visible] BIT NOT NULL
GO

ALTER TABLE [dbo].[ROL] ADD CONSTRAINT [DF__ROL__visible__0BC6C43E] 
    DEFAULT (true) FOR [visible]
GO

ALTER TABLE [dbo].[ROL] ADD CONSTRAINT [pk_rol] 
    PRIMARY KEY CLUSTERED ([id])
GO


/* ---------------------------------------------------------------------- */
/* Modify table "SECCION"                                                 */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[SECCION] DROP CONSTRAINT [PK_SECCION]
GO

ALTER TABLE [dbo].[SECCION] ADD CONSTRAINT [pk_seccion] 
    PRIMARY KEY CLUSTERED ([id])
GO


/* ---------------------------------------------------------------------- */
/* Add table "SEXOS"                                                      */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[SEXOS] (
    [ID_SEXO] BIGINT NOT NULL,
    [SEXO] VARCHAR(10) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_SEXOS] PRIMARY KEY CLUSTERED ([ID_SEXO])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "TERMINOS_CONDICIONES_LEGALES"                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[TERMINOS_CONDICIONES_LEGALES] (
    [ID_TERMINOS_CONDICIONES] BIGINT IDENTITY(1,1) NOT NULL,
    [VERSION] VARCHAR(30) COLLATE Modern_Spanish_CI_AS,
    [FECHA_ACEPTACION] DATETIME,
    [FECHA_LIMITE_VALIDEZ] DATETIME,
    CONSTRAINT [PK__TERMINOS__03E35FF152593CB8] PRIMARY KEY CLUSTERED ([ID_TERMINOS_CONDICIONES])
)
GO


/* ---------------------------------------------------------------------- */
/* Modify table "TIPO_ESTADO_CLIENTES"                                    */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[TIPO_ESTADO_CLIENTES] ADD CONSTRAINT [PK__TIPO_EST__3213E83F1CF15040] 
    PRIMARY KEY CLUSTERED ([id])
GO


/* ---------------------------------------------------------------------- */
/* Add table "TIPOS_CTACTE"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[TIPOS_CTACTE] (
    [ID_TIPO_CTACTE] BIGINT NOT NULL,
    [TIPO_CTA_CORRIENTE] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_TIPOS_CTACTE] PRIMARY KEY CLUSTERED ([ID_TIPO_CTACTE])
)
GO


/* ---------------------------------------------------------------------- */
/* Modify table "TIPOS_DOC_PERSONAS"                                      */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[TIPOS_DOC_PERSONAS] ADD CONSTRAINT [PK_TIPOS_DOC_PERSONAS] 
    PRIMARY KEY CLUSTERED ([ID_TIPO_DOC_PERSONA])
GO


/* ---------------------------------------------------------------------- */
/* Add table "TIPOS_MOVIMIENTOS_CTACTE"                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[TIPOS_MOVIMIENTOS_CTACTE] (
    [ID_TIPO_MOVIMIENTO_CTACTE] BIGINT NOT NULL,
    [CODIGO] VARCHAR(30) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [CODIGO_EXPORTACION] VARCHAR(1) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [TIPO_MOVIMIENTO] VARCHAR(30) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [FACTOR] SMALLINT NOT NULL,
    [DESC_CORTA] VARCHAR(14) COLLATE Modern_Spanish_CI_AS CONSTRAINT [Default_Value_935_112191965] DEFAULT 'F' NOT NULL,
    CONSTRAINT [PK_TIPOS_MOVIMIENTOS_CTACTE] PRIMARY KEY CLUSTERED ([ID_TIPO_MOVIMIENTO_CTACTE])
)
GO

ALTER TABLE [dbo].[TIPOS_MOVIMIENTOS_CTACTE] ADD CONSTRAINT [CH_FACTOR_1323234320] 
    CHECK ([FACTOR]=(-1) OR [FACTOR]=(1))
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "TIPOS_TRANSACCIONES"                          */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
ALTER TABLE [dbo].[TIPOS_TRANSACCIONES] DROP CONSTRAINT [PK_TIPOS_TRANSACCIONES]
GO

CREATE TABLE [dbo].[TIPOS_TRANSACCIONES_TMP] (
    [ID_TIPO_TRANSACCION] BIGINT NOT NULL,
    [NOMBRE] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [TRANSACCION] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [TRANSACCION_REST] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [URL_REST] VARCHAR(80) COLLATE Modern_Spanish_CI_AS)
GO

INSERT INTO [dbo].[TIPOS_TRANSACCIONES_TMP]
    ([ID_TIPO_TRANSACCION],[NOMBRE],[TRANSACCION],[TRANSACCION_REST],[URL_REST])
SELECT
    [ID_TIPO_TRANSACCION],[nombre],[TRANSACCION],[transaccion_rest],[url_rest]
FROM [dbo].[TIPOS_TRANSACCIONES]
GO

DROP TABLE [dbo].[TIPOS_TRANSACCIONES]
GO

EXEC sp_rename '[dbo].[TIPOS_TRANSACCIONES_TMP]', 'TIPOS_TRANSACCIONES', 'OBJECT'
GO

ALTER TABLE [dbo].[TIPOS_TRANSACCIONES] ADD CONSTRAINT [PK_TIPOS_TRANSACCIONES] 
    PRIMARY KEY CLUSTERED ([ID_TIPO_TRANSACCION])
GO

CREATE UNIQUE NONCLUSTERED INDEX [UK_TIPOS_TRANSACCIONES_URL_REST] ON [dbo].[TIPOS_TRANSACCIONES] ([URL_REST] ASC)
GO


/* ---------------------------------------------------------------------- */
/* Add table "TOTALES_RESERVAS_EXTRACCIONES"                              */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[TOTALES_RESERVAS_EXTRACCIONES] (
    [ID_CLIENTE] BIGINT,
    [FECHA] DATETIME,
    [ID_TIPO_CTACTE] BIGINT,
    [CANTIDAD_RESERVAS] INTEGER,
    [MONTO_RESERVAS] DECIMAL(10,2),
    [CANTIDAD_RETIROS] INTEGER,
    [MONTO_RETIROS] DECIMAL(10,2),
    [MONTO_CARGAS] DECIMAL(10,2)
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "UNIDADES"                                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[UNIDADES] (
    [ID_UNIDAD] BIGINT NOT NULL,
    [UNIDAD] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_UNIDADES] PRIMARY KEY CLUSTERED ([ID_UNIDAD])
)
GO


/* ---------------------------------------------------------------------- */
/* Drop and recreate table "USUARIO"                                      */
/* ---------------------------------------------------------------------- */

/* Table must be recreated because some of the changes can't be done with the regular commands available. */
ALTER TABLE [dbo].[USUARIO] DROP CONSTRAINT [PK_USUARIO]
GO

CREATE TABLE [dbo].[USUARIO_TMP] (
    [id] BIGINT IDENTITY(1,1) NOT NULL,
    [id_rol] BIGINT,
    [usuario] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [password] VARCHAR(40) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [ultimo_acceso] DATETIME,
    [activo] BIT CONSTRAINT [DF__USUARIO__activo__0CBAE877] DEFAULT true,
    [bloqueado] BIT CONSTRAINT [DF__USUARIO__bloquea__0DAF0CB0] DEFAULT false,
    [reintento] INTEGER CONSTRAINT [DF__USUARIO__reinten__0EA330E9] DEFAULT 0,
    [administrable] BIT CONSTRAINT [DF__USUARIO__adminis__0F975522] DEFAULT true,
    [apellido] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [nombre] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [mail] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [cambia_clave] BIT CONSTRAINT [DF__USUARIO__cambia___108B795B] DEFAULT true,
    [version_ui] VARCHAR(50) COLLATE Modern_Spanish_CI_AS CONSTRAINT [DF__USUARIO__version__117F9D94] DEFAULT '1' NOT NULL,
    [visible] BIT CONSTRAINT [DF__USUARIO__visible__1273C1CD] DEFAULT true NOT NULL,
    [theme] VARCHAR(50) COLLATE Modern_Spanish_CI_AS)
GO


SET IDENTITY_INSERT [dbo].[USUARIO_TMP] ON
GO


INSERT INTO [dbo].[USUARIO_TMP]
    ([id],[id_rol],[usuario],[password],[ultimo_acceso],[activo],[bloqueado],[reintento],[administrable],[apellido],[nombre],[mail],[cambia_clave],[version_ui],[visible],[theme])
SELECT
    [id],[id_rol],[usuario],[password],[ultimo_acceso],[activo],[bloqueado],[reintento],[administrable],[apellido],[nombre],[mail],[cambia_clave],[version_ui],[visible],[theme]
FROM [dbo].[USUARIO]
GO


SET IDENTITY_INSERT [dbo].[USUARIO_TMP] OFF
GO


DROP TABLE [dbo].[USUARIO]
GO

EXEC sp_rename '[dbo].[USUARIO_TMP]', 'USUARIO', 'OBJECT'
GO

ALTER TABLE [dbo].[USUARIO] ADD CONSTRAINT [pk_usuario] 
    PRIMARY KEY CLUSTERED ([id])
GO


/* ---------------------------------------------------------------------- */
/* Add foreign key constraints                                            */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[CANALES_VENTA_TIPOS_TRANSACCIONES] ADD CONSTRAINT [FK_CANALES_VENTA_TIPOS_TRANSACCIONES_CANALES_VENTAS] 
    FOREIGN KEY ([ID_CANAL_VENTA]) REFERENCES [dbo].[CANALES_VENTA] ([ID_CANAL_VENTA])
GO

ALTER TABLE [dbo].[CANALES_VENTA_TIPOS_TRANSACCIONES] ADD CONSTRAINT [FK_CANALES_VENTA_TIPOS_TRANSACCIONES_TIPOS_TRANSACCIONES] 
    FOREIGN KEY ([ID_TIPO_TRANSACCION]) REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO

ALTER TABLE [dbo].[CELULARES_CLIENTES] ADD CONSTRAINT [FK_CELULARESCLIENTES_CLIENTES] 
    FOREIGN KEY ([ID_CLIENTE]) REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_CLIENTES_DIRECCIONES_CLIENTES] 
    FOREIGN KEY ([ID_DIRECCION]) REFERENCES [dbo].[DIRECCIONES_CLIENTES] ([ID_DIRECCION])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_CLIENTES_ESTADO_CIVIL] 
    FOREIGN KEY ([ID_ESTADO_CIVIL]) REFERENCES [dbo].[ESTADOS_CIVILES] ([ID])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_CLIENTES_NACIONALIDAD] 
    FOREIGN KEY ([NACIONALIDAD]) REFERENCES [dbo].[PAISES] ([ID_PAIS])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_ESTADO_CLIENTE] 
    FOREIGN KEY ([ID_TIPO_ESTADO_CLIENTE]) REFERENCES [dbo].[TIPO_ESTADO_CLIENTES] ([id])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_CLIENTES_SEXOS] 
    FOREIGN KEY ([ID_SEXO]) REFERENCES [dbo].[SEXOS] ([ID_SEXO])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_CLIENTES_TERMINOS_CONDICIONES] 
    FOREIGN KEY ([ID_TERMINOS_CONDICIONES]) REFERENCES [dbo].[TERMINOS_CONDICIONES_LEGALES] ([ID_TERMINOS_CONDICIONES])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_CLIENTES_TIPOSDOCUMENTOS] 
    FOREIGN KEY ([ID_TIPO_DOC_PERSONA]) REFERENCES [dbo].[TIPOS_DOC_PERSONAS] ([ID_TIPO_DOC_PERSONA])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_TIPOS_DOC] 
    FOREIGN KEY ([ID_TIPO_DOC_PERSONA]) REFERENCES [dbo].[TIPOS_DOC_PERSONAS] ([ID_TIPO_DOC_PERSONA])
GO

ALTER TABLE [dbo].[COD_EXTERNOS_CLIENTES] ADD CONSTRAINT [FK_CODEXTERNOCLIENTES_CLIENTES] 
    FOREIGN KEY ([ID_CLIENTE]) REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO

ALTER TABLE [dbo].[COD_EXTERNOS_CLIENTES] ADD CONSTRAINT [FK_CODEXTERNOSCLI_PROVINCIAS] 
    FOREIGN KEY ([ID_PROVINCIA]) REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO

ALTER TABLE [dbo].[CUENTAS_CORRIENTES] ADD CONSTRAINT [FK_CTACTE_CLIENTES] 
    FOREIGN KEY ([ID_CLIENTE]) REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO

ALTER TABLE [dbo].[CUENTAS_CORRIENTES] ADD CONSTRAINT [FK_CTACTE_TIPOSCTACTE] 
    FOREIGN KEY ([ID_TIPO_CTACTE]) REFERENCES [dbo].[TIPOS_CTACTE] ([ID_TIPO_CTACTE])
GO

ALTER TABLE [dbo].[DIRECCIONES_CLIENTES] ADD CONSTRAINT [FK_DIRECCIONES_LOCALIDAD] 
    FOREIGN KEY ([ID_LOCALIDAD]) REFERENCES [dbo].[LOCALIDADES] ([ID_LOCALIDAD])
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [FK_INTERFACES_ID_CANAL_ACCESO] 
    FOREIGN KEY ([ID_CANAL_ACCESO]) REFERENCES [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO])
GO

ALTER TABLE [dbo].[LOCALIDADES] ADD CONSTRAINT [FK_LOCALIDADES_PROVINCIAS] 
    FOREIGN KEY ([ID_PROVINCIA]) REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD CONSTRAINT [FK_TIPOS_TRANSAC_LOG_TRANSAC] 
    FOREIGN KEY ([ID_TIPO_TRANSACCION]) REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD CONSTRAINT [FK_CLIENTES_LOGS_TRANSAC] 
    FOREIGN KEY ([ID_CLIENTE]) REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO

ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] ADD CONSTRAINT [FK_INTERFAZ_MOV_CTACTE_INTERFA] 
    FOREIGN KEY ([ID_INTERFAZ]) REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO

ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] ADD CONSTRAINT [FK_MOVIMIENTOS_CANALVENTA] 
    FOREIGN KEY ([ID_CANAL_VENTA]) REFERENCES [dbo].[CANALES_VENTA] ([ID_CANAL_VENTA])
GO

ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] ADD CONSTRAINT [FK_MOVIMIENTOS_TIPOSMOVIMIENTO] 
    FOREIGN KEY ([ID_TIPO_MOVIMIENTO_CTACTE]) REFERENCES [dbo].[TIPOS_MOVIMIENTOS_CTACTE] ([ID_TIPO_MOVIMIENTO_CTACTE])
GO

ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] ADD CONSTRAINT [R_19] 
    FOREIGN KEY ([ID_CUENTA_CORRIENTE]) REFERENCES [dbo].[CUENTAS_CORRIENTES] ([ID_CUENTA_CORRIENTE])
GO

ALTER TABLE [dbo].[MOVIMIENTOS_CTACTE] ADD CONSTRAINT [R_24] 
    FOREIGN KEY ([ID_RESERVA]) REFERENCES [dbo].[RESERVAS] ([ID_RESERVA])
GO

ALTER TABLE [dbo].[PARAMETROS_VALOR] ADD CONSTRAINT [FK_PARAMVALOR_PARAMETROS] 
    FOREIGN KEY ([ID_PARAMETRO]) REFERENCES [dbo].[PARAMETROS] ([ID_PARAMETRO])
GO

ALTER TABLE [dbo].[PROVINCIAS] ADD CONSTRAINT [FK_PROVINCIAS_PAISES] 
    FOREIGN KEY ([ID_PAIS]) REFERENCES [dbo].[PAISES] ([ID_PAIS])
GO

ALTER TABLE [dbo].[RESERVAS] ADD CONSTRAINT [FK_RESERVAS_ESTADOSRESERVAS] 
    FOREIGN KEY ([ID_ESTADO_RESERVA]) REFERENCES [dbo].[ESTADOS_RESERVAS] ([ID_ESTADO_RESERVA])
GO

ALTER TABLE [dbo].[RESERVAS] ADD CONSTRAINT [FK_CLIENTES_RESERVAS] 
    FOREIGN KEY ([ID_CLIENTE]) REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO

ALTER TABLE [dbo].[TOTALES_RESERVAS_EXTRACCIONES] ADD CONSTRAINT [FK_TOTALES_MONEDA] 
    FOREIGN KEY ([ID_TIPO_CTACTE]) REFERENCES [dbo].[TIPOS_CTACTE] ([ID_TIPO_CTACTE])
GO

ALTER TABLE [dbo].[TOTALES_RESERVAS_EXTRACCIONES] ADD CONSTRAINT [FK_TOTALES_USUARIO] 
    FOREIGN KEY ([ID_CLIENTE]) REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO


/* ---------------------------------------------------------------------- */
/* Repair/add procedures                                                  */
/* ---------------------------------------------------------------------- */
CREATE procedure [dbo].[SP_DEPURA_CLIENTES] (@p_id_provincia int)
as
/********************************************************
Proyecto MONEDERO
Funcion   Procedimiento para depurar usuarios sin cta
          corriente dada de alta por el termino de N dias.


********************************************************/
BEGIN

	declare @v_dias_depuracion varchar(10), @v_count int, @v_PROCESO varchar(50), @v_F_PROCESO datetime
	declare @cur_id_cliente int, @cur_ID_COD_EXT int, @v_DESCRIPCION varchar(100), @v_error int

	DECLARE cur_CLIENTES  CURSOR for
    select cli.id_cliente, cec.ID_COD_EXTERNO_CLIENTE from
    dbo.clientes cli,
    dbo.COD_EXTERNOS_CLIENTES cec
    where
    cec.ID_CLIENTE = cli.ID_CLIENTE   and
    cec.F_VIGENCIA_DESDE <= getdate() - @v_dias_depuracion and
    cec.F_VIGENCIA_HASTA = cast('09/09/9999' as datetime)
    and not exists (select ID_CLIENTE from dbo.CUENTAS_CORRIENTES where id_cliente = cli.ID_CLIENTE);

	select @V_PROCESO = 'SP_DEPURA_CLIENTES'
	select @v_F_PROCESO = getdate()

    BEGIN
    select @V_dias_depuracion = cast(valor as int)
    from
    dbo.parametros p,
    dbo.parametros_valor pv
    where p.parametro = 'DIAS_BAJA_CLIENTE'
    and pv.ID_PARAMETRO = p.ID_PARAMETRO
    and pv.ID_PROVINCIA = @p_id_provincia
    and pv.F_VIGENCIA_HASTA =  cast('09/09/9999' as datetime);
	if @@rowcount < 1
	EXEC	[dbo].[SP_GRABA_LOG]
				@P_PROCESO = @V_PROCESO,
				@p_DESCRIPCION = 'No se encontro el parametro solicitado.',
				@P_F_PROCESO = @V_F_PROCESO ,
				@P_ESTADO_PROCESO = 1
	select @v_error = 1
	end

	IF @v_error <> 1
	BEGIN
    FETCH cur_CLIENTES into @cur_id_cliente,@cur_ID_COD_EXT
	WHILE (@@FETCH_STATUS = 0)
	BEGIN

        INSERT INTO dbo.LOG_TRANSACCIONES_HIS
            select
            ID_LOG_TRANSACCION,ID_CLIENTE,F_INICIO_OPERACION,F_FIN_OPERACION,ID_TIPO_TRANSACCION,ENTRADA,SALIDA,ID_REGISTRO_TRANSACCION,getdate() as F_PROCESO
            from dbo.LOG_TRANSACCIONES
            where ID_CLIENTE =  @cur_id_cliente

         DELETE GENERAL.LOG_TRANSACCIONES
         where ID_CLIENTE =  @cur_id_cliente;

         DELETE PADRON.CELULARES_CLIENTES WHERE id_cliente = @cur_id_cliente;

         DELETE PADRON.COD_EXTERNOS_CLIENTES  WHERE ID_COD_EXTERNO_CLIENTE = @cur_ID_COD_EXT ;

         DELETE PADRON.CLIENTES WHERE ID_CLIENTE = @cur_id_cliente;

        select @v_count = @v_count + 1;

    END
	CLOSE cur_CLIENTES
	DEALLOCATE cur_CLIENTES
	END
select @v_DESCRIPCION = 'FIN SE DIERON DE BAJA ' + @v_count + ' REGISTROS'

	EXEC	[dbo].[SP_GRABA_LOG]
				@P_PROCESO = @V_PROCESO,
				@p_DESCRIPCION = @v_DESCRIPCION,
				@P_F_PROCESO = @V_PROCESO ,
				@P_ESTADO_PROCESO = 0

END
GO

CREATE procedure [dbo].[SP_DEPURA_LOG_TRANSACCIONES] as
/********************************************************
Proyecto MONEDERO
Funcion   Procedimiento para depurar LOG_TRANSACCIONES
          el termino de N dias.


********************************************************/

BEGIN

	declare @V_dias_depuracion varchar(10),@v_count_insert int,@v_count_delete int
	declare @V_PROCESO varchar(50),@V_F_PROCESO datetime, @v_error int, @v_DESCRIPCION  varchar(50)

	select @V_F_PROCESO = getdate()
	select @V_PROCESO = 'SP_DEPURA_LOG_TRANSACCIONES'
	select @v_error = 0

	EXEC	[dbo].[SP_GRABA_LOG]
				@P_PROCESO = @V_PROCESO,
				@p_DESCRIPCION = 'Inicio proceso.',
				@P_F_PROCESO = @V_F_PROCESO ,
				@P_ESTADO_PROCESO = 0

    BEGIN
    select  @V_dias_depuracion = cast(valor as int)
    from
    dbo.parametros p,
    dbo.parametros_valor pv
    where p.parametro = 'DEP_REG_LOG_TRANS'
    and pv.ID_PARAMETRO = p.ID_PARAMETRO
    and pv.F_VIGENCIA_HASTA = cast('09/09/9999' as datetime)
	if @@rowcount < 1
	EXEC	[dbo].[SP_GRABA_LOG]
				@P_PROCESO = @V_PROCESO,
				@p_DESCRIPCION = 'No se encontro el parametro solicitado.',
				@P_F_PROCESO = @V_F_PROCESO ,
				@P_ESTADO_PROCESO = 1
	select @v_error = 1
    END

    IF @v_error = 0
            BEGIN try
            INSERT INTO dbo.LOG_TRANSACCIONES_HIS
            select
            ID_LOG_TRANSACCION,ID_CLIENTE,F_INICIO_OPERACION,F_FIN_OPERACION,ID_TIPO_TRANSACCION,ENTRADA,SALIDA,ID_REGISTRO_TRANSACCION,getdate()as F_PROCESO
            from dbo.LOG_TRANSACCIONES
            where f_INICIO_OPERACION < getdate() - @V_dias_depuracion

            select @v_count_insert = @@rowcount
            end try
            begin catch
            exec dbo.SP_GRABA_LOG
                @P_PROCESO = @V_PROCESO,
                @p_DESCRIPCION    =  'ERROR INSERTANDO EN TABLA  GENERAL.LOG_TRANSACCIONES_HIS ',
                @P_F_PROCESO      =  @V_F_PROCESO,
                @P_ESTADO_PROCESO =  1

				select @v_error = 1

            END catch;

            if @v_error = 0
            BEGIN
            DELETE GENERAL.LOG_TRANSACCIONES where f_INICIO_OPERACION < getdate() - @V_dias_depuracion;
            select @v_count_DELETE = @@rowcount
            end


           IF @v_count_INSERT != @v_count_DELETE
			begin
				 exec dbo.SP_GRABA_LOG
                @P_PROCESO = @V_PROCESO,
                @p_DESCRIPCION    =  'DIFERENCIA ENTRE REGISTRO BORRADOS E INSERTADOS EN DEPURACION',
                @P_F_PROCESO      =  @V_F_PROCESO,
                @P_ESTADO_PROCESO =  1
             end

			select @v_DESCRIPCION    =  'FIN SE DEPURARON '+@v_count_DELETE+' REGISTROS'
			begin
				exec dbo.SP_GRABA_LOG
                @P_PROCESO = @V_PROCESO,
                @p_DESCRIPCION    =  @v_DESCRIPCION,
                @P_F_PROCESO      =  @V_F_PROCESO,
                @P_ESTADO_PROCESO =  0
			end
END
GO

CREATE procedure [dbo].[SP_DEPURA_MOVIMIENTOS] ( @p_id_provincia  int ) as
/********************************************************
Proyecto MONEDERO
Funcion   Procedimiento para depurar MOVIMIENTOS
          el termino de N dias.


********************************************************/

DECLARE
@V_dias_depuracion varchar(4000),
@v_count_insert int,
@v_count_delete int,
@V_PROCESO VARCHAR(50) ,
--@ERROR_GENERAL EXCEPTION
@v_paso int,
@v_getdate datetime,
@V_ERROR_MESSAGE VARCHAR(500)

set @V_PROCESO	= 'CTATE.SP_DEPURA_MOVIMIENTOS'
set @v_paso 	= 0

BEGIN
BEGIN TRY
BEGIN TRANSACTION
	select @v_getdate = getdate()
	exec SP_GRABA_LOG  @P_PROCESO =  @V_PROCESO, @p_DESCRIPCION =  'INICIO', @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO = 0;

    SET @v_paso = 10;
    BEGIN TRY
		select @V_dias_depuracion = ISNULL(VALOR,-1) --to_number(valor)
		from
				parametros p,
				parametros_valor pv
		where
		    p.parametro		= 'DEP_MOVIMIENTOS_CTACTE'
		and pv.ID_PARAMETRO = p.ID_PARAMETRO
		and pv.ID_PROVINCIA = @p_id_provincia
		and pv.F_VIGENCIA_HASTA = '09/09/9999';

		IF @V_dias_depuracion = -1
		BEGIN
            SET @v_paso = 20
            ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = 'No se encontro el parametro solicitado.', @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
		END
	END TRY
	BEGIN CATCH
			select @V_ERROR_MESSAGE = 'ERROR BUSCANDO PARAMETRO ' + ERROR_MESSAGE()
			ROLLBACK TRANSACTION
            SET @v_paso = 30
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
	END CATCH

    SET @v_paso = 40
    BEGIN TRY
            INSERT INTO MOVIMIENTOS_CTACTE_HIS
            select
					ID_MOVIMIENTO_CTACTE,ID_TIPO_MOVIMIENTO_CTACTE,MONTO,ID_CUENTA_CORRIENTE,F_MOVIMIENTO,COD_EXTERNO_RECIBIDO, COD_EXTERNO,ID_RESERVA,
					CONVERT (CHAR(10), GETDATE(),103) F_PROCESO, SALDO,MOTIVO, ID_INTERFAZ, COD_OPERACION, ID_CANAL_VENTA
            from MOVIMIENTOS_CTACTE
            where f_movimiento < GETDATE()- @V_dias_depuracion

            SET @v_count_insert = @@ROWCOUNT
	END TRY
	BEGIN CATCH
			select @V_ERROR_MESSAGE = 'ERROR INSERTANDO EN TABLA  MOVIMIENTOS_CTACTE_HIS ' + ERROR_MESSAGE()
			ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
    END CATCH

    SET @v_paso = 50
    BEGIN TRY
            DELETE MOVIMIENTOS_CTACTE  where f_movimiento < GETDATE() - @V_dias_depuracion;
            SET @v_count_DELETE = @@ROWCOUNT
    END TRY
    BEGIN CATCH
   			select @V_ERROR_MESSAGE = 'ERROR BORRANDO TABLA  MOVIMIENTOS_CTACTE ' + ERROR_MESSAGE()
   			ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
    END CATCH

    IF @v_count_INSERT != @v_count_DELETE
    BEGIN
  			select @V_ERROR_MESSAGE = 'DIFERENCIA ENTRE REGISTRO BORRADOS E INSERTADOS EN DEPURACION'
  			ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
    END

    SET @v_paso = 60
    select @V_ERROR_MESSAGE = 'FIN. SE DEPURARON '+ CONVERT(VARCHAR,@v_count_DELETE) + ' REGISTROS'
    EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  0
    COMMIT TRANSACTION

END TRY
BEGIN CATCH
    select @V_ERROR_MESSAGE = 'FIN ERROR GENERAL EN PASO ' + @v_paso + '.  Error:' + ERROR_MESSAGE()
    ROLLBACK TRANSACTION
    BEGIN TRANSACTION
    EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
    COMMIT TRANSACTION
END CATCH
END
GO

CREATE procedure  [dbo].[SP_DEPURA_RESERVAS] (@p_id_provincia  int) as
/********************************************************
Proyecto MONEDERO
Funcion   Procedimiento para depurar RESERVAS
          el termino de N dias.

********************************************************/
DECLARE
@V_dias_depuracion	INT,
@V_dias_vencimiento INT,
@v_count_insert		INT,
@v_count_delete		INT,
@V_PROCESO			VARCHAR(50),
@v_paso				INT,
@v_getdate			datetime,
@V_ERROR_MESSAGE	VARCHAR(500)

SELECT @v_count_insert =0, @v_count_delete =0, @V_PROCESO = 'CTACTE.SP_DEPURA_RESERVAS',@v_paso=0, @v_getdate = getdate()
BEGIN
BEGIN TRY
BEGIN TRANSACTION

	exec SP_GRABA_LOG  @P_PROCESO =  @V_PROCESO, @p_DESCRIPCION =  'INICIO', @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO = 0;

    SET @v_paso = 10
    BEGIN TRY
		select @V_dias_depuracion = CONVERT(INT,valor)
		from	parametros p,
				parametros_valor pv
		where p.parametro = 'DEP_RESERVAS'
		and pv.ID_PARAMETRO = p.ID_PARAMETRO
		and pv.ID_PROVINCIA = @p_id_provincia

		IF @@ROWCOUNT = 0
		BEGIN
            SET @v_paso = 20
            ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = 'No se encontro el parametro DEP_RESERVAS.', @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
		END

		select @V_dias_vencimiento = CONVERT(INT,valor)
		from	parametros p,
				parametros_valor pv
		where p.parametro = 'DIAS_VEN_RES'
		and pv.ID_PARAMETRO = p.ID_PARAMETRO
		and pv.ID_PROVINCIA = @p_id_provincia

		IF @@ROWCOUNT = 0
		BEGIN
            SET @v_paso = 20
            ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = 'No se encontro el parametro DIAS_VEN_RES.', @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
		END

    END TRY
	BEGIN CATCH
			select @V_ERROR_MESSAGE = 'ERROR BUSCANDO PARAMETRO ' + ERROR_MESSAGE()
			ROLLBACK TRANSACTION
            SET @v_paso = 30
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
	END CATCH

    SET @v_paso = 30
    BEGIN TRY
            update RESERVAS set f_vencimiento = f_reserva + @V_dias_vencimiento WHERE f_vencimiento is null

            SET @v_count_insert = @@ROWCOUNT
    END TRY
   	BEGIN CATCH
			select @V_ERROR_MESSAGE = 'ERROR ACTUALIZANDO RESERVAS SIN FECHA DE VENCIMIENTO ' + ERROR_MESSAGE()
			ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
    END CATCH

    SET @v_paso = 40
    BEGIN TRY
            INSERT INTO RESERVAS_HIS

            select ID_RESERVA,CODIGO_RESERVA,F_RESERVA,ID_ESTADO_RESERVA,F_EXTRACCION,ID_CLIENTE,F_VENCIMIENTO,
					CONVERT (CHAR(10), GETDATE(),103) F_PROCESO
            from RESERVAS
			where (F_vencimiento < GETDATE() - @v_dias_depuracion)
--            where (F_extraccion < GETDATE() -  @V_dias_depuracion) or (f_vencimiento < GETDATE() -  @V_dias_depuracion )
            and ID_ESTADO_RESERVA in (2,3)

            SET @v_count_insert = @@ROWCOUNT
    END TRY
   	BEGIN CATCH
			select @V_ERROR_MESSAGE = 'ERROR INSERTANDO EN TABLA  RESERVAS_HIS ' + ERROR_MESSAGE()
			ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
    END CATCH

    SET @v_paso = 50
    BEGIN TRY
			  DELETE RESERVAS where (F_vencimiento < GETDATE() - @v_dias_depuracion) and ID_ESTADO_RESERVA in (2,3)
 --           DELETE RESERVAS  where (F_extraccion < GETDATE() -  @V_dias_depuracion)or (f_vencimiento < GETDATE() -  @V_dias_depuracion )
--            and ID_ESTADO_RESERVA in (2,3);
            SET @v_count_DELETE = @@ROWCOUNT
    END TRY
    BEGIN CATCH
   			select @V_ERROR_MESSAGE = 'ERROR BORRANDO TABLA RESERVAS ' + ERROR_MESSAGE()
   			ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
    END CATCH

	IF @v_count_INSERT != @v_count_DELETE
    BEGIN
  			select @V_ERROR_MESSAGE = 'DIFERENCIA ENTRE REGISTRO BORRADOS E INSERTADOS EN DEPURACION'
  			ROLLBACK TRANSACTION
            EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
            COMMIT
            RETURN
    END

    SET @v_paso = 60
    select @V_ERROR_MESSAGE = 'FIN. SE DEPURARON '+ CONVERT(VARCHAR,@v_count_DELETE) + ' REGISTROS'
    EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  0
    COMMIT TRANSACTION
END TRY
BEGIN CATCH
    select @V_ERROR_MESSAGE = 'FIN ERROR GENERAL EN PASO ' + @v_paso + '.  Error: ' + ERROR_MESSAGE()
    ROLLBACK TRANSACTION
    BEGIN TRANSACTION
    EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
    COMMIT TRANSACTION
END CATCH
END
GO

CREATE  procedure  [dbo].[SP_DEPURA_TRANSACCIONES] as
/********************************************************
Proyecto MONEDERO
Funcion   Procedimiento para depurar transacciones
          el termino de N dias.
Autor     Mmazzucco
Fecha     21/12/2012

********************************************************/
BEGIN
	declare @V_dias_depuracion varchar(10),@v_count_insert int,@v_count_delete int
	declare @V_PROCESO varchar(50),@V_F_PROCESO datetime, @v_error int, @v_DESCRIPCION  varchar(50)

	select @V_F_PROCESO = getdate()
	select @V_PROCESO = 'SP_DEPURA_TRANSACCIONES'
	select @v_error = 0

	EXEC	[dbo].[SP_GRABA_LOG]
				@P_PROCESO = @V_PROCESO,
				@p_DESCRIPCION = 'Inicio proceso.',
				@P_F_PROCESO = @V_F_PROCESO ,
				@P_ESTADO_PROCESO = 0

    BEGIN
    select  @V_dias_depuracion = cast(valor as int)
    from
    dbo.parametros p,
    dbo.parametros_valor pv
    where p.parametro = 'DEP_REG_TRANSAC'
    and pv.ID_PARAMETRO = p.ID_PARAMETRO
    and pv.F_VIGENCIA_HASTA = cast('09/09/9999' as datetime)
	if @@rowcount < 1
	EXEC	[dbo].[SP_GRABA_LOG]
				@P_PROCESO = @V_PROCESO,
				@p_DESCRIPCION = 'No se encontro el parametro solicitado.',
				@P_F_PROCESO = @V_F_PROCESO ,
				@P_ESTADO_PROCESO = 1
	select @v_error = 1
    END

    IF @v_error = 0
            BEGIN try
            INSERT INTO dbo.REGISTROS_TRANSACCIONES_HIS
            select
            ID_REGISTRO_TRANSACCION,ID_INTERFAZ,ID_CANAL_VENTA, F_TRANSACCION,COD_TRANSACCION,DATOS_TRANSACCION,SERVICIO,getdate() as F_PROCESO
            from dbo.REGISTROS_TRANSACCIONES
            where F_TRANSACCION < getdate() -  @V_dias_depuracion

            select @v_count_insert = @@rowcount
            end try
            begin catch
            exec dbo.SP_GRABA_LOG
                @P_PROCESO = @V_PROCESO,
                @p_DESCRIPCION    =  'ERROR INSERTANDO EN TABLA  REGISTROS_TRANSACCIONES_HIS ',
                @P_F_PROCESO      =  @V_F_PROCESO,
                @P_ESTADO_PROCESO =  1

				select @v_error = 1

            END catch;

            if @v_error = 0
            BEGIN
             DELETE GENERAL.REGISTROS_TRANSACCIONES where F_TRANSACCION <  getdate() - @V_dias_depuracion;
            select @v_count_DELETE = @@rowcount
            end

           IF @v_count_INSERT != @v_count_DELETE
			begin
				 exec dbo.SP_GRABA_LOG
                @P_PROCESO = @V_PROCESO,
                @p_DESCRIPCION    =  'DIFERENCIA ENTRE REGISTRO BORRADOS E INSERTADOS EN DEPURACION',
                @P_F_PROCESO      =  @V_F_PROCESO,
                @P_ESTADO_PROCESO =  1
             end

			select @v_DESCRIPCION    =  'FIN SE DEPURARON '+@v_count_DELETE+' REGISTROS'
			begin
				exec dbo.SP_GRABA_LOG
                @P_PROCESO = @V_PROCESO,
                @p_DESCRIPCION    =  @v_DESCRIPCION,
                @P_F_PROCESO      =  @V_F_PROCESO,
                @P_ESTADO_PROCESO =  0
			end
END
GO

CREATE procedure [dbo].[SP_DEPURADOR_MOVI_RESERVAS] ( @p_id_provincia  int ) as
/********************************************************
Proyecto MONEDERO
Funcion   Procedimiento para depurar movimineros y RESERVAS

********************************************************/
BEGIN
	exec SP_DEPURA_MOVIMIENTOS @p_id_provincia
	exec SP_DEPURA_RESERVAS @p_id_provincia
END
GO

CREATE PROCEDURE [dbo].[SP_GRABA_LOG]
(
@P_PROCESO        varchar(50),
@p_DESCRIPCION    varchar(100),
@P_F_PROCESO      datetime,
@P_ESTADO_PROCESO int
) as
    --
    --
    -- Detalle: Este proc. graba logs genéricos en una tabla genérica de logs
    --
BEGIN
		Insert Into dbo.Logs_genericos
			(
				PROCESO,
				DESCRIPCION,
				F_PROCESO,
				ESTADO_PROCESO
			)
		Values
			(
				@P_PROCESO        ,
				@p_DESCRIPCION    ,
				@P_F_PROCESO      ,
				@P_ESTADO_PROCESO
			)
End
GO

CREATE procedure [dbo].[SP_VENCIMIENTO_RESERVAS] ( @p_id_provincia  int ) as

DECLARE
@V_dias_depuracion	varchar(4000),
@v_count			INT,
@V_PROCESO			VARCHAR(50),
@v_ID_TIPO_MOVIMIENTO_CTACTE INT,
@v_paso				INT ,
@v_getdate			DATETIME,
@V_ERROR_MESSAGE	VARCHAR(500),
@C_id_reserva		INT,
@C_fecha_reserva	DATETIME,
@C_monto			NUMERIC,
@C_ID_CUENTA_CORRIENTE NUMERIC,
@C_COD_EXTERNO		VARCHAR(13),
@C_OPERACION		VARCHAR(10),
@C_id_canal_venta	BIGINT

BEGIN
BEGIN TRY
	BEGIN TRANSACTION

		SELECT @v_count=0, @V_PROCESO='CTACTE.SP_VENCIMIENTO_RESERVAS', @v_ID_TIPO_MOVIMIENTO_CTACTE=5, @v_paso=0, @v_getdate = getdate();
		exec SP_GRABA_LOG  @P_PROCESO =  @V_PROCESO, @p_DESCRIPCION =  'INICIO', @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO = 0;

		print 'error'
		SET @v_paso =10
		BEGIN TRY

			select @V_dias_depuracion = ISNULL(VALOR,-1)
				from
					parametros p,
					parametros_valor pv
				where p.parametro = 'DIAS_VEN_RES'
					and pv.ID_PARAMETRO = p.ID_PARAMETRO
					and pv.ID_PROVINCIA = @p_id_provincia
					and pv.F_VIGENCIA_HASTA = '09/09/9999'

			IF @V_dias_depuracion = -1
				BEGIN
					ROLLBACK TRANSACTION
					SET @v_paso = 20
					EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = 'No se encontro el parametro solicitado.', @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
					RETURN
				END
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			SET @v_paso = 30
			select @V_ERROR_MESSAGE = 'ERROR BUSCANDO PARAMETRO ' + ERROR_MESSAGE()
			EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
			RETURN
		END CATCH

		SET @v_paso = 40
		DECLARE CUR_RESERVAS CURSOR FOR
			select res.id_reserva, abs(ctacte.monto) monto, res.f_reserva, ctacte.ID_CUENTA_CORRIENTE, ctacte.COD_EXTERNO, ctacte.COD_OPERACION, ctacte.ID_CANAL_VENTA
				from	reservas res,
						MOVIMIENTOS_CTACTE ctacte
				where res.id_estado_reserva = 1
					and res.f_vencimiento < GETDATE()
					and ctacte.ID_RESERVA = res.ID_RESERVA;

		OPEN CUR_RESERVAS
		FETCH NEXT FROM CUR_RESERVAS
			INTO @C_id_reserva, @C_monto, @C_FECHA_RESERVA, @C_ID_CUENTA_CORRIENTE, @C_COD_EXTERNO, @C_OPERACION, @C_id_canal_venta
		WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @v_paso = 50
				BEGIN TRY
					insert into MOVIMIENTOS_CTACTE
						(ID_TIPO_MOVIMIENTO_CTACTE,MONTO,ID_CUENTA_CORRIENTE,F_MOVIMIENTO,COD_EXTERNO,ID_INTERFAZ, ID_RESERVA, COD_OPERACION, ID_CANAL_VENTA)
					values
						(@v_ID_TIPO_MOVIMIENTO_CTACTE,@C_monto,@C_ID_CUENTA_CORRIENTE,GETDATE(),@C_cod_externo, 1,@C_id_reserva, @C_operacion, @C_id_canal_venta);

					update TOTALES_RESERVAS_EXTRACCIONES set cantidad_reservas = cantidad_reservas -1, monto_reservas = monto_reservas - @C_monto
						where CONVERT(varchar, fecha , 101) = CONVERT(varchar, @C_FECHA_RESERVA , 101);
				END TRY
				BEGIN CATCH
					select @V_ERROR_MESSAGE = 'ERROR BUSCANDO PARAMETRO ' + ERROR_MESSAGE()
					ROLLBACK TRANSACTION
					EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
					RETURN
				END CATCH


				SET @v_paso = 60

				UPDATE reservas
					set ID_ESTADO_RESERVA = 3 , f_vencimiento = GETDATE()
					where id_reserva = @C_id_reserva;

				IF @@ROWCOUNT =0
					BEGIN
						ROLLBACK TRANSACTION
						select @V_ERROR_MESSAGE = 'NO SE MODIFICARON REGISTROS EN LA TABLA RESERVAS '
						EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
						RETURN
					END
				FETCH NEXT FROM CUR_RESERVAS
					INTO @C_id_reserva, @C_monto, @C_FECHA_RESERVA, @C_ID_CUENTA_CORRIENTE, @C_COD_EXTERNO, @C_OPERACION, @C_id_canal_venta
				SET @v_count = @v_count + 1

			END
		CLOSE CUR_RESERVAS;
		DEALLOCATE CUR_RESERVAS;

		SET @v_paso = 70
		select @V_ERROR_MESSAGE = 'FIN, SE VENCIERON '+ CONVERT(VARCHAR,@v_count) + ' REGISTROS'
		EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  0
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		select @V_ERROR_MESSAGE = 'FIN ERROR GENERAL EN PASO ' + CAST(@v_paso AS VARCHAR) + '.  Error: ' + ERROR_MESSAGE()
		ROLLBACK TRANSACTION
		BEGIN TRANSACTION
		EXEC SP_GRABA_LOG @P_PROCESO = @V_PROCESO, @p_DESCRIPCION = @V_ERROR_MESSAGE , @P_F_PROCESO = @v_getdate, @P_ESTADO_PROCESO =  1
		COMMIT TRANSACTION
	END CATCH
END
GO

CREATE PROCEDURE [dbo].[INS_PAIS]
	@NOMBRE varchar(20),
	@BORRAR tinyint = null
AS
BEGIN
	declare @idPais bigint

	if (@BORRAR is not null)
		delete from paises where nombre = @NOMBRE
	else
		begin
			select @idPais = id_pais from paises where nombre = @NOMBRE
			if (@idPais) is null
				begin
					select @idPais = coalesce(max(id_pais),0) + 1 from paises
					insert into paises (id_pais, nombre) values (@idPais, @NOMBRE)
				end
		end
END
GO

CREATE PROCEDURE [dbo].[INS_PROVINCIA]
	@ID bigint,
	@NOMBRE varchar(20),
	@CODIGO varchar(2),
	@PAIS varchar(50),
	@BORRAR tinyint = null
AS
BEGIN
	declare @idProvincia bigint
	declare @idPais bigint

	select @idPais = id_pais from paises where nombre = @PAIS
	if (@idPais is null)
		begin
			RAISERROR ('El país no existe', 16, 1)
			return -1
		end
	if (@BORRAR is not null)
		delete from provincias where id_provincia = @ID
	else
		begin
			select @idProvincia = id_provincia from provincias where id_provincia = @ID
			if (@idProvincia) is null
				insert into provincias (id_provincia, provincia, cod_provincia, id_pais)
					values (@ID, @NOMBRE, @CODIGO, @idPais)
			else
				update provincias set	provincia = @NOMBRE,
										cod_provincia = @CODIGO,
										id_pais = @idPais
				where id_provincia = @ID
		end
END
GO


/* ---------------------------------------------------------------------- */
/* Repair/add triggers                                                    */
/* ---------------------------------------------------------------------- */
Create  TRIGGER [TI_MOVIMIENTOS] ON [dbo].[MOVIMIENTOS_CTACTE]
FOR INSERT

AS
declare @v_saldo  numeric(10,2)
declare @v_monto  numeric(10,2)
declare @V_ID_INTERFAZ  int
declare @v_ID_CUENTA_CORRIENTE int

BEGIN

select @v_monto = monto ,@V_ID_INTERFAZ = ID_INTERFAZ, @v_ID_CUENTA_CORRIENTE = ID_CUENTA_CORRIENTE  FROM INSERTED

select @v_SALDO = saldo
FROM dbo.CUENTAS_CORRIENTES c
where c.ID_CUENTA_CORRIENTE = @v_ID_CUENTA_CORRIENTE

UPDATE dbo.CUENTAS_CORRIENTES
SET SALDO = @v_SALDO + @v_monto
WHERE ID_CUENTA_CORRIENTE = @v_ID_CUENTA_CORRIENTE


UPDATE m
    SET SALDO = @v_SALDO + @v_monto
    FROM dbo.MOVIMIENTOS_CTACTE M
    INNER JOIN inserted i on i.ID_MOVIMIENTO_CTACTE = M.ID_MOVIMIENTO_CTACTE



UPDATE dbo.INTERFACES
SET
    CANT_OPERACIONES        = CANT_OPERACIONES + 1,
    CANT_ACUM_OPERACIONES    = CANT_ACUM_OPERACIONES + @v_monto
WHERE ID_INTERFAZ =  @V_ID_INTERFAZ


END


/********/
GO

