/* ---------------------------------------------------------------------- */
/* Modify table "FEWS_ENCABEZADO"                                         */
/* ---------------------------------------------------------------------- */
ALTER TABLE dbo.FEWS_ENCABEZADO ADD
	condicion_iva_receptor_id int NULL,
	cancela_misma_moneda_ext varchar(1) NULL
GO
