use FEWS
go

drop table #dif
go

SELECT e.id, max(i.iva_id) iva_id, e.imp_neto, e.impto_liq
, SUM(base_imp) base, SUM(importe) imp
, e.imp_neto-SUM(base_imp) dif_base, e.impto_liq-SUM(importe) dif_imp
, MAX(punto_vta) punto_vta, MAX(cbte_nro) cbte_nro
into #dif
from FEWS_ENCABEZADO e, FEWS_IVA i
where e.id=i.id and iva_id=5
group by e.id, e.imp_neto, e.impto_liq
having abs(e.imp_neto-SUM(base_imp))>0.01 or abs(e.impto_liq-SUM(importe))>0.01

/*
update  FEWS_IVA
set importe = importe+dif.dif_imp
FROM (SELECT e.id, max(i.iva_id) iva_id, e.imp_neto, e.impto_liq
, SUM(base_imp) base, SUM(importe) imp
, e.imp_neto-SUM(base_imp) dif_base, e.impto_liq-SUM(importe) dif_imp
from FEWS_ENCABEZADO e, FEWS_IVA i
where e.id=i.id and iva_id=5
group by e.id, e.imp_neto, e.impto_liq
having e.imp_neto<>SUM(base_imp) or e.impto_liq<>SUM(importe)) dif
where fews_iva.id=dif.id and fews_iva.iva_id=dif.iva_id

delete from FEWS_IVA where iva_id=1
delete from FEWS_IVA where iva_id=3

update FEWS_ENCABEZADO 
set imp_op_ex=imp_tot_conc
where imp_op_ex =0

update FEWS_ENCABEZADO 
set imp_tot_conc=0
where imp_op_ex = imp_tot_conc
*/

select *
from #dif

select *
from FEWS_DETALLE
where id in (select top 1 id from #dif)

select *
from FEWS_IVA
where id in (select top 1 id from #dif)

select *
from FEWS_ENCABEZADO
where id in (select top 1 id from #dif)
--where imp_tot_conc <> 0

select * from FEWS_ENCABEZADO where imp_tot_conc <> imp_op_ex and imp_tot_conc <> 0

select (round(imp_total,2)-round(imp_neto,2)-round(imp_tot_conc,2)-round(imp_op_ex,2)-round(imp_trib,2)-round(impto_liq,2)-round(impto_liq_rni,2)), *
from FEWS_ENCABEZADO
where round(imp_total-imp_neto-imp_tot_conc-imp_op_ex-imp_trib-impto_liq-impto_liq_rni,2)>0

