/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP (1000) [CUIT_EMPRESA]
      ,[TIPODOC_CLIENTE]
      ,[NRODOC_CLIENTE]
      ,[AS_ID]
      ,[TIPO_COMPROBANTE]
      ,[PUNTO_VENTA]
      ,[NUMERO_COMPROBANTE]
      ,[FECHA_COMPROBANTE]
      ,[FECHA_VENC_PAGO]
      ,[CONCEPTO_FACTURA]
      ,[MONEDA]
      ,[MONEDA_CTZ]
      ,[IMPORTE_TOTAL]
      ,[NETO_NOGRAVADO]
      ,[NETO_GRAVADO]
      ,[NETO_EXENTO]
      ,[IVA_TOTAL]
      ,[TRIBUTOS_TOTAL]
      ,[CAE]
      ,[FECHA_VENCIMIENTO]
      ,[CODIGO]
      ,[DESCRIPCION]
      ,[OBSERVACION]
      ,[EXCEPCION_WSAA]
      ,[EXCEPCION_WSFEV1]
      ,[RESULTADO]
      ,[ERR_MSG]
      ,[OBS]
      ,[XML_REQUEST_AFIP]
      ,[XML_RESPONSE_AFIP]
      ,[QR]
  FROM [FAF_HIDROTERMIA].[dbo].[AST_FEWS_LOG]

/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP (1000) [AS_ID]
      ,[CUIT_EMPRESA]
      ,[TIPO_COMPROBANTE]
      ,[PUNTO_VENTA]
      ,[NUMERO_COMPROBANTE]
      ,[TIPO_COMPROBANTE_ASOC]
      ,[PUNTO_VENTA_ASOC]
      ,[NUMERO_COMPROBANTE_ASOC]
      ,[CUIT_ASOC]
      ,[FECHA_COMPROBANTE_ASOC]
  FROM [FAF_HIDROTERMIA].[dbo].[AST_FEWS_LOG_CBTE_ASOC]

/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP (1000) [AS_ID]
      ,[CUIT_EMPRESA]
      ,[TIPO_COMPROBANTE]
      ,[PUNTO_VENTA]
      ,[NUMERO_COMPROBANTE]
      ,[ID_OPCIONAL]
      ,[VALOR]
  FROM [FAF_HIDROTERMIA].[dbo].[AST_FEWS_LOG_DATOS_OPC]

/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP (1000) [AS_ID]
      ,[CUIT_EMPRESA]
      ,[TIPO_COMPROBANTE]
      ,[PUNTO_VENTA]
      ,[NUMERO_COMPROBANTE]
      ,[PORCENTAJE]
      ,[NETO_GRAVADO]
      ,[IMPORTE]
  FROM [FAF_HIDROTERMIA].[dbo].[AST_FEWS_LOG_IVA]

/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP (1000) [AS_ID]
      ,[CUIT_EMPRESA]
      ,[TIPO_COMPROBANTE]
      ,[PUNTO_VENTA]
      ,[NUMERO_COMPROBANTE]
      ,[FECHA_DESDE]
      ,[FECHA_HASTA]
  FROM [FAF_HIDROTERMIA].[dbo].[AST_FEWS_LOG_PERIODO_ASOC]

/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP (1000) [AS_ID]
      ,[CUIT_EMPRESA]
      ,[TIPO_COMPROBANTE]
      ,[PUNTO_VENTA]
      ,[NUMERO_COMPROBANTE]
      ,[TRIBUTO_ID]
      ,[DESCRPTION]
      ,[PORCENTAJE]
      ,[NETO_GRAVADO]
      ,[IMPORTE]
  FROM [FAF_HIDROTERMIA].[dbo].[AST_FEWS_LOG_TRIBUTOS]

/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP (1000) [AS_ID]
      ,[VER]
      ,[FECHA_COMPROBANTE]
      ,[CUIT_EMISOR]
      ,[TIPO_COMPROBANTE]
      ,[PUNTO_VENTA]
      ,[NUMERO_COMPROBANTE]
      ,[IMPORTE_TOTAL]
      ,[MONEDA]
      ,[MONEDA_CTZ]
      ,[TIPODOC_RC]
      ,[NRODOC_RC]
      ,[TIPOCODAUT]
      ,[CODAUT]
  FROM [FAF_HIDROTERMIA].[dbo].[AST_QR_IN_TMP]