/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          Fews.dez                                        */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Database creation script                        */
/* Created on:            2016-05-26 23:06                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Tables                                                                 */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* Procedures                                                             */
/* ---------------------------------------------------------------------- */
CREATE PROCEDURE [FEWS_UPD_ENCABEZADO] 
	@cuit_empresa varchar(20),
    @concepto varchar(20),
    @fecha_cbte varchar(20),
    @tipo_cbte varchar(20),
    @punto_vta varchar(20),
    @cbte_nro varchar(20),
    @tipo_doc varchar(20),
    @nro_doc varchar(20),
    @imp_total varchar(20),
    @imp_tot_conc varchar(20),
    @imp_op_ex varchar(20),
    @imp_neto varchar(20),
    @imp_iva varchar(20),
    @imp_trib varchar(20),
    @moneda_id varchar(20),
    @moneda_ctz varchar(20)
AS
BEGIN 
SET NOCOUNT ON


	RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_UPD_IVA]
	@cuit_empresa varchar(20),
    @tipo_cbte varchar(20),
    @punto_vta varchar(20),
    @cbte_nro varchar(20),
    @alic varchar(20),
    @base_imp varchar(20),
    @importe varchar(20)
AS
BEGIN 
SET NOCOUNT ON


	RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_UPD_TRIBUTO]
	@cuit_empresa varchar(20),
    @tipo_cbte varchar(20),
    @punto_vta varchar(20),
    @cbte_nro varchar(20),
    @tributo_id varchar(20),
    @tributo_desc varchar(20),
    @base_imp varchar(20),
    @alic varchar(20),
    @importe varchar(20)
AS
BEGIN 
SET NOCOUNT ON


	RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_UPD_AST_FEWS_LOG]
	@id int
AS
BEGIN 
SET NOCOUNT ON
	
	update FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG
	set resultado=fenc.resultado,
		cae=fenc.cae,
		fecha_vencimiento=fenc.fecha_vto,
		err_msg=fenc.err_msg,
		obs=fenc.motivo,
		codigo=fxml.codigo,
		descripcion=fxml.descripcion,
		observacion=fxml.observacion,
		excepcion_wsaa=fxml.excepcion_wsaa,
		excepcion_wsfev1=fxml.excepcion_wsfev1,
		xml_request_afip=fxml.xml_request,
		xml_response_afip=fxml.xml_response
	
	from fews_encabezado fenc
		, fews_xml fxml
		, FINNEGANS.FINN_Admifarm.dbo.ast_fews_log astl

	where 1=1
		and cuit_empresa=fenc.cuit
		and convert(int, tipo_comprobante)=fenc.tipo_cbte
		and convert(int, punto_venta)=fenc.punto_vta
		and convert(int, numero_comprobante)=fenc.cbte_nro
	
	--por ahora no se usa, se envia un default ...
	select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

	--por ahora no se usa, se envia un default ...
	RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_UPD_AST_FEWS_LOG_tmp]
	@id int
AS
BEGIN 
SET NOCOUNT ON
	
	update TMP_ADMIFARM.dbo.ast_fews_log --FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG
	set resultado=fenc.resultado,
		cae=fenc.cae,
		fecha_vencimiento=fenc.fecha_vto,
		err_msg=fenc.err_msg,
		obs=fenc.motivo,
		codigo=fxml.codigo,
		descripcion=fxml.descripcion,
		observacion=fxml.observacion,
		excepcion_wsaa=fxml.excepcion_wsaa,
		excepcion_wsfev1=fxml.excepcion_wsfev1,
		xml_request_afip=fxml.xml_request,
		xml_response_afip=fxml.xml_response
	
	from fews_encabezado fenc, fews_xml fxml, TMP_ADMIFARM.dbo.ast_fews_log astl--FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG

	where 1=1
		and cuit_empresa=fenc.cuit
		and convert(int, tipo_comprobante)=fenc.tipo_cbte
		and convert(int, punto_venta)=fenc.punto_vta
		and convert(int, numero_comprobante)=fenc.cbte_nro
	
	--por ahora no se usa, se envia un default ...
	select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

	--por ahora no se usa, se envia un default ...
	RETURN 0	
SET NOCOUNT OFF
END
GO

/****** Object:  Table [dbo].[PARAMETROS]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (1, N'MIN_VIG_SESION', N'Vigencia de sesión', N'(en minutos) Es el tiempo que tiene para operar un sistema externo contra Sacca (por ej. el BGS Central). Pasado ese tiempo, el sistema externo deberá iniciar sesión nuevamente. (ej. 30)')
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (2, N'_PROXY_', N'Proxy de conexión', N'Dirección Proxy para conexión a Internet')
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (3, N'MODO_INTRFZ_9901', N'Modo para DEMO', N'Flag de Modo de Trabajo para Interfaz DEMO [HOMO|PROD]')
/****** Object:  Table [dbo].[PARAMETROS_VALOR]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA]) VALUES (1, 1, N'30', CAST(0x0000A13900000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime))
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA]) VALUES (2, 2, N'', CAST(0x0000A41300000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime))
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA]) VALUES (3, 3, N'HOMO', CAST(0x0000A41300000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime))

/****** Object:  Table [dbo].[CANALES_ACCESO]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (1, N'PUBLICO')
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (2, N'PRIVADO')
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (3, N'PUBLICO / PRIVADO')

/****** Object:  Table [dbo].[TIPOS_TRANSACCIONES]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [TIPO_TRANSACCION], [TRANSACCION_REST], [URL_REST]) VALUES (1001, N'autorizarComprobante', N'Autorizar Comprobante', N'autorizarComprobante', N'/autorizar/autorizarComprobante')
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [TIPO_TRANSACCION], [TRANSACCION_REST], [URL_REST]) VALUES (1002, N'consultarUltimoComprobante', N'Consultar Ultimo Comprobante', N'consultarUltimoComprobante', N'/consultar/ultimoComprobante')
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [TIPO_TRANSACCION], [TRANSACCION_REST], [URL_REST]) VALUES (1003, N'consultarComprobante', N'Consultar Comprobante', N'consultarComprobante', N'/consultar/comprobante')

/****** Object:  Table [dbo].[INTERFACES]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL], [CUIT_SUSCRIPCION]) 
	VALUES (9901, N'DEMO', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB'
			, N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N', N'20000000001')
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL], [CUIT_SUSCRIPCION]) 
	VALUES (9904, N'CONSOLA', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB'
			, N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N', N'27000000001')
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL], [CUIT_SUSCRIPCION]) 
	VALUES (2001, N'ADMIFARM XXXX', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB'
			, N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N', N'33000000009')

/****** Object:  Table [dbo].[PUNTO_VENTA]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA], [ID_INTERFAZ], [PUNTO_VENTA], [ACTIVADO], [FLG_CONTROL]) VALUES (9901, 9901, N'0001', N'S', N'N')
INSERT [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA], [ID_INTERFAZ], [PUNTO_VENTA], [ACTIVADO], [FLG_CONTROL]) VALUES (1, 2001, N'9999', N'S', N'N')

/****** Object:  Table [dbo].[ROL]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[ROL] ([id], [descripcion], [codigo], [visible]) VALUES (1, N'Administrator', N'ROLE_ADMIN', 1)

/****** Object:  Table [dbo].[USUARIO]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[USUARIO] ([id], [id_rol], [usuario], [password], [ultimo_acceso], [activo], [bloqueado], [reintento], [administrable], [apellido], [nombre], [mail], [cambia_clave], [version_ui], [visible], [theme]) 
	VALUES (1, 1, N'ADMIN', N'$2a$10$VIBSYlQLnDet3CbXIu8Fs.7b7iPXaE1ILmala9VDTnc8vu9M7QiQa', NULL, 1, 0, 0, 1, N'ADMIN', N'', N'admin@admifarmgroup.com', 0, N'1', 1, NULL)

/****** Object:  Table [dbo].[USUARIO_PUNTO_VENTA]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[USUARIO_PUNTO_VENTA] ([id], [id_usuario], [id_punto_venta]) VALUES (1, 1, 9901)
INSERT [dbo].[USUARIO_PUNTO_VENTA] ([id], [id_usuario], [id_punto_venta]) VALUES (2, 1, 1)

/****** Object:  Table [dbo].[SECCION]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (1, N'Usuarios', 1, N'SEC_USR', N'')
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (2, N'Configuracion', 3, N'SEC_CFG', N'')
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (3, N'Registros', 2, N'SEC_REG', N'')

/****** Object:  Table [dbo].[ITEM]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (1, 1, N'Administración', 1, N'/secure/usuarios/administracion.xhtml', N'flaticon-usuarios', N'SI_ADM_USR', NULL)
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (2, 3, N'Registros', 1, N'/secure/registraciones/registros.xhtml', N'flaticon-log_oper', N'SI_REG_LOG', NULL)
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (3, 2, N'Párametros', 1, N'/secure/configuraciones/parametros.xhtml', N'flaticon-config', N'SI_CFG_PAR', NULL)

/****** Object:  Table [dbo].[ITEM_ROL]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (1, 1, 1)
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (2, 1, 2)
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (3, 1, 3)
