/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          Fews.dez                                        */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Database creation script                        */
/* Created on:            2019-10-31 20:43                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Tables                                                                 */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* Add table "CANALES_ACCESO"                                             */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[CANALES_ACCESO] (
    [ID_CANAL_ACCESO] BIGINT NOT NULL,
    [CANAL_ACCESO] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_CANALES_ACCESO] PRIMARY KEY CLUSTERED ([ID_CANAL_ACCESO])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "CLIENTES"                                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[CLIENTES] (
    [ID_CLIENTE] BIGINT NOT NULL,
    [USUARIO] NVARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [NOMBRE] VARCHAR(80) COLLATE Modern_Spanish_CI_AS,
    [APELLIDO] VARCHAR(80) COLLATE Modern_Spanish_CI_AS,
    [ID_TIPO_DOC_PERSONA] BIGINT NOT NULL,
    [NRO_DOC] VARCHAR(15) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [NACIONALIDAD] BIGINT,
    [F_NACIMIENTO] DATETIME,
    [CUIT_CUIL] VARCHAR(11) COLLATE Modern_Spanish_CI_AS,
    [ID_DIRECCION] BIGINT,
    [EMAIL] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [OCUPACION] VARCHAR(80) COLLATE Modern_Spanish_CI_AS,
    [PEP] TINYINT,
    [PIN] VARCHAR(128) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [F_ALTA] DATETIME NOT NULL,
    [F_VIGENCIA_PIN] DATETIME NOT NULL,
    [ACCESOS_FALLIDOS] TINYINT NOT NULL,
    [FLG_HABILITADO] TINYINT NOT NULL,
    [ID_TIPO_ESTADO_CLIENTE] BIGINT NOT NULL,
    [CODIGO_BLANQUEO] VARCHAR(128) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED ([ID_CLIENTE]),
    CONSTRAINT [TUC_CLIENTES_1] UNIQUE ([USUARIO]),
    CONSTRAINT [TUC_CLIENTES_2] UNIQUE ([ID_TIPO_DOC_PERSONA], [NRO_DOC]),
    CONSTRAINT [TUC_CLIENTES_3] UNIQUE ([CUIT_CUIL])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "DIRECCIONES_CLIENTES"                                       */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[DIRECCIONES_CLIENTES] (
    [ID_DIRECCION] BIGINT IDENTITY(1,1) NOT NULL,
    [CALLE] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [NUMERO] VARCHAR(10) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [PISO] VARCHAR(5) COLLATE Modern_Spanish_CI_AS,
    [DEPARTAMENTO] VARCHAR(5) COLLATE Modern_Spanish_CI_AS,
    [ID_LOCALIDAD] BIGINT,
    [LOCALIDAD_ALTERNATIVA] VARCHAR(80) COLLATE Modern_Spanish_CI_AS,
    [COD_POSTAL] VARCHAR(10) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_DIRECCIONES_CLIENTES] PRIMARY KEY CLUSTERED ([ID_DIRECCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_CMP_ASOC"                                              */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_CMP_ASOC] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [tipo_cbte] INTEGER NOT NULL,
    [punto_vta] INTEGER NOT NULL,
    [cbte_nro] INTEGER NOT NULL,
    [cuit] VARCHAR(20),
    [fecha_cbte] VARCHAR(8),
    CONSTRAINT [PK_FEWS_CMP_ASOC] PRIMARY KEY CLUSTERED ([id], [tipo_cbte], [punto_vta], [cbte_nro])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_DETALLE"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_DETALLE] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [itm] INTEGER NOT NULL,
    [codigo] VARCHAR(30) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [qty] NUMERIC(12,2),
    [umed] INTEGER,
    [precio] NUMERIC(12,3),
    [imp_total] NUMERIC(14,3),
    [iva_id] INTEGER,
    [ds] VARCHAR(4000) COLLATE Modern_Spanish_CI_AS,
    [ncm] VARCHAR(15) COLLATE Modern_Spanish_CI_AS,
    [sec] VARCHAR(15) COLLATE Modern_Spanish_CI_AS,
    [bonif] NUMERIC(15,2),
    [imp_iva] NUMERIC(15,2),
    [u_mtx] INTEGER,
    [cod_mtx] VARCHAR(30) COLLATE Modern_Spanish_CI_AS,
    [dato_a] VARCHAR(15) COLLATE Modern_Spanish_CI_AS,
    [dato_b] VARCHAR(15) COLLATE Modern_Spanish_CI_AS,
    [dato_c] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [dato_d] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [dato_e] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_FEWS_DETALLE] PRIMARY KEY CLUSTERED ([id], [itm], [codigo])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_ENCABEZADO"                                            */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_ENCABEZADO] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [tipo_reg] INTEGER,
    [webservice] VARCHAR(5) COLLATE Modern_Spanish_CI_AS,
    [id_interfaz] BIGINT,
    [movimiento] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [cuit] VARCHAR(20),
    [concepto] INTEGER,
    [fecha_cbte] VARCHAR(8) COLLATE Modern_Spanish_CI_AS,
    [tipo_cbte] INTEGER,
    [punto_vta] INTEGER,
    [cbte_nro] INTEGER,
    [tipo_expo] INTEGER,
    [permiso_existente] VARCHAR(1) COLLATE Modern_Spanish_CI_AS,
    [dst_cmp] INTEGER,
    [nombre_cliente] VARCHAR(200) COLLATE Modern_Spanish_CI_AS,
    [tipo_doc] INTEGER,
    [nro_doc] BIGINT,
    [domicilio_cliente] VARCHAR(300) COLLATE Modern_Spanish_CI_AS,
    [id_impositivo] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [imp_total] NUMERIC(15,3),
    [imp_tot_conc] NUMERIC(15,3),
    [imp_neto] NUMERIC(15,3),
    [imp_iva] NUMERIC(15,3),
    [imp_op_ex] NUMERIC(15,3),
    [imp_trib] NUMERIC(15,3),
    [impto_liq] NUMERIC(15,3),
    [impto_liq_rni] NUMERIC(15,3),
    [impto_perc] NUMERIC(15,2),
    [imp_iibb] NUMERIC(15,3),
    [impto_perc_mun] NUMERIC(15,3),
    [imp_internos] NUMERIC(15,3),
    [moneda_id] VARCHAR(3) COLLATE Modern_Spanish_CI_AS,
    [moneda_ctz] NUMERIC(10,6),
    [obs_comerciales] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [obs_generales] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [forma_pago] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [incoterms] VARCHAR(3) COLLATE Modern_Spanish_CI_AS,
    [incoterms_ds] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [idioma_cbte] VARCHAR(1) COLLATE Modern_Spanish_CI_AS,
    [zona] VARCHAR(5) COLLATE Modern_Spanish_CI_AS,
    [fecha_venc_pago] VARCHAR(8) COLLATE Modern_Spanish_CI_AS,
    [presta_serv] INTEGER,
    [fecha_serv_desde] VARCHAR(8) COLLATE Modern_Spanish_CI_AS,
    [fecha_serv_hasta] VARCHAR(8) COLLATE Modern_Spanish_CI_AS,
    [cae] BIGINT,
    [fecha_vto] VARCHAR(8) COLLATE Modern_Spanish_CI_AS,
    [resultado] VARCHAR(1) COLLATE Modern_Spanish_CI_AS,
    [reproceso] VARCHAR(1) COLLATE Modern_Spanish_CI_AS,
    [motivo] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [telefono_cliente] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [localidad_cliente] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [provincia_cliente] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [formato_id] INTEGER,
    [email] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    [pdf] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    [err_code] VARCHAR(6) COLLATE Modern_Spanish_CI_AS,
    [err_msg] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [dato_adicional1] VARCHAR(30) COLLATE Modern_Spanish_CI_AS,
    [dato_adicional2] VARCHAR(30) COLLATE Modern_Spanish_CI_AS,
    [dato_adicional3] VARCHAR(30) COLLATE Modern_Spanish_CI_AS,
    [dato_adicional4] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    [dato_adicional5] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    [dato_adicional6] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    [dato_adicional7] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [estado_importacion] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_FEWS_ENCABEZADO] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [TUC_FEWS_ENCABEZADO_1] UNIQUE ([movimiento])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_FORMATO_PDF"                                           */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_FORMATO_PDF] (
    [formato_id] INTEGER NOT NULL,
    [name] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_FEWS_FORMATO_PDF] PRIMARY KEY CLUSTERED ([formato_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_FORMATO_PDF_DET"                                       */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_FORMATO_PDF_DET] (
    [pk] INTEGER IDENTITY(0,1) NOT NULL,
    [formato_id] INTEGER NOT NULL,
    [name] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [type] VARCHAR(2) COLLATE Modern_Spanish_CI_AS,
    [x1] NUMERIC(10,2),
    [y1] NUMERIC(10,2),
    [x2] NUMERIC(10,2),
    [y2] NUMERIC(10,2),
    [font] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [size] NUMERIC(10,2),
    [bold] BIT,
    [italic] BIT,
    [underline] BIT,
    [foreground] INTEGER,
    [backgroud] INTEGER,
    [align] VARCHAR(1) COLLATE Modern_Spanish_CI_AS,
    [text] VARCHAR(250) COLLATE Modern_Spanish_CI_AS,
    [priority] INTEGER,
    CONSTRAINT [PK_FEWS_FORMATO_PDF_DET] PRIMARY KEY CLUSTERED ([pk], [formato_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_IVA"                                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_IVA] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [iva_id] INTEGER NOT NULL,
    [base_imp] NUMERIC(15,3),
    [importe] NUMERIC(15,3),
    CONSTRAINT [PK_FEWS_IVA] PRIMARY KEY CLUSTERED ([id], [iva_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_PERMISO"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_PERMISO] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [id_permiso] VARCHAR(16) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [dst_merc] INTEGER,
    CONSTRAINT [PK_FEWS_PERMISO] PRIMARY KEY CLUSTERED ([id], [id_permiso])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_TRIBUTO"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_TRIBUTO] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [tributo_id] INTEGER NOT NULL,
    [tributo_desc] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    [base_imp] NUMERIC(15,3),
    [alic] NUMERIC(15,2),
    [importe] NUMERIC(15,3),
    CONSTRAINT [PK_FEWS_TRIBUTO] PRIMARY KEY CLUSTERED ([id], [tributo_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "INTERFACES"                                                 */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[INTERFACES] (
    [ID_INTERFAZ] BIGINT NOT NULL,
    [INTERFAZ] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [CLAVE] VARCHAR(128) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [ACTIVADO] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [CANT_OPERACIONES] INTEGER NOT NULL,
    [CANT_ACUM_OPERACIONES] NUMERIC(10,2) NOT NULL,
    [ID_CANAL_ACCESO] BIGINT NOT NULL,
    [FLG_CONTROL] CHAR(1) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [CUIT_SUSCRIPCION] VARCHAR(20),
    CONSTRAINT [PK_INTERFACES] PRIMARY KEY CLUSTERED ([ID_INTERFAZ]),
    CONSTRAINT [TUC_INTERFACES_1] UNIQUE ([CUIT_SUSCRIPCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "ITEM"                                                       */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[ITEM] (
    [id] BIGINT NOT NULL,
    [id_seccion] BIGINT NOT NULL,
    [descripcion] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [orden] INTEGER NOT NULL,
    [url] VARCHAR(150) COLLATE Modern_Spanish_CI_AS,
    [icon] VARCHAR(80) COLLATE Modern_Spanish_CI_AS,
    [codigo] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [target] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_ITEM] PRIMARY KEY CLUSTERED ([id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "ITEM_ROL"                                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[ITEM_ROL] (
    [id] BIGINT NOT NULL,
    [id_rol] BIGINT NOT NULL,
    [id_item] BIGINT NOT NULL,
    CONSTRAINT [PK_ITEM_ROL] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [TUC_ITEM_ROL_1] UNIQUE ([id_rol], [id_item])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "LOCALIDADES"                                                */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[LOCALIDADES] (
    [ID_LOCALIDAD] BIGINT NOT NULL,
    [NOMBRE] VARCHAR(80) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [ID_PROVINCIA] BIGINT,
    CONSTRAINT [PK_LOCALIDADES] PRIMARY KEY CLUSTERED ([ID_LOCALIDAD])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "LOG_CONSOLA"                                                */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[LOG_CONSOLA] (
    [ID] BIGINT IDENTITY(1,1) NOT NULL,
    [FECHA] DATETIME NOT NULL,
    [USUARIO] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [URL] VARCHAR(150) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [DATOS_OPERACION] VARCHAR(4000) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_LOG_CONSOLA] PRIMARY KEY CLUSTERED ([ID])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "LOG_TRANSACCIONES"                                          */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[LOG_TRANSACCIONES] (
    [ID_LOG_TRANSACCION] BIGINT IDENTITY(1,1) NOT NULL,
    [F_INICIO_OPERACION] DATETIME NOT NULL,
    [F_FIN_OPERACION] DATETIME NOT NULL,
    [ID_TIPO_TRANSACCION] BIGINT NOT NULL,
    [XML_ENTRADA] TEXT COLLATE Modern_Spanish_CI_AS,
    [XML_SALIDA] TEXT COLLATE Modern_Spanish_CI_AS,
    [ID_REGISTRO_TRANSACCION] BIGINT NOT NULL,
    [CODIGO] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [DESCRIPCION] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [OBSERVACION] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [EXCEPCION_WSAA] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [EXCEPCION_WSFEV1] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [RESULTADO] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [ERR_MSG] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [OBS] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [XML_REQUEST_AFIP] TEXT COLLATE Modern_Spanish_CI_AS,
    [XML_RESPONSE_AFIP] TEXT COLLATE Modern_Spanish_CI_AS,
    [TIPO_COMPROBANTE] VARCHAR(3) COLLATE Modern_Spanish_CI_AS,
    [PUNTO_VENTA] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [NUMERO_COMPROBANTE] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [COMPROBANTE] VARCHAR(30),
    [FECHA_COMPROBANTE] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [IMPORTE_TOTAL] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [CAE] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [FECHA_VENCIMIENTO] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_LOG_TRANSACCIONES] PRIMARY KEY CLUSTERED ([ID_LOG_TRANSACCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "LOGS_AUDITORIA"                                             */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[LOGS_AUDITORIA] (
    [ID_LOG_AUDITORIA] BIGINT NOT NULL,
    [F_LOG] DATETIME NOT NULL,
    [COD_CONSOLA] INTEGER,
    [CONSOLA] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [OPERADOR] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [OPERACION] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [RESULTADO] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [COD_RESULTADO] INTEGER NOT NULL,
    [SERVIDOR] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_LOGS_AUDITORIA] PRIMARY KEY CLUSTERED ([ID_LOG_AUDITORIA])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "LOGS_GENERICOS"                                             */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[LOGS_GENERICOS] (
    [ID_LOG] BIGINT NOT NULL,
    [PROCESO] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [DESCRIPCION] VARCHAR(4000) COLLATE Modern_Spanish_CI_AS,
    [F_PROCESO] DATETIME NOT NULL,
    [ESTADO_PROCESO] INTEGER NOT NULL,
    CONSTRAINT [PK_LOGS_GENERICOS] PRIMARY KEY CLUSTERED ([ID_LOG])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "NUM_CODIGO_OPERACION"                                       */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[NUM_CODIGO_OPERACION] (
    [NUMERO] BIGINT IDENTITY(0,1) NOT NULL,
    CONSTRAINT [PK_NUM_CODIGO_OPERACION] PRIMARY KEY CLUSTERED ([NUMERO])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "PAISES"                                                     */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[PAISES] (
    [ID_PAIS] BIGINT NOT NULL,
    [NOMBRE] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_PAISES] PRIMARY KEY CLUSTERED ([ID_PAIS])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "PARAMETROS"                                                 */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[PARAMETROS] (
    [ID_PARAMETRO] BIGINT NOT NULL,
    [PARAMETRO] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [DESCRIPCION] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [TXT_AYUDA] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_PARAMETROS] PRIMARY KEY CLUSTERED ([ID_PARAMETRO])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "PARAMETROS_VALOR"                                           */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[PARAMETROS_VALOR] (
    [ID_PARAMETRO_VALOR] BIGINT NOT NULL,
    [ID_PARAMETRO] BIGINT NOT NULL,
    [VALOR] VARCHAR(4000) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [F_VIGENCIA_DESDE] DATETIME NOT NULL,
    [F_VIGENCIA_HASTA] DATETIME NOT NULL,
    CONSTRAINT [PK_PARAMETROS_VALOR] PRIMARY KEY CLUSTERED ([ID_PARAMETRO_VALOR])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "PROVINCIAS"                                                 */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[PROVINCIAS] (
    [ID_PROVINCIA] BIGINT NOT NULL,
    [PROVINCIA] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [COD_PROVINCIA] VARCHAR(2) COLLATE Modern_Spanish_CI_AS,
    [ID_PAIS] BIGINT,
    CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED ([ID_PROVINCIA])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "PUNTO_VENTA"                                                */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[PUNTO_VENTA] (
    [ID_PUNTO_VENTA] BIGINT NOT NULL,
    [ID_INTERFAZ] BIGINT NOT NULL,
    [PUNTO_VENTA] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [ACTIVADO] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [FLG_CONTROL] CHAR(1) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_PUNTO_VENTA] PRIMARY KEY CLUSTERED ([ID_PUNTO_VENTA]),
    CONSTRAINT [TUC_PUNTO_VENTA_1] UNIQUE ([ID_INTERFAZ], [PUNTO_VENTA])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "REGISTROS_TRANSACCIONES"                                    */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES] (
    [ID_REGISTRO_TRANSACCION] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_INTERFAZ] BIGINT NOT NULL,
    [F_TRANSACCION] DATETIME NOT NULL,
    [COD_TRANSACCION] INTEGER NOT NULL,
    [DATOS_TRANSACCION] VARBINARY(max) NOT NULL,
    [SERVICIO] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_REGISTROS_TRANSACCIONES] PRIMARY KEY CLUSTERED ([ID_REGISTRO_TRANSACCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "ROL"                                                        */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[ROL] (
    [id] BIGINT NOT NULL,
    [descripcion] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [codigo] VARCHAR(15) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [visible] BIT NOT NULL,
    CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED ([id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "SECCION"                                                    */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[SECCION] (
    [id] BIGINT NOT NULL,
    [descripcion] VARCHAR(100) COLLATE Modern_Spanish_CI_AS,
    [orden] INTEGER,
    [codigo] VARCHAR(15) COLLATE Modern_Spanish_CI_AS,
    [url] VARCHAR(150) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_SECCION] PRIMARY KEY CLUSTERED ([id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "TIPO_ESTADO_CLIENTES"                                       */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[TIPO_ESTADO_CLIENTES] (
    [ID_TIPO_ESTADO_CLIENTE] BIGINT NOT NULL,
    [TIPO_ESTADO_CLIENTE] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [DESCRIPCION] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_TIPO_ESTADO_CLIENTES] PRIMARY KEY CLUSTERED ([ID_TIPO_ESTADO_CLIENTE])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "TIPOS_DOC_PERSONAS"                                         */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[TIPOS_DOC_PERSONAS] (
    [ID_TIPO_DOC_PERSONA] BIGINT NOT NULL,
    [TIPO_DOCUMENTO] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_TIPOS_DOC_PERSONAS] PRIMARY KEY CLUSTERED ([ID_TIPO_DOC_PERSONA])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "TIPOS_TRANSACCIONES"                                        */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[TIPOS_TRANSACCIONES] (
    [ID_TIPO_TRANSACCION] BIGINT NOT NULL,
    [TRANSACCION] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [TIPO_TRANSACCION] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [TRANSACCION_REST] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    [URL_REST] VARCHAR(80) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_TIPOS_TRANSACCIONES] PRIMARY KEY CLUSTERED ([ID_TIPO_TRANSACCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "USUARIO"                                                    */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[USUARIO] (
    [id] BIGINT NOT NULL,
    [id_rol] BIGINT NOT NULL,
    [usuario] VARCHAR(20) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [password] VARCHAR(60) COLLATE Modern_Spanish_CI_AS,
    [ultimo_acceso] DATETIME,
    [activo] BIT,
    [bloqueado] BIT,
    [reintento] INTEGER,
    [administrable] BIT,
    [apellido] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [nombre] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [mail] VARCHAR(40) COLLATE Modern_Spanish_CI_AS,
    [cambia_clave] BIT,
    [version_ui] VARCHAR(50) COLLATE Modern_Spanish_CI_AS NOT NULL,
    [visible] BIT NOT NULL,
    [theme] VARCHAR(50) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [TUC_USUARIO_1] UNIQUE ([usuario])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "USUARIO_PUNTO_VENTA"                                        */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[USUARIO_PUNTO_VENTA] (
    [id] BIGINT NOT NULL,
    [id_usuario] BIGINT,
    [id_punto_venta] BIGINT,
    CONSTRAINT [PK_USUARIO_PUNTO_VENTA] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [TUC_USUARIO_PUNTO_VENTA_1] UNIQUE ([id_usuario], [id_punto_venta])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "LOG_TRANSACCIONES_HIS"                                      */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[LOG_TRANSACCIONES_HIS] (
    [ID_LOG_TRANSACCION] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_CLIENTE] BIGINT,
    [F_INICIO_OPERACION] DATETIME NOT NULL,
    [F_FIN_OPERACION] DATETIME NOT NULL,
    [ID_TIPO_TRANSACCION] BIGINT NOT NULL,
    [XML_ENTRADA] TEXT COLLATE Modern_Spanish_CI_AS,
    [XML_SALIDA] TEXT COLLATE Modern_Spanish_CI_AS,
    [ID_REGISTRO_TRANSACCION] BIGINT,
    [CODIGO] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [DESCRIPCION] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [OBSERVACION] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [EXCEPCION_WSAA] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [EXCEPCION_WSFEV1] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [RESULTADO] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [ERR_MSG] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [OBS] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [XML_REQUEST_AFIP] TEXT COLLATE Modern_Spanish_CI_AS,
    [XML_RESPONSE_AFIP] TEXT COLLATE Modern_Spanish_CI_AS,
    [TIPO_COMPROBANTE] VARCHAR(3) COLLATE Modern_Spanish_CI_AS,
    [PUNTO_VENTA] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [NUMERO_COMPROBANTE] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [FECHA_COMPROBANTE] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [IMPORTE_TOTAL] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [CAE] VARCHAR(20) COLLATE Modern_Spanish_CI_AS,
    [FECHA_VENCIMIENTO] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_LOG_TRANSACCIONES_HIS] PRIMARY KEY CLUSTERED ([ID_LOG_TRANSACCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "REGISTROS_TRANSACCIONES_HIS"                                */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS] (
    [ID_REGISTRO_TRANSACCION] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_INTERFAZ] BIGINT NOT NULL,
    [F_TRANSACCION] DATETIME NOT NULL,
    [COD_TRANSACCION] INTEGER NOT NULL,
    [DATOS_TRANSACCION] VARBINARY(max) NOT NULL,
    [SERVICIO] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_REGISTROS_TRANSACCIONES_HIS] PRIMARY KEY CLUSTERED ([ID_REGISTRO_TRANSACCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_XML"                                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_XML] (
    [id] INTEGER NOT NULL,
    [xml_request] TEXT COLLATE Modern_Spanish_CI_AS,
    [xml_response] TEXT COLLATE Modern_Spanish_CI_AS,
    [ts] TIMESTAMP,
    [codigo] VARCHAR(10) COLLATE Modern_Spanish_CI_AS,
    [descripcion] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [observacion] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [excepcion_wsaa] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    [excepcion_wsfev1] VARCHAR(1000) COLLATE Modern_Spanish_CI_AS,
    CONSTRAINT [PK_FEWS_XML] PRIMARY KEY CLUSTERED ([id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "LOG_TIMER"                                                  */
/* ---------------------------------------------------------------------- */
CREATE TABLE [LOG_TIMER] (
    [objeto_instanciado] VARCHAR(100) NOT NULL,
    [mensaje] TEXT,
    [fecha_ejecucion] DATETIME,
    [clase] VARCHAR(100),
    [metodo] VARCHAR(100),
    [espera] INTEGER,
    [periodo] INTEGER,
    CONSTRAINT [PK_LOG_TIMER] PRIMARY KEY CLUSTERED ([objeto_instanciado])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_VENTAS_CBTE"                                         */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_VENTAS_CBTE] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [id_cabecera] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [movimiento] VARCHAR(20),
    [fecha_cbte] VARCHAR(8),
    [tipo_cbte] VARCHAR(3),
    [punto_vta] VARCHAR(5),
    [cbte_nro] VARCHAR(20),
    [cbte_nro_h] VARCHAR(20),
    [tipo_doc_comprador] VARCHAR(2) NOT NULL,
    [nro_doc_comprador] VARCHAR(20),
    [nombre_comprador] VARCHAR(30),
    [imp_total] VARCHAR(15),
    [imp_tot_conc] VARCHAR(15),
    [imp_perc_no_cat] VARCHAR(15),
    [imp_op_ex] VARCHAR(15),
    [imp_perc_nac] VARCHAR(15),
    [imp_perc_iibb] VARCHAR(15),
    [imp_perc_mun] VARCHAR(15),
    [imp_internos] VARCHAR(15),
    [moneda_id] VARCHAR(3),
    [moneda_ctz] VARCHAR(10),
    [cant_alic] VARCHAR(1),
    [cod_operacion] VARCHAR(1),
    [imp_otros_trib] VARCHAR(15),
    [fecha_venc_pago] VARCHAR(8),
    CONSTRAINT [PK_RG3685_VENTAS_CBTE] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [TUC_RG3685_VENTAS_CBTE_1] UNIQUE ([id_cabecera], [tipo_cbte], [punto_vta], [cbte_nro]),
    CONSTRAINT [TUC_RG3685_VENTAS_CBTE_2] UNIQUE ([movimiento])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_COMPRAS_IMPORTACIONES"                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_COMPRAS_IMPORTACIONES] (
    [id_compra_cbte] INTEGER NOT NULL,
    [alic_iva] VARCHAR(4) NOT NULL,
    [tipo_reg] INTEGER,
    [dsp_importacion] VARCHAR(16),
    [imp_neto] VARCHAR(15),
    [imp_iva] VARCHAR(15),
    CONSTRAINT [PK_RG3685_COMPRAS_IMPORTACIONES] PRIMARY KEY CLUSTERED ([id_compra_cbte], [alic_iva])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_VENTAS_ALICUOTAS"                                    */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_VENTAS_ALICUOTAS] (
    [id_ventas_cbte] INTEGER NOT NULL,
    [id_alic_iva] VARCHAR(4) NOT NULL,
    [tipo_reg] INTEGER,
    [tipo_cbte] VARCHAR(3),
    [punto_vta] VARCHAR(5),
    [cbte_nro] VARCHAR(20),
    [imp_neto] VARCHAR(15),
    [imp_iva] VARCHAR(15),
    CONSTRAINT [PK_RG3685_VENTAS_ALICUOTAS] PRIMARY KEY CLUSTERED ([id_ventas_cbte], [id_alic_iva])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_CABECERA"                                            */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_CABECERA] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [tipo_reg] INTEGER,
    [cuit_informante] VARCHAR(11),
    [periodo] VARCHAR(6),
    [secuencia] VARCHAR(2),
    [sin_movimiento] VARCHAR(1),
    [prorratear_cf_cble] VARCHAR(1),
    [cf_global_cbte] VARCHAR(1),
    [importe_cf_cble_global] VARCHAR(15),
    [importe_cf_cble_asig_directa] VARCHAR(15),
    [importe_cf_cble_prorrateo] VARCHAR(15),
    [importe_cf_no_cble] VARCHAR(15),
    [cf_css_y_otros] VARCHAR(15),
    [cf_cble_css_y_otros] VARCHAR(15),
    CONSTRAINT [PK_RG3685_CABECERA] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [TUC_RG3685_CABECERA_1] UNIQUE ([cuit_informante], [periodo])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_COMPRAS_CBTE"                                        */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_COMPRAS_CBTE] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [id_cabecera] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [movimiento] VARCHAR(20),
    [fecha_cbte] VARCHAR(8),
    [tipo_cbte] VARCHAR(3),
    [punto_vta] VARCHAR(5),
    [cbte_nro] VARCHAR(20),
    [dsp_importacion] VARCHAR(15),
    [tipo_doc_vendedor] VARCHAR(2),
    [nro_doc_vendedor] VARCHAR(20),
    [nombre_vendedor] VARCHAR(30),
    [imp_total] VARCHAR(15),
    [imp_tot_conc] VARCHAR(15),
    [imp_op_ex] VARCHAR(15),
    [imp_perc_iva] VARCHAR(15),
    [imp_perc_nac] VARCHAR(15),
    [imp_perc_iibb] VARCHAR(15),
    [imp_perc_mun] VARCHAR(15),
    [imp_internos] VARCHAR(15),
    [moneda_id] VARCHAR(3),
    [moneda_ctz] VARCHAR(10),
    [cant_alic] VARCHAR(1),
    [cod_operacion] VARCHAR(1),
    [imp_cf_cble] VARCHAR(15),
    [imp_otros_trib] VARCHAR(15),
    [cuit_emisor] VARCHAR(11),
    [denom_emisor] VARCHAR(30),
    [iva_comision] VARCHAR(15),
    CONSTRAINT [PK_RG3685_COMPRAS_CBTE] PRIMARY KEY CLUSTERED ([id]),
    CONSTRAINT [TUC_RG3685_COMPRAS_CBTE_1] UNIQUE ([id_cabecera], [tipo_cbte], [punto_vta], [cbte_nro], [tipo_doc_vendedor], [nro_doc_vendedor]),
    CONSTRAINT [TUC_RG3685_COMPRAS_CBTE_2] UNIQUE ([movimiento])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_COMPRAS_ALICUOTAS"                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_COMPRAS_ALICUOTAS] (
    [id_compras_cbte] INTEGER NOT NULL,
    [id_alic_iva] VARCHAR(4) NOT NULL,
    [tipo_reg] INTEGER,
    [tipo_cbte] VARCHAR(3),
    [punto_vta] VARCHAR(5),
    [cbte_nro] VARCHAR(20),
    [tipo_doc_vendedor] VARCHAR(2),
    [nro_doc_vendedor] VARCHAR(20),
    [imp_neto] VARCHAR(15),
    [imp_iva] VARCHAR(15),
    CONSTRAINT [PK_RG3685_COMPRAS_ALICUOTAS] PRIMARY KEY CLUSTERED ([id_compras_cbte], [id_alic_iva])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "RG3685_CF_IMPORT_SERVICIOS"                                 */
/* ---------------------------------------------------------------------- */
CREATE TABLE [RG3685_CF_IMPORT_SERVICIOS] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [id_cabecera] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [tipo_cbte] VARCHAR(1),
    [descripcion] VARCHAR(20),
    [identif_cbte] VARCHAR(20),
    [fecha_oper] VARCHAR(8),
    [imp_moneda_orig] VARCHAR(15),
    [moneda_id] VARCHAR(3),
    [moneda_ctz] VARCHAR(10),
    [cuit_prestador] VARCHAR(11),
    [nif_prestador] VARCHAR(20),
    [nombre_prestador] VARCHAR(30),
    [alic_aplic] VARCHAR(4),
    [fecha_ing_impuesto] VARCHAR(8),
    [imp_impuesto_ing] VARCHAR(15),
    [imp_impuesto_cble] VARCHAR(15),
    [identif_pago] VARCHAR(20),
    [cuit_entidad_pago] VARCHAR(11),
    CONSTRAINT [PK_RG3685_CF_IMPORT_SERVICIOS] PRIMARY KEY CLUSTERED ([id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_DATO_OPC"                                              */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[FEWS_DATO_OPC] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [opcional_id] INTEGER NOT NULL,
    [valor] VARCHAR(200) NOT NULL,
    CONSTRAINT [PK_FEWS_DATO_OPC] PRIMARY KEY CLUSTERED ([id], [opcional_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "REGISTRO_TRANSACCION_HIS"                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [dbo].[REGISTRO_TRANSACCION_HIS] (
    [ID_REGISTRO_TRANSACCION] BIGINT IDENTITY(1,1) NOT NULL,
    [ID_INTERFAZ] BIGINT NOT NULL,
    [F_TRANSACCION] DATETIME NOT NULL,
    [COD_TRANSACCION] INTEGER NOT NULL,
    [DATOS_TRANSACCION] VARBINARY(max) NOT NULL,
    [SERVICIO] VARCHAR(100) COLLATE Modern_Spanish_CI_AS NOT NULL,
    CONSTRAINT [PK_REGISTRO_TRANSACCION_HIS] PRIMARY KEY CLUSTERED ([ID_REGISTRO_TRANSACCION])
)
GO


/* ---------------------------------------------------------------------- */
/* Foreign key constraints                                                */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_DIRECCIONES_CLIENTES_CLIENTES] 
    FOREIGN KEY ([ID_DIRECCION]) REFERENCES [dbo].[DIRECCIONES_CLIENTES] ([ID_DIRECCION])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_TIPO_ESTADO_CLIENTES_CLIENTES] 
    FOREIGN KEY ([ID_TIPO_ESTADO_CLIENTE]) REFERENCES [dbo].[TIPO_ESTADO_CLIENTES] ([ID_TIPO_ESTADO_CLIENTE])
GO

ALTER TABLE [dbo].[CLIENTES] ADD CONSTRAINT [FK_TIPOS_DOC_PERSONAS_CLIENTES] 
    FOREIGN KEY ([ID_TIPO_DOC_PERSONA]) REFERENCES [dbo].[TIPOS_DOC_PERSONAS] ([ID_TIPO_DOC_PERSONA])
GO

ALTER TABLE [dbo].[DIRECCIONES_CLIENTES] ADD CONSTRAINT [FK_LOCALIDADES_DIRECCIONES_CLIENTES] 
    FOREIGN KEY ([ID_LOCALIDAD]) REFERENCES [dbo].[LOCALIDADES] ([ID_LOCALIDAD])
GO

ALTER TABLE [dbo].[FEWS_CMP_ASOC] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_CMP_ASOC] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[FEWS_DETALLE] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_DETALLE] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] ADD CONSTRAINT [FK_FEWS_FORMATO_PDF_FEWS_ENCABEZADO] 
    FOREIGN KEY ([formato_id]) REFERENCES [dbo].[FEWS_FORMATO_PDF] ([formato_id])
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] ADD CONSTRAINT [FK_INTERFACES_FEWS_ENCABEZADO] 
    FOREIGN KEY ([id_interfaz]) REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO

ALTER TABLE [dbo].[FEWS_FORMATO_PDF_DET] ADD CONSTRAINT [FK_FEWS_FORMATO_PDF_FEWS_FORMATO_PDF_DET] 
    FOREIGN KEY ([formato_id]) REFERENCES [dbo].[FEWS_FORMATO_PDF] ([formato_id])
GO

ALTER TABLE [dbo].[FEWS_IVA] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_IVA] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[FEWS_PERMISO] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_PERMISO] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[FEWS_TRIBUTO] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_TRIBUTO] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[INTERFACES] ADD CONSTRAINT [FK_CANALES_ACCESO_INTERFACES] 
    FOREIGN KEY ([ID_CANAL_ACCESO]) REFERENCES [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO])
GO

ALTER TABLE [dbo].[ITEM] ADD CONSTRAINT [FK_SECCION_ITEM] 
    FOREIGN KEY ([id_seccion]) REFERENCES [dbo].[SECCION] ([id])
GO

ALTER TABLE [dbo].[ITEM_ROL] ADD CONSTRAINT [FK_ITEM_ITEM_ROL] 
    FOREIGN KEY ([id_item]) REFERENCES [dbo].[ITEM] ([id])
GO

ALTER TABLE [dbo].[ITEM_ROL] ADD CONSTRAINT [FK_ROL_ITEM_ROL] 
    FOREIGN KEY ([id_rol]) REFERENCES [dbo].[ROL] ([id])
GO

ALTER TABLE [dbo].[LOCALIDADES] ADD CONSTRAINT [FK_PROVINCIAS_LOCALIDADES] 
    FOREIGN KEY ([ID_PROVINCIA]) REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD CONSTRAINT [FK_REGISTROS_TRANSACCIONES_LOG_TRANSACCIONES] 
    FOREIGN KEY ([ID_REGISTRO_TRANSACCION]) REFERENCES [dbo].[REGISTROS_TRANSACCIONES] ([ID_REGISTRO_TRANSACCION])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] ADD CONSTRAINT [FK_TIPOS_TRANSACCIONES_LOG_TRANSACCIONES] 
    FOREIGN KEY ([ID_TIPO_TRANSACCION]) REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO

ALTER TABLE [dbo].[PARAMETROS_VALOR] ADD CONSTRAINT [FK_PARAMETROS_PARAMETROS_VALOR] 
    FOREIGN KEY ([ID_PARAMETRO]) REFERENCES [dbo].[PARAMETROS] ([ID_PARAMETRO])
GO

ALTER TABLE [dbo].[PROVINCIAS] ADD CONSTRAINT [FK_PAISES_PROVINCIAS] 
    FOREIGN KEY ([ID_PAIS]) REFERENCES [dbo].[PAISES] ([ID_PAIS])
GO

ALTER TABLE [dbo].[PUNTO_VENTA] ADD CONSTRAINT [FK_INTERFACES_PUNTO_VENTA] 
    FOREIGN KEY ([ID_INTERFAZ]) REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO

ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] ADD CONSTRAINT [FK_INTERFACES_REGISTROS_TRANSACCIONES] 
    FOREIGN KEY ([ID_INTERFAZ]) REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO

ALTER TABLE [dbo].[USUARIO] ADD CONSTRAINT [FK_ROL_USUARIO] 
    FOREIGN KEY ([id_rol]) REFERENCES [dbo].[ROL] ([id])
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] ADD CONSTRAINT [FK_PUNTO_VENTA_USUARIO_PUNTO_VENTA] 
    FOREIGN KEY ([id_punto_venta]) REFERENCES [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA])
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] ADD CONSTRAINT [FK_USUARIO_USUARIO_PUNTO_VENTA] 
    FOREIGN KEY ([id_usuario]) REFERENCES [dbo].[USUARIO] ([id])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES_HIS] ADD CONSTRAINT [FK_REGISTROS_TRANSACCIONES_HIS_LOG_TRANSACCIONES_HIS] 
    FOREIGN KEY ([ID_REGISTRO_TRANSACCION]) REFERENCES [dbo].[REGISTROS_TRANSACCIONES_HIS] ([ID_REGISTRO_TRANSACCION])
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES_HIS] ADD CONSTRAINT [FK_TIPOS_TRANSACCIONES_LOG_TRANSACCIONES_HIS] 
    FOREIGN KEY ([ID_TIPO_TRANSACCION]) REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO

ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS] ADD CONSTRAINT [FK_INTERFACES_REGISTROS_TRANSACCIONES_HIS] 
    FOREIGN KEY ([ID_INTERFAZ]) REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO

ALTER TABLE [dbo].[FEWS_XML] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_XML] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [RG3685_VENTAS_CBTE] ADD CONSTRAINT [FK_REL_RG3685_CABECERA_RG3685_VENTAS_CBTE] 
    FOREIGN KEY ([id_cabecera]) REFERENCES [RG3685_CABECERA] ([id])
GO

ALTER TABLE [RG3685_COMPRAS_IMPORTACIONES] ADD CONSTRAINT [FK_REL_RG3685_COMPRAS_CBTE_RG3685_COMPRAS_IMPORTACIONES] 
    FOREIGN KEY ([id_compra_cbte]) REFERENCES [RG3685_COMPRAS_CBTE] ([id])
GO

ALTER TABLE [RG3685_VENTAS_ALICUOTAS] ADD CONSTRAINT [FK_REL_RG3685_VENTAS_CBTE_RG3685_VENTAS_ALICUOTAS] 
    FOREIGN KEY ([id_ventas_cbte]) REFERENCES [RG3685_VENTAS_CBTE] ([id])
GO

ALTER TABLE [RG3685_COMPRAS_CBTE] ADD CONSTRAINT [FK_REL_RG3685_CABECERA_RG3685_COMPRAS_CBTE] 
    FOREIGN KEY ([id_cabecera]) REFERENCES [RG3685_CABECERA] ([id])
GO

ALTER TABLE [RG3685_COMPRAS_ALICUOTAS] ADD CONSTRAINT [FK_REL_RG3685_COMPRAS_CBTE_RG3685_COMPRAS_ALICUOTAS] 
    FOREIGN KEY ([id_compras_cbte]) REFERENCES [RG3685_COMPRAS_CBTE] ([id])
GO

ALTER TABLE [RG3685_CF_IMPORT_SERVICIOS] ADD CONSTRAINT [FK_REL_RG3685_CABECERA_RG3685_CF_IMPORT_SERVICIOS] 
    FOREIGN KEY ([id_cabecera]) REFERENCES [RG3685_CABECERA] ([id])
GO

ALTER TABLE [dbo].[FEWS_DATO_OPC] ADD CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_DATO_OPC] 
    FOREIGN KEY ([id]) REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [dbo].[REGISTRO_TRANSACCION_HIS] ADD CONSTRAINT [FK_INTERFACES_REGISTRO_TRANSACCION_HIS] 
    FOREIGN KEY ([ID_INTERFAZ]) REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO


/* ---------------------------------------------------------------------- */
/* Procedures                                                             */
/* ---------------------------------------------------------------------- */
CREATE PROCEDURE [FEWS_TMP_DATOS_INICIALES]
AS
BEGIN
SET NOCOUNT ON

/****** Object:  Table [dbo].[PARAMETROS]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (1, N'MIN_VIG_SESION', N'Vigencia de sesión', N'(en minutos) Es el tiempo que tiene para operar un sistema externo contra Sacca (por ej. el BGS Central). Pasado ese tiempo, el sistema externo deberá iniciar sesión nuevamente. (ej. 30)')
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (2, N'_PROXY_', N'Proxy de conexión', N'Dirección Proxy para conexión a Internet')
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (3, N'MODO_INTRFZ_9901', N'Modo para DEMO', N'Flag de Modo de Trabajo para Interfaz DEMO [HOMO|PROD]')

/***** ADMIFARM *****/

/****** Object:  Table [dbo].[PARAMETROS_VALOR]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA]) VALUES (1, 1, N'30', CAST(0x0000A13900000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime))
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA]) VALUES (2, 2, N'', CAST(0x0000A41300000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime))
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA]) VALUES (3, 3, N'HOMO', CAST(0x0000A41300000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime))

/***** ADMIFARM *****/

/****** Object:  Table [dbo].[CANALES_ACCESO]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (1, N'PUBLICO')
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (2, N'PRIVADO')
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (3, N'PUBLICO / PRIVADO')

/****** Object:  Table [dbo].[TIPOS_TRANSACCIONES]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [TIPO_TRANSACCION], [TRANSACCION_REST], [URL_REST]) VALUES (1001, N'autorizarComprobante', N'Autorizar Comprobante', N'autorizarComprobante', N'/autorizar/autorizarComprobante')
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [TIPO_TRANSACCION], [TRANSACCION_REST], [URL_REST]) VALUES (1002, N'consultarUltimoComprobante', N'Consultar Ultimo Comprobante', N'consultarUltimoComprobante', N'/consultar/ultimoComprobante')
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [TIPO_TRANSACCION], [TRANSACCION_REST], [URL_REST]) VALUES (1003, N'consultarComprobante', N'Consultar Comprobante', N'consultarComprobante', N'/consultar/comprobante')

/****** Object:  Table [dbo].[INTERFACES]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL], [CUIT_SUSCRIPCION]) 
	VALUES (9901, N'DEMO', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB'
			, N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N', N'20000000001')
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL], [CUIT_SUSCRIPCION]) 
	VALUES (9904, N'CONSOLA', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB'
			, N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N', N'27000000001')

/***** ADMIFARM *****/
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CUIT_SUSCRIPCION], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL]) 
	VALUES (2001, N'ADMIFARM GROUP SERVICIOS', N'30711897581', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB', N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N')

/****** Object:  Table [dbo].[PUNTO_VENTA]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA], [ID_INTERFAZ], [PUNTO_VENTA], [ACTIVADO], [FLG_CONTROL]) VALUES (9901, 9901, N'00001', N'S', N'N')

/***** ADMIFARM *****/
INSERT [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA], [ID_INTERFAZ], [PUNTO_VENTA], [ACTIVADO], [FLG_CONTROL]) VALUES (1, 2001, N'00002', N'S', N'N')
INSERT [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA], [ID_INTERFAZ], [PUNTO_VENTA], [ACTIVADO], [FLG_CONTROL]) VALUES (2, 2002, N'00014', N'S', N'N')

/****** Object:  Table [dbo].[ROL]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[ROL] ([id], [descripcion], [codigo], [visible]) VALUES (1, N'Administrator', N'ROLE_ADMIN', 1)

/****** Object:  Table [dbo].[USUARIO]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[USUARIO] ([id], [id_rol], [usuario], [password], [ultimo_acceso], [activo], [bloqueado], [reintento], [administrable], [apellido], [nombre], [mail], [cambia_clave], [version_ui], [visible], [theme]) 
	VALUES (1, 1, N'ADMIN', N'$2a$10$VIBSYlQLnDet3CbXIu8Fs.7b7iPXaE1ILmala9VDTnc8vu9M7QiQa', NULL, 1, 0, 0, 1, N'ADMIN', N'', N'admin@admifarmgroup.com', 0, N'1', 1, NULL)

/****** Object:  Table [dbo].[USUARIO_PUNTO_VENTA]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[USUARIO_PUNTO_VENTA] ([id], [id_usuario], [id_punto_venta]) VALUES (1, 1, 9901)

/***** ADMIFARM *****/
INSERT [dbo].[USUARIO_PUNTO_VENTA] ([id], [id_usuario], [id_punto_venta]) VALUES (2, 1, 1)
INSERT [dbo].[USUARIO_PUNTO_VENTA] ([id], [id_usuario], [id_punto_venta]) VALUES (3, 1, 2)

/****** Object:  Table [dbo].[SECCION]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (1, N'Usuarios', 1, N'SEC_USR', N'')
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (2, N'Configuracion', 3, N'SEC_CFG', N'')
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (3, N'Registros', 2, N'SEC_REG', N'')

/****** Object:  Table [dbo].[ITEM]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (1, 1, N'Administración', 1, N'/secure/usuarios/administracion.xhtml', N'flaticon-usuarios', N'SI_ADM_USR', NULL)
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (2, 3, N'Registros', 1, N'/secure/registraciones/registros.xhtml', N'flaticon-log_oper', N'SI_REG_LOG', NULL)
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (3, 2, N'Párametros', 1, N'/secure/configuraciones/parametros.xhtml', N'flaticon-config', N'SI_CFG_PAR', NULL)
--INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (4, 3, N'Log', 2, N'/secure/administracion/log.xhtml', N'flaticon-log_oper', N'SI_LOG_LOG', NULL)
--INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo], [TARGET]) VALUES (5, 3, N'Facturas', 2, N'/secure/facturacion/fewsMovimientos.xhtml', N'flaticon-log_oper', N'SI_REG_FAC', NULL)

/***** ADMIFARM *****/

/****** Object:  Table [dbo].[ITEM_ROL]    Script Date: 05/18/2016 10:19:41 ******/
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (1, 1, 1)
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (2, 1, 2)
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (3, 1, 3)
--INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (4, 1, 4)
--INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (5, 1, 5)

/***** ADMIFARM *****/

SET NOCOUNT OFF
END
GO

CREATE  PROCEDURE [dbo].[AST_PRUEBACONEXION]
 -- Add the parameters for the stored procedure here

AS
BEGIN
SELECT 1
END
GO

CREATE  PROCEDURE [dbo].[AST_UPD_FEWS_ENCABEZADO_MACOR]
 -- Add the parameters for the stored procedure here

AS
BEGIN
SET NOCOUNT ON

--Borro todos los comprobantes pendientes
delete FEWS_XML
from FEWS_XML x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_TRIBUTO
from FEWS_TRIBUTO x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_IVA
from FEWS_IVA x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_ENCABEZADO
from FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')

--Recupera lo proximo a autorizarse en AST por cada CUIT, TIPO COMPROBANTE, PUNTO VENTA
select CUIT_EMPRESA CE, TIPO_COMPROBANTE TC, PUNTO_VENTA PV, min(NUMERO_COMPROBANTE) NC, convert(int, TIPO_COMPROBANTE ) NTC, convert(int, PUNTO_VENTA) NPV, convert(int, min(NUMERO_COMPROBANTE)) NNC, 0 IDC
, (select top 1 id_interfaz from INTERFACES where CUIT_SUSCRIPCION=CUIT_EMPRESA COLLATE DATABASE_DEFAULT) ID_INTERFAZ
into #pen
from MACOR_SERVER.FINN_MACOR2014.dbo.AST_FEWS_LOG
where RESULTADO is null or RESULTADO <> 'A'
group by CUIT_EMPRESA, TIPO_COMPROBANTE, PUNTO_VENTA

--Verifica que todos los CUIT EMPRESA tengan ID_INTERFAZ
if not exists(select top 1 CE from #pen where ID_INTERFAZ is null)
begin

	--Inserto los encabezados que no existen
	INSERT INTO FEWS_ENCABEZADO (
		CUIT,
		TIPO_DOC,
		NRO_DOC,
		TIPO_CBTE,
		PUNTO_VTA,
		CBTE_NRO,
		FECHA_CBTE,
		CONCEPTO,
		MONEDA_ID,
		MONEDA_CTZ,
		IMP_TOTAL,
		IMP_NETO,
		IMP_TOT_CONC,
		IMP_OP_EX,
		IMP_IVA,
		IMP_TRIB,
		fecha_serv_desde
		, fecha_serv_hasta
		, fecha_venc_pago
		, movimiento
		, id_interfaz )
	SELECT
		CUIT_EMPRESA,
		TIPODOC_CLIENTE,
		NRODOC_CLIENTE,
		TIPO_COMPROBANTE,
		PUNTO_VENTA,
		NUMERO_COMPROBANTE,
		FECHA_COMPROBANTE,
		CONCEPTO_FACTURA,
		MONEDA,
		l.MONEDA_CTZ,
		IMPORTE_TOTAL,
		NETO_GRAVADO,
		NETO_NOGRAVADO,
		NETO_EXENTO,
		IVA_TOTAL,
		TRIBUTOS_TOTAL
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, right('00000'+CONVERT(varchar(5), p.ID_INTERFAZ),5)
			+right('000'+CONVERT(varchar(3), NTC),3)
			+right('0000'+CONVERT(varchar(4), NPV),4)
			+right('00000000'+CONVERT(varchar(8), NNC),8)
		, p.ID_INTERFAZ
	FROM MACOR_SERVER.FINN_MACOR2014.dbo.AST_FEWS_LOG l
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and e.id is null

	--Obtiene los ID de los encabezados insertados / actualizados
	update #pen
	set idc = id
	from FEWS_ENCABEZADO, #pen
	where cuit=CE COLLATE DATABASE_DEFAULT
		and tipo_cbte=NTC
		and punto_vta=NPV
		and cbte_nro=NNC

	--INSERTA EN FEWS_IVA
	INSERT INTO FEWS_IVA(
		ID,
		IVA_ID,
		BASE_IMP,
		IMPORTE)
	SELECT
		ID=IDC,
		IVA_ID= CASE AST_FEWS_LOG_IVA.PORCENTAJE
					WHEN 10.5 THEN	4
					WHEN 21 THEN	5
					WHEN 27 THEN	6
				END ,
		BASE_IMP=AST_FEWS_LOG_IVA.NETO_GRAVADO,
		IMPORTE=AST_FEWS_LOG_IVA.IMPORTE
	FROM MACOR_SERVER.FINN_MACOR2014.dbo.AST_FEWS_LOG_IVA
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')

	--INSERTA E FEWS_TRIBUTO
	INSERT INTO FEWS_TRIBUTO(
		ID,
		TRIBUTO_ID,
		TRIBUTO_DESC,

		ALIC,
		BASE_IMP,

		IMPORTE)
	SELECT
		ID=IDC ,
		TRIBUTO_ID= AST_FEWS_LOG_TRIBUTOS.TRIBUTO_ID ,
		TRIBUTO_DESC=AST_FEWS_LOG_TRIBUTOS.DESCRPTION,

		ALIC=AST_FEWS_LOG_TRIBUTOS.PORCENTAJE,
		BASE_IMP=AST_FEWS_LOG_TRIBUTOS.NETO_GRAVADO,

		IMPORTE=AST_FEWS_LOG_TRIBUTOS.IMPORTE
	FROM MACOR_SERVER.FINN_MACOR2014.dbo.AST_FEWS_LOG_TRIBUTOS
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')
end

--Actualizo los encabezados que existen
UPDATE MACOR_SERVER.FINN_MACOR2014.dbo.AST_FEWS_LOG
SET resultado='R',
	cae=0,
	err_msg='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA',
	obs='CAE: '+ CONVERT(varchar(20), e.cae) + ' TOTAL: ' + convert(varchar(20), e.imp_total),
	codigo='14002',
	descripcion='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA'
FROM FEWS_ENCABEZADO e
	, FEWS_XML x
	, MACOR_SERVER.FINN_MACOR2014.dbo.AST_FEWS_LOG l
	, #pen p
WHERE e.id=x.id
	and CUIT_EMPRESA=CE
	and TIPO_COMPROBANTE=TC
	and PUNTO_VENTA=PV
	and NUMERO_COMPROBANTE=NC
	and e.resultado='A'
	and e.cuit=p.CE COLLATE DATABASE_DEFAULT
	and e.tipo_cbte=p.NTC
	and e.punto_vta=p.NPV
	and e.cbte_nro=p.NNC

--por ahora no se usa, se envia un default ...
select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

--por ahora no se usa, se envia un default ...
RETURN 0
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [dbo].[FEWS_UPD_AST_FEWS_LOG_MACOR]
	@id int
AS
BEGIN
SET NOCOUNT ON

	update MACOR_SERVER.FINN_MACOR2014.dbo.AST_FEWS_LOG
	set resultado=fenc.resultado,
		cae=fenc.cae,
		fecha_vencimiento=fenc.fecha_vto,
		err_msg=fenc.err_msg,
		obs=fenc.motivo,
		codigo=fxml.codigo,
		descripcion=fxml.descripcion,
		observacion=fxml.observacion,
		excepcion_wsaa=fxml.excepcion_wsaa,
		excepcion_wsfev1=fxml.excepcion_wsfev1,
		xml_request_afip=fxml.xml_request,
		xml_response_afip=fxml.xml_response

	from fews_encabezado fenc
		, fews_xml fxml
		, MACOR_SERVER.FINN_MACOR2014.dbo.ast_fews_log astl

	where 1=1
		and fenc.id=@id
		and fenc.id=fxml.id
		and cuit_empresa=fenc.cuit collate database_default
		and convert(int, tipo_comprobante)=fenc.tipo_cbte
		and convert(int, punto_venta)=fenc.punto_vta
		and convert(int, numero_comprobante)=fenc.cbte_nro

	--por ahora no se usa, se envia un default ...
	select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

	--por ahora no se usa, se envia un default ...
	RETURN 0
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_UPD_AST_FEWS_LOG]
	@id int
AS
BEGIN 
SET NOCOUNT ON
	
	update FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG
	set resultado=fenc.resultado,
		cae=fenc.cae,
		fecha_vencimiento=fenc.fecha_vto,
		err_msg=fenc.err_msg,
		obs=fenc.motivo,
		codigo=fxml.codigo,
		descripcion=fxml.descripcion,
		observacion=fxml.observacion,
		excepcion_wsaa=fxml.excepcion_wsaa,
		excepcion_wsfev1=fxml.excepcion_wsfev1,
		xml_request_afip=fxml.xml_request,
		xml_response_afip=fxml.xml_response
	
	from fews_encabezado fenc
		, fews_xml fxml
		, FINNEGANS.FINN_Admifarm.dbo.ast_fews_log astl

	where 1=1
		and fenc.id=@id
		and fenc.id=fxml.id
		and cuit_empresa=fenc.cuit
		and convert(int, tipo_comprobante)=fenc.tipo_cbte
		and convert(int, punto_venta)=fenc.punto_vta
		and convert(int, numero_comprobante)=fenc.cbte_nro
	
	--por ahora no se usa, se envia un default ...
	select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

	--por ahora no se usa, se envia un default ...
	RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_UPD_AST_FEWS_LOG_tmp]
	@id int
AS
BEGIN 
SET NOCOUNT ON
	
	update TMP_ADMIFARM.dbo.ast_fews_log --FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG
	set resultado=fenc.resultado,
		cae=fenc.cae,
		fecha_vencimiento=fenc.fecha_vto,
		err_msg=fenc.err_msg,
		obs=fenc.motivo,
		codigo=fxml.codigo,
		descripcion=fxml.descripcion,
		observacion=fxml.observacion,
		excepcion_wsaa=fxml.excepcion_wsaa,
		excepcion_wsfev1=fxml.excepcion_wsfev1,
		xml_request_afip=fxml.xml_request,
		xml_response_afip=fxml.xml_response
	
	from fews_encabezado fenc, fews_xml fxml, TMP_ADMIFARM.dbo.ast_fews_log astl--FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG

	where 1=1
		and fenc.id=@id
		and fenc.id=fxml.id
		and cuit_empresa=fenc.cuit
		and convert(int, tipo_comprobante)=fenc.tipo_cbte
		and convert(int, punto_venta)=fenc.punto_vta
		and convert(int, numero_comprobante)=fenc.cbte_nro
	
	--por ahora no se usa, se envia un default ...
	select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

	--por ahora no se usa, se envia un default ...
	RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [AST_UPD_FEWS_ENCABEZADO]
AS
BEGIN
SET NOCOUNT ON

--Borro todos los comprobantes pendientes
delete FEWS_XML
from FEWS_XML x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_TRIBUTO
from FEWS_TRIBUTO x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id
	
delete FEWS_IVA
from FEWS_IVA x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_ENCABEZADO
from FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')

--Recupera lo proximo a autorizarse en AST por cada CUIT, TIPO COMPROBANTE, PUNTO VENTA
select CUIT_EMPRESA CE, TIPO_COMPROBANTE TC, PUNTO_VENTA PV, min(NUMERO_COMPROBANTE) NC, convert(int, TIPO_COMPROBANTE ) NTC, convert(int, PUNTO_VENTA) NPV, convert(int, min(NUMERO_COMPROBANTE)) NNC, 0 IDC
, (select top 1 id_interfaz from INTERFACES where CUIT_SUSCRIPCION=CUIT_EMPRESA COLLATE DATABASE_DEFAULT) ID_INTERFAZ
into #pen
from FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG
where RESULTADO is null or RESULTADO <> 'A'
group by CUIT_EMPRESA, TIPO_COMPROBANTE, PUNTO_VENTA

--Verifica que todos los CUIT EMPRESA tengan ID_INTERFAZ
if not exists(select top 1 CE from #pen where ID_INTERFAZ is null)
begin
	
	--Inserto los encabezados que no existen
	INSERT INTO FEWS_ENCABEZADO (
		CUIT,
		TIPO_DOC,
		NRO_DOC,
		TIPO_CBTE,
		PUNTO_VTA,
		CBTE_NRO,
		FECHA_CBTE,
		CONCEPTO,
		MONEDA_ID,
		MONEDA_CTZ,
		IMP_TOTAL,
		IMP_NETO,
		IMP_TOT_CONC,
		IMP_OP_EX,
		IMP_IVA,
		IMP_TRIB,
		fecha_serv_desde
		, fecha_serv_hasta
		, fecha_venc_pago
		, movimiento
		, id_interfaz )
	SELECT 
		CUIT_EMPRESA,
		TIPODOC_CLIENTE,
		NRODOC_CLIENTE,
		TIPO_COMPROBANTE,
		PUNTO_VENTA,
		NUMERO_COMPROBANTE,
		FECHA_COMPROBANTE,
		CONCEPTO_FACTURA,
		MONEDA,
		l.MONEDA_CTZ,
		IMPORTE_TOTAL,
		NETO_GRAVADO,
		NETO_NOGRAVADO,
		NETO_EXENTO,
		IVA_TOTAL,
		TRIBUTOS_TOTAL
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, right('00000'+CONVERT(varchar(5), p.ID_INTERFAZ),5)
			+right('000'+CONVERT(varchar(3), NTC),3)
			+right('00000'+CONVERT(varchar(5), NPV),5)
			+right('00000000'+CONVERT(varchar(8), NNC),8)
		, p.ID_INTERFAZ
	FROM FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG l
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and e.id is null

	--Obtiene los ID de los encabezados insertados / actualizados
	update #pen
	set idc = id
	from FEWS_ENCABEZADO, #pen
	where cuit=CE COLLATE DATABASE_DEFAULT
		and tipo_cbte=NTC
		and punto_vta=NPV
		and cbte_nro=NNC
		
	--INSERTA EN FEWS_IVA
	INSERT INTO FEWS_IVA(
		ID,
		IVA_ID,
		BASE_IMP,
		IMPORTE)
	SELECT
		ID=IDC,
		IVA_ID= CASE AST_FEWS_LOG_IVA.PORCENTAJE
					WHEN 10.5 THEN	4
					WHEN 21 THEN	5
					WHEN 27 THEN	6
				END ,
		BASE_IMP=AST_FEWS_LOG_IVA.NETO_GRAVADO,
		IMPORTE=AST_FEWS_LOG_IVA.IMPORTE
	FROM FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG_IVA
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')

	--INSERTA E FEWS_TRIBUTO
	INSERT INTO FEWS_TRIBUTO(
		ID,
		TRIBUTO_ID,
		TRIBUTO_DESC,
		IMPORTE)
	SELECT
		ID=IDC ,
		TRIBUTO_ID= AST_FEWS_LOG_TRIBUTOS.TRIBUTO_ID ,
		TRIBUTO_DESC=AST_FEWS_LOG_TRIBUTOS.DESCRPTION,
		IMPORTE=AST_FEWS_LOG_TRIBUTOS.IMPORTE
	FROM FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG_TRIBUTOS
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')
end 

--Actualizo los encabezados que existen
UPDATE FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG
SET resultado='R',
	cae=0,
	err_msg='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA',
	obs='CAE: '+ CONVERT(varchar(20), e.cae) + ' TOTAL: ' + convert(varchar(20), e.imp_total),
	codigo='14002',
	descripcion='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA'
FROM FEWS_ENCABEZADO e
	, FEWS_XML x
	, FINNEGANS.FINN_ADMIFARM.dbo.AST_FEWS_LOG l
	, #pen p
WHERE e.id=x.id
	and CUIT_EMPRESA=CE
	and TIPO_COMPROBANTE=TC
	and PUNTO_VENTA=PV
	and NUMERO_COMPROBANTE=NC
	and e.resultado='A' 
	and e.cuit=p.CE COLLATE DATABASE_DEFAULT 
	and e.tipo_cbte=p.NTC 
	and e.punto_vta=p.NPV 
	and e.cbte_nro=p.NNC

--por ahora no se usa, se envia un default ...
select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

--por ahora no se usa, se envia un default ...
RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [AST_UPD_FEWS_ENCABEZADO_tmp]
AS    
BEGIN
SET NOCOUNT ON

--Borro todos los comprobantes pendientes
delete FEWS_XML
from FEWS_XML x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_TRIBUTO
from FEWS_TRIBUTO x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id
	
delete FEWS_IVA
from FEWS_IVA x, FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')
	and e.id=x.id

delete FEWS_ENCABEZADO
from FEWS_ENCABEZADO e
where (e.resultado is null or e.resultado <> 'A')

--Recupera lo proximo a autorizarse en AST por cada CUIT, TIPO COMPROBANTE, PUNTO VENTA
select CUIT_EMPRESA CE, TIPO_COMPROBANTE TC, PUNTO_VENTA PV, min(NUMERO_COMPROBANTE) NC, convert(int, TIPO_COMPROBANTE ) NTC, convert(int, PUNTO_VENTA) NPV, convert(int, min(NUMERO_COMPROBANTE)) NNC, 0 IDC
, (select top 1 id_interfaz from INTERFACES where CUIT_SUSCRIPCION=CUIT_EMPRESA COLLATE DATABASE_DEFAULT) ID_INTERFAZ
into #pen
from TMP_ADMIFARM.dbo.AST_FEWS_LOG
where RESULTADO is null or RESULTADO <> 'A'
group by CUIT_EMPRESA, TIPO_COMPROBANTE, PUNTO_VENTA

--Verifica que todos los CUIT EMPRESA tengan ID_INTERFAZ
if not exists(select top 1 CE from #pen where ID_INTERFAZ is null)
begin
	
	--Inserto los encabezados que no existen
	INSERT INTO FEWS_ENCABEZADO (
		CUIT,
		TIPO_DOC,
		NRO_DOC,
		TIPO_CBTE,
		PUNTO_VTA,
		CBTE_NRO,
		FECHA_CBTE,
		CONCEPTO,
		MONEDA_ID,
		MONEDA_CTZ,
		IMP_TOTAL,
		IMP_NETO,
		IMP_TOT_CONC,
		IMP_OP_EX,
		IMP_IVA,
		IMP_TRIB,
		fecha_serv_desde
		, fecha_serv_hasta
		, fecha_venc_pago
		, movimiento
		, id_interfaz )
	SELECT 
		CUIT_EMPRESA,
		TIPODOC_CLIENTE,
		NRODOC_CLIENTE,
		TIPO_COMPROBANTE,
		PUNTO_VENTA,
		NUMERO_COMPROBANTE,
		FECHA_COMPROBANTE,
		CONCEPTO_FACTURA,
		MONEDA,
		l.MONEDA_CTZ,
		IMPORTE_TOTAL,
		NETO_GRAVADO,
		NETO_NOGRAVADO,
		NETO_EXENTO,
		IVA_TOTAL,
		TRIBUTOS_TOTAL
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, FECHA_COMPROBANTE
		, right('00000'+CONVERT(varchar(5), p.ID_INTERFAZ),5)
			+right('000'+CONVERT(varchar(3), NTC),3)
			+right('00000'+CONVERT(varchar(5), NPV),5)
			+right('00000000'+CONVERT(varchar(8), NNC),8)
		, p.ID_INTERFAZ
	FROM TMP_ADMIFARM.dbo.AST_FEWS_LOG l
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and e.id is null

	--Obtiene los ID de los encabezados insertados / actualizados
	update #pen
	set idc = id
	from FEWS_ENCABEZADO, #pen
	where cuit=CE COLLATE DATABASE_DEFAULT
		and tipo_cbte=NTC
		and punto_vta=NPV
		and cbte_nro=NNC
		
	--INSERTA EN FEWS_IVA
	INSERT INTO FEWS_IVA(
		ID,
		IVA_ID,
		BASE_IMP,
		IMPORTE)
	SELECT
		ID=IDC,
		IVA_ID= CASE AST_FEWS_LOG_IVA.PORCENTAJE
					WHEN 10.5 THEN	4
					WHEN 21 THEN	5
					WHEN 27 THEN	6
				END ,
		BASE_IMP=AST_FEWS_LOG_IVA.NETO_GRAVADO,
		IMPORTE=AST_FEWS_LOG_IVA.IMPORTE
	FROM TMP_ADMIFARM.dbo.AST_FEWS_LOG_IVA
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')

	--INSERTA E FEWS_TRIBUTO
	INSERT INTO FEWS_TRIBUTO(
		ID,
		TRIBUTO_ID,
		TRIBUTO_DESC,
		IMPORTE)
	SELECT
		ID=IDC ,
		TRIBUTO_ID= AST_FEWS_LOG_TRIBUTOS.TRIBUTO_ID ,
		TRIBUTO_DESC=AST_FEWS_LOG_TRIBUTOS.DESCRPTION,
		IMPORTE=AST_FEWS_LOG_TRIBUTOS.IMPORTE
	FROM TMP_ADMIFARM.dbo.AST_FEWS_LOG_TRIBUTOS
		, #pen p left outer join FEWS_ENCABEZADO e on e.cuit=p.CE COLLATE DATABASE_DEFAULT and e.tipo_cbte=p.NTC and e.punto_vta=p.NPV and e.cbte_nro=p.NNC
	WHERE CUIT_EMPRESA=CE
		and TIPO_COMPROBANTE=TC
		and PUNTO_VENTA=PV
		and NUMERO_COMPROBANTE=NC
		and (e.resultado is null or e.resultado <> 'A')
end 

--Actualizo los encabezados que existen
UPDATE TMP_ADMIFARM.dbo.AST_FEWS_LOG
SET resultado='R',
	cae=0,
	err_msg='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA',
	obs='CAE: '+ CONVERT(varchar(20), e.cae) + ' TOTAL: ' + convert(varchar(20), e.imp_total),
	codigo='14002',
	descripcion='ERROR - COMPROBANTE PENDIENTE YA EXISTE AUTORIZADO - VERIFIQUE LA CONSOLA'
FROM FEWS_ENCABEZADO e
	, FEWS_XML x
	, TMP_ADMIFARM.dbo.AST_FEWS_LOG l
	, #pen p
WHERE e.id=x.id
	and CUIT_EMPRESA=CE
	and TIPO_COMPROBANTE=TC
	and PUNTO_VENTA=PV
	and NUMERO_COMPROBANTE=NC
	and e.resultado='A' 
	and e.cuit=p.CE COLLATE DATABASE_DEFAULT 
	and e.tipo_cbte=p.NTC 
	and e.punto_vta=p.NPV 
	and e.cbte_nro=p.NNC

--por ahora no se usa, se envia un default ...
select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

--por ahora no se usa, se envia un default ...
RETURN 0	
SET NOCOUNT OFF
END
GO

CREATE PROCEDURE [FEWS_PENDIENTES]
AS    
BEGIN
set nocount on

select fenc.*
from fews_encabezado fenc ,
(select cuit, tipo_cbte, punto_vta, min(cbte_nro) cbte_nro 
from fews_encabezado fenc
where fenc.resultado<>'A' or fenc.resultado is null 
group by cuit, tipo_cbte, punto_vta) pen
where fenc.cuit=pen.cuit
	and fenc.tipo_cbte=pen.tipo_cbte
	and fenc.punto_vta=pen.punto_vta
	and fenc.cbte_nro=pen.cbte_nro
order by fenc.cuit, fenc.tipo_cbte, fenc.punto_vta

set nocount on
END
GO

CREATE PROCEDURE [FEWS_UPD_LOG_TIMER]
	@objeto varchar(100),
	@opcion varchar(3)
AS    
BEGIN
set nocount on

	declare @cod int
	select @cod = 0
	
	if @opcion<>'UPD'
	begin
		if isnull((select top 1 datediff(ss, fecha_ejecucion, getdate()) from LOG_TIMER where objeto_instanciado = @objeto),999)>30
			select @cod = 20001
	end
	else
	begin
		if exists(select top 1 * from LOG_TIMER where objeto_instanciado = @objeto)
			update LOG_TIMER
			set fecha_ejecucion = getdate()
			where objeto_instanciado = @objeto
		else
			insert into LOG_TIMER (objeto_instanciado, fecha_ejecucion)
			values (@objeto, getdate())
	end

--por ahora no se usa, se envia un default ...
select @cod _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

--por ahora no se usa, se envia un default ...
RETURN 0
set nocount off
END
GO

