USE [master]
GO
/****** Object:  Database [DocOnline]    Script Date: 08/12/2015 10:27:08 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DocOnline')
BEGIN
CREATE DATABASE [DocOnline] ON  PRIMARY 
( NAME = N'DocOnline', FILENAME = N'c:\ConInf\DocOnline\DATA\DocOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DocOnline_log', FILENAME = N'c:\ConInf\DocOnline\DATA\DocOnline_log.ldf' , SIZE = 2816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocOnline]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USUARIO](
	[id] [bigint] NOT NULL,
	[id_rol] [bigint] NULL,
	[usuario] [varchar](20) NOT NULL,
	[password] [varchar](40) NOT NULL,
	[ultimo_acceso] [datetime] NULL,
	[activo] [bit] NULL,
	[bloqueado] [bit] NULL,
	[reintento] [int] NULL,
	[administrable] [bit] NULL,
	[apellido] [varchar](40) NULL,
	[nombre] [varchar](40) NULL,
	[mail] [varchar](40) NULL,
	[cambia_clave] [bit] NULL,
	[version_ui] [varchar](50) NOT NULL,
	[visible] [bit] NOT NULL,
	[theme] [varchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USUARIO] ([id], [id_rol], [usuario], [password], [ultimo_acceso], [activo], [bloqueado], [reintento], [administrable], [apellido], [nombre], [mail], [cambia_clave], [version_ui], [visible], [theme]) VALUES (2, 1, N'J', N'5c2dd944dde9e08881bef0894fe7b22a5c9c4b06', NULL, 1, 0, 0, 1, N'', N'', N'as@as.com', 0, N'1', 1, NULL)
INSERT [dbo].[USUARIO] ([id], [id_rol], [usuario], [password], [ultimo_acceso], [activo], [bloqueado], [reintento], [administrable], [apellido], [nombre], [mail], [cambia_clave], [version_ui], [visible], [theme]) VALUES (5, 1, N'DF', N'8201ca06098dacd45b157ed4a9889c22f2f39ba6', NULL, 1, 0, 0, 1, N'', N'', N'ffff@ggg.com', 1, N'1', 1, NULL)
/****** Object:  Table [dbo].[TIPOS_TRANSACCIONES]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TIPOS_TRANSACCIONES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TIPOS_TRANSACCIONES](
	[ID_TIPO_TRANSACCION] [bigint] NOT NULL,
	[TRANSACCION] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[transaccion_rest] [varchar](50) NULL,
	[url_rest] [varchar](80) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION], [TRANSACCION], [nombre], [transaccion_rest], [url_rest]) VALUES (1001, N'autorizarComprobante', N'Autorizar Comprobante', N'autorizarComprobante', N'/autorizar/autorizarComprobante')
/****** Object:  Table [dbo].[TIPOS_DOC_PERSONAS]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TIPOS_DOC_PERSONAS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TIPOS_DOC_PERSONAS](
	[ID_TIPO_DOC_PERSONA] [bigint] NOT NULL,
	[TIPO_DOCUMENTO] [varchar](20) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPOS_DOC_PERSONAS] ([ID_TIPO_DOC_PERSONA], [TIPO_DOCUMENTO]) VALUES (1, N'DNI')
/****** Object:  Table [dbo].[TIPO_ESTADO_CLIENTES]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TIPO_ESTADO_CLIENTES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TIPO_ESTADO_CLIENTES](
	[id] [bigint] NOT NULL,
	[nombre] [varchar](20) NULL,
	[descripcion] [varchar](40) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPO_ESTADO_CLIENTES] ([id], [nombre], [descripcion]) VALUES (1, N'ACTIVO', N'Usuario activo')
INSERT [dbo].[TIPO_ESTADO_CLIENTES] ([id], [nombre], [descripcion]) VALUES (2, N'BLOQUEADO', N'Usuario bloqueado')
/****** Object:  Table [dbo].[SECCION]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SECCION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SECCION](
	[id] [bigint] NOT NULL,
	[descripcion] [varchar](100) NULL,
	[orden] [int] NULL,
	[codigo] [varchar](15) NULL,
	[url] [varchar](150) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (1, N'Usuarios', 1, N'SEC_USR', N'')
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (2, N'Clientes', 4, N'SEC_CLI', N'')
INSERT [dbo].[SECCION] ([id], [descripcion], [orden], [codigo], [url]) VALUES (3, N'Cuentas', 3, N'SEC_CUE', N'')
/****** Object:  Table [dbo].[ROL]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ROL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ROL](
	[id] [bigint] NOT NULL,
	[descripcion] [varchar](40) NULL,
	[codigo] [varchar](15) NOT NULL,
	[visible] [bit] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ROL] ([id], [descripcion], [codigo], [visible]) VALUES (1, N'Administrator', N'ROLE_ADMIN', 1)
INSERT [dbo].[ROL] ([id], [descripcion], [codigo], [visible]) VALUES (1, N'Administrator', N'ROLE_ADMIN', 1)
/****** Object:  Table [dbo].[REGISTROS_TRANSACCIONES_HIS]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGISTROS_TRANSACCIONES_HIS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS](
	[ID_REGISTRO_TRANSACCION] [bigint] NOT NULL,
	[ID_INTERFAZ] [bigint] NOT NULL,
	[F_TRANSACCION] [datetime] NOT NULL,
	[COD_TRANSACCION] [int] NOT NULL,
	[DATOS_TRANSACCION] [varbinary](max) NOT NULL,
	[SERVICIO] [varchar](100) NOT NULL,
	[F_PROCESO] [datetime] NOT NULL,
	[id_canal_venta] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGISTROS_TRANSACCIONES]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REGISTROS_TRANSACCIONES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES](
	[ID_REGISTRO_TRANSACCION] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_INTERFAZ] [bigint] NOT NULL,
	[F_TRANSACCION] [datetime] NOT NULL,
	[COD_TRANSACCION] [int] NOT NULL,
	[DATOS_TRANSACCION] [varbinary](max) NOT NULL,
	[SERVICIO] [varchar](100) NOT NULL,
	[id_canal_venta] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[REGISTROS_TRANSACCIONES] ON
SET IDENTITY_INSERT [dbo].[REGISTROS_TRANSACCIONES] OFF
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVINCIAS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIA] [bigint] NOT NULL,
	[PROVINCIA] [varchar](20) NOT NULL,
	[COD_PROVINCIA] [varchar](2) NULL,
	[ID_PAIS] [bigint] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [PROVINCIA], [COD_PROVINCIA], [ID_PAIS]) VALUES (1, N'BS AS', N'BA', 1)
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [PROVINCIA], [COD_PROVINCIA], [ID_PAIS]) VALUES (8, N'ENTRE RIOS', N'ER', 1)
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [PROVINCIA], [COD_PROVINCIA], [ID_PAIS]) VALUES (30, N'CORDOBA', N'CB', 1)
/****** Object:  Table [dbo].[PARAMETROS_VALOR]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PARAMETROS_VALOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PARAMETROS_VALOR](
	[ID_PARAMETRO_VALOR] [bigint] NOT NULL,
	[ID_PARAMETRO] [bigint] NOT NULL,
	[VALOR] [varchar](4000) NOT NULL,
	[F_VIGENCIA_DESDE] [datetime] NOT NULL,
	[F_VIGENCIA_HASTA] [datetime] NOT NULL,
	[ID_PROVINCIA] [bigint] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA], [ID_PROVINCIA]) VALUES (23, 1, N'15', CAST(0x0000A13900000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime), 30)
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA], [ID_PROVINCIA]) VALUES (24, 2, N'1', CAST(0x0000A13900000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime), 30)
INSERT [dbo].[PARAMETROS_VALOR] ([ID_PARAMETRO_VALOR], [ID_PARAMETRO], [VALOR], [F_VIGENCIA_DESDE], [F_VIGENCIA_HASTA], [ID_PROVINCIA]) VALUES (25, 3, N'30', CAST(0x0000A13900000000 AS DateTime), CAST(0x002D240E00000000 AS DateTime), 30)
/****** Object:  Table [dbo].[PARAMETROS]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PARAMETROS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PARAMETROS](
	[ID_PARAMETRO] [bigint] NOT NULL,
	[PARAMETRO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	[TXT_AYUDA] [varchar](1000) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (1, N'DIAS_VEN_RES', N'Duración de la reserva', N'Cantidad de días que una reserva será válida.')
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (2, N'DIAS_BAJA_CLIENTE', N'Días para la depuracion de clientes sin cta. corriente', N'Plazo para que un cliente cargue crédito antes de depurarlos.')
INSERT [dbo].[PARAMETROS] ([ID_PARAMETRO], [PARAMETRO], [DESCRIPCION], [TXT_AYUDA]) VALUES (3, N'DEP_MOVIMIENTOS_CTACTE', N'Días para la depuracion de tabla MOVIMIENTOS_CTACTE', N'Plazo para consultar Movimientos antes de depurar.')
/****** Object:  Table [dbo].[PAISES]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAISES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PAISES](
	[ID_PAIS] [bigint] NOT NULL,
	[NOMBRE] [varchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PAISES] ([ID_PAIS], [NOMBRE]) VALUES (1, N'Argentina')
INSERT [dbo].[PAISES] ([ID_PAIS], [NOMBRE]) VALUES (1, N'Argentina')
/****** Object:  Table [dbo].[NUM_CODIGO_OPERACION]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NUM_CODIGO_OPERACION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NUM_CODIGO_OPERACION](
	[NUMERO] [bigint] NOT NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[NUM_CODIGO_OPERACION] ([NUMERO]) VALUES (1)
INSERT [dbo].[NUM_CODIGO_OPERACION] ([NUMERO]) VALUES (2)
INSERT [dbo].[NUM_CODIGO_OPERACION] ([NUMERO]) VALUES (3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
/****** Object:  Table [dbo].[LOGS_GENERICOS]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOGS_GENERICOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOGS_GENERICOS](
	[ID_LOG] [bigint] NOT NULL,
	[PROCESO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](4000) NULL,
	[F_PROCESO] [datetime] NOT NULL,
	[ESTADO_PROCESO] [int] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGS_AUDITORIA]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOGS_AUDITORIA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOGS_AUDITORIA](
	[ID_LOG_AUDITORIA] [bigint] NOT NULL,
	[F_LOG] [datetime] NOT NULL,
	[COD_CONSOLA] [int] NULL,
	[CONSOLA] [varchar](20) NULL,
	[OPERADOR] [varchar](20) NULL,
	[OPERACION] [varchar](1000) NULL,
	[RESULTADO] [varchar](1000) NULL,
	[COD_RESULTADO] [int] NOT NULL,
	[SERVIDOR] [varchar](1000) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOG_TRANSACCIONES_HIS]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOG_TRANSACCIONES_HIS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOG_TRANSACCIONES_HIS](
	[ID_LOG_TRANSACCION] [bigint] NOT NULL,
	[ID_CLIENTE] [bigint] NULL,
	[F_INICIO_OPERACION] [datetime] NOT NULL,
	[F_FIN_OPERACION] [datetime] NOT NULL,
	[ID_TIPO_TRANSACCION] [bigint] NOT NULL,
	[XML_ENTRADA] [text] NULL,
	[XML_SALIDA] [text] NULL,
	[ID_REGISTRO_TRANSACCION] [bigint] NOT NULL,
	[F_PROCESO] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LOG_TRANSACCIONES]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOG_TRANSACCIONES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOG_TRANSACCIONES](
	[ID_LOG_TRANSACCION] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [bigint] NULL,
	[F_INICIO_OPERACION] [datetime] NOT NULL,
	[F_FIN_OPERACION] [datetime] NOT NULL,
	[ID_TIPO_TRANSACCION] [bigint] NOT NULL,
	[XML_ENTRADA] [text] NULL,
	[XML_SALIDA] [text] NULL,
	[ID_REGISTRO_TRANSACCION] [bigint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[LOG_TRANSACCIONES] ON
SET IDENTITY_INSERT [dbo].[LOG_TRANSACCIONES] OFF
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOCALIDADES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOCALIDADES](
	[ID_LOCALIDAD] [bigint] NOT NULL,
	[NOMBRE] [varchar](80) NOT NULL,
	[ID_PROVINCIA] [bigint] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOCALIDADES] ([ID_LOCALIDAD], [NOMBRE], [ID_PROVINCIA]) VALUES (1, N'Córdoba', 30)
INSERT [dbo].[LOCALIDADES] ([ID_LOCALIDAD], [NOMBRE], [ID_PROVINCIA]) VALUES (2, N'Villa María', 30)
/****** Object:  Table [dbo].[ITEM_ROL]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ITEM_ROL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ITEM_ROL](
	[id] [bigint] NOT NULL,
	[id_rol] [bigint] NULL,
	[id_item] [bigint] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (1, 1, 1)
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (2, 1, 2)
INSERT [dbo].[ITEM_ROL] ([id], [id_rol], [id_item]) VALUES (3, 1, 3)
/****** Object:  Table [dbo].[ITEM]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ITEM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ITEM](
	[id] [bigint] NOT NULL,
	[id_seccion] [bigint] NOT NULL,
	[descripcion] [varchar](40) NULL,
	[orden] [int] NOT NULL,
	[url] [varchar](150) NULL,
	[icon] [varchar](80) NULL,
	[codigo] [varchar](40) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo]) VALUES (1, 1, N'Administración', 1, N'/secure/usuarios/administracion.xhtml', N'admin-icon-blue', N'SI_ADM_USR')
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo]) VALUES (2, 3, N'Ajuste Manual', 1, N'/secure/ajustes/ajusteManual.xhtml', N'ui-icon-wrench', N'SI_CUE_AJU')
INSERT [dbo].[ITEM] ([id], [id_seccion], [descripcion], [orden], [url], [icon], [codigo]) VALUES (3, 2, N'Clientes', 1, N'/secure/clientes/clientes.xhtml', N'ui-icon-person', N'SI_CLI_ABM')
/****** Object:  Table [dbo].[INTERFACES]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INTERFACES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[INTERFACES](
	[ID_INTERFAZ] [bigint] NOT NULL,
	[INTERFAZ] [varchar](50) NOT NULL,
	[CLAVE] [varchar](128) NOT NULL,
	[ACTIVADO] [varchar](20) NOT NULL,
	[CANT_OPERACIONES] [int] NOT NULL,
	[CANT_ACUM_OPERACIONES] [numeric](10, 2) NOT NULL,
	[ID_CANAL_ACCESO] [bigint] NOT NULL,
	[FLG_CONTROL] [char](1) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL]) VALUES (1, N'DEMO', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB', N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N')
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL]) VALUES (4, N'Consola Web', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB', N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N')
INSERT [dbo].[INTERFACES] ([ID_INTERFAZ], [INTERFAZ], [CLAVE], [ACTIVADO], [CANT_OPERACIONES], [CANT_ACUM_OPERACIONES], [ID_CANAL_ACCESO], [FLG_CONTROL]) VALUES (1, N'INTERFAZ 1', N'D404559F602EAB6FD602AC7680DACBFAADD13630335E951F097AF3900E9DE176B6DB28512F2E000B9D04FBA5133E8B1C6E8DF59DB3A8AB9D60BE4B97CC9E81DB', N'S', 0, CAST(0.00 AS Numeric(10, 2)), 3, N'N')
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLIENTES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [bigint] NOT NULL,
	[USUARIO] [nvarchar](50) NOT NULL,
	[NOMBRE] [varchar](80) NULL,
	[APELLIDO] [varchar](80) NULL,
	[ID_TIPO_DOC_PERSONA] [bigint] NOT NULL,
	[NRO_DOC] [varchar](15) NOT NULL,
	[NACIONALIDAD] [bigint] NULL,
	[F_NACIMIENTO] [datetime] NULL,
	[ID_ESTADO_CIVIL] [bigint] NULL,
	[CUIT_CUIL] [varchar](11) NULL,
	[ID_DIRECCION] [bigint] NULL,
	[EMAIL] [varchar](40) NULL,
	[OCUPACION] [varchar](80) NULL,
	[PEP] [tinyint] NULL,
	[PIN] [varchar](128) NOT NULL,
	[F_ALTA] [datetime] NOT NULL,
	[F_VIGENCIA_PIN] [datetime] NOT NULL,
	[ACCESOS_FALLIDOS] [tinyint] NOT NULL,
	[FLG_HABILITADO] [tinyint] NOT NULL,
	[ID_TIPO_ESTADO_CLIENTE] [bigint] NOT NULL,
	[CODIGO_BLANQUEO] [varchar](128) NULL,
	[ID_TERMINOS_CONDICIONES] [bigint] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CANALES_ACCESO]    Script Date: 08/12/2015 10:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CANALES_ACCESO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CANALES_ACCESO](
	[ID_CANAL_ACCESO] [bigint] NOT NULL,
	[CANAL_ACCESO] [varchar](100) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (1, N'PUBLICO')
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (2, N'PRIVADO')
INSERT [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO], [CANAL_ACCESO]) VALUES (3, N'PUBLICO / PRIVADO')
