/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          Para PDF.dez                                    */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Database drop script                            */
/* Created on:            2016-04-20 17:11                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Drop foreign key constraints                                           */
/* ---------------------------------------------------------------------- */
ALTER TABLE [FEWS_ENCABEZADO] DROP CONSTRAINT [FEWS_FORMATO_PDF_FEWS_ENCABEZADO]
GO

ALTER TABLE [FEWS_DETALLE] DROP CONSTRAINT [FEWS_ENCABEZADO_FEWS_DETALLE]
GO

ALTER TABLE [FEWS_PERMISO] DROP CONSTRAINT [FEWS_ENCABEZADO_FEWS_PERMISO]
GO

ALTER TABLE [FEWS_CMP_ASOC] DROP CONSTRAINT [FEWS_ENCABEZADO_FEWS_CMP_ASOC]
GO

ALTER TABLE [FEWS_IVA] DROP CONSTRAINT [FEWS_ENCABEZADO_FEWS_IVA]
GO

ALTER TABLE [FEWS_TRIBUTO] DROP CONSTRAINT [FEWS_ENCABEZADO_FEWS_TRIBUTO]
GO

ALTER TABLE [FEWS_XML] DROP CONSTRAINT [FEWS_ENCABEZADO_FEWS_XML]
GO

ALTER TABLE [FEWS_FORMATO_PDF_DET] DROP CONSTRAINT [FEWS_FORMATO_PDF_FEWS_FORMATO_PDF_DET]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_FORMATO_PDF_DET"                                      */
/* ---------------------------------------------------------------------- */

/* Drop constraints */

/* Drop table */
DROP TABLE [FEWS_FORMATO_PDF_DET]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_XML"                                                  */
/* ---------------------------------------------------------------------- */

/* Drop constraints */

/* Drop table */
DROP TABLE [FEWS_XML]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_TRIBUTO"                                              */
/* ---------------------------------------------------------------------- */

/* Drop constraints */

/* Drop table */
DROP TABLE [FEWS_TRIBUTO]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_IVA"                                                  */
/* ---------------------------------------------------------------------- */

/* Drop constraints */

/* Drop table */
DROP TABLE [FEWS_IVA]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_CMP_ASOC"                                             */
/* ---------------------------------------------------------------------- */

/* Drop constraints */

/* Drop table */
DROP TABLE [FEWS_CMP_ASOC]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_PERMISO"                                              */
/* ---------------------------------------------------------------------- */

/* Drop constraints */

/* Drop table */
DROP TABLE [FEWS_PERMISO]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_DETALLE"                                              */
/* ---------------------------------------------------------------------- */

/* Drop constraints */

/* Drop table */
DROP TABLE [FEWS_DETALLE]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_ENCABEZADO"                                           */
/* ---------------------------------------------------------------------- */

/* Drop constraints */

/* Drop table */
DROP TABLE [FEWS_ENCABEZADO]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_FORMATO_PDF"                                          */
/* ---------------------------------------------------------------------- */

/* Drop constraints */

/* Drop table */
DROP TABLE [FEWS_FORMATO_PDF]
GO

