/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          Fews.dez                                        */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Database drop script                            */
/* Created on:            2016-06-04 08:41                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Drop procedures                                                        */
/* ---------------------------------------------------------------------- */
DROP PROCEDURE [FEWS_TMP_DATOS_INICIALES]
GO

DROP PROCEDURE [FEWS_UPD_AST_FEWS_LOG]
GO

DROP PROCEDURE [FEWS_UPD_AST_FEWS_LOG_tmp]
GO

DROP PROCEDURE [AST_UPD_FEWS_ENCABEZADO]
GO

DROP PROCEDURE [AST_UPD_FEWS_ENCABEZADO_tmp]
GO

DROP PROCEDURE [FEWS_PENDIENTES]
GO

DROP PROCEDURE [FEWS_UPD_LOG_TIMER]
GO


/* ---------------------------------------------------------------------- */
/* Drop foreign key constraints                                           */
/* ---------------------------------------------------------------------- */
ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [FK_DIRECCIONES_CLIENTES_CLIENTES]
GO

ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [FK_TIPO_ESTADO_CLIENTES_CLIENTES]
GO

ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [FK_TIPOS_DOC_PERSONAS_CLIENTES]
GO

ALTER TABLE [dbo].[DIRECCIONES_CLIENTES] DROP CONSTRAINT [FK_LOCALIDADES_DIRECCIONES_CLIENTES]
GO

ALTER TABLE [dbo].[FEWS_CMP_ASOC] DROP CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_CMP_ASOC]
GO

ALTER TABLE [dbo].[FEWS_DETALLE] DROP CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_DETALLE]
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] DROP CONSTRAINT [FK_FEWS_FORMATO_PDF_FEWS_ENCABEZADO]
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] DROP CONSTRAINT [FK_INTERFACES_FEWS_ENCABEZADO]
GO

ALTER TABLE [dbo].[FEWS_FORMATO_PDF_DET] DROP CONSTRAINT [FK_FEWS_FORMATO_PDF_FEWS_FORMATO_PDF_DET]
GO

ALTER TABLE [dbo].[FEWS_IVA] DROP CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_IVA]
GO

ALTER TABLE [dbo].[FEWS_PERMISO] DROP CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_PERMISO]
GO

ALTER TABLE [dbo].[FEWS_TRIBUTO] DROP CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_TRIBUTO]
GO

ALTER TABLE [dbo].[INTERFACES] DROP CONSTRAINT [FK_CANALES_ACCESO_INTERFACES]
GO

ALTER TABLE [dbo].[ITEM] DROP CONSTRAINT [FK_SECCION_ITEM]
GO

ALTER TABLE [dbo].[ITEM_ROL] DROP CONSTRAINT [FK_ITEM_ITEM_ROL]
GO

ALTER TABLE [dbo].[ITEM_ROL] DROP CONSTRAINT [FK_ROL_ITEM_ROL]
GO

ALTER TABLE [dbo].[LOCALIDADES] DROP CONSTRAINT [FK_PROVINCIAS_LOCALIDADES]
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] DROP CONSTRAINT [FK_REGISTROS_TRANSACCIONES_LOG_TRANSACCIONES]
GO

ALTER TABLE [dbo].[LOG_TRANSACCIONES] DROP CONSTRAINT [FK_TIPOS_TRANSACCIONES_LOG_TRANSACCIONES]
GO

ALTER TABLE [dbo].[PARAMETROS_VALOR] DROP CONSTRAINT [FK_PARAMETROS_PARAMETROS_VALOR]
GO

ALTER TABLE [dbo].[PROVINCIAS] DROP CONSTRAINT [FK_PAISES_PROVINCIAS]
GO

ALTER TABLE [dbo].[PUNTO_VENTA] DROP CONSTRAINT [FK_INTERFACES_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] DROP CONSTRAINT [FK_INTERFACES_REGISTROS_TRANSACCIONES]
GO

ALTER TABLE [dbo].[USUARIO] DROP CONSTRAINT [FK_ROL_USUARIO]
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] DROP CONSTRAINT [FK_PUNTO_VENTA_USUARIO_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] DROP CONSTRAINT [FK_USUARIO_USUARIO_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[LOG_TRANSACCION_HIS] DROP CONSTRAINT [FK_REGISTRO_TRANSACCION_HIS_LOG_TRANSACCION_HIS]
GO

ALTER TABLE [dbo].[LOG_TRANSACCION_HIS] DROP CONSTRAINT [FK_TIPOS_TRANSACCIONES_LOG_TRANSACCION_HIS]
GO

ALTER TABLE [dbo].[REGISTRO_TRANSACCION_HIS] DROP CONSTRAINT [FK_INTERFACES_REGISTRO_TRANSACCION_HIS]
GO

ALTER TABLE [dbo].[FEWS_XML] DROP CONSTRAINT [FK_FEWS_ENCABEZADO_FEWS_XML]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "CLIENTES"                                                  */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [PK_CLIENTES]
GO

ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [TUC_CLIENTES_1]
GO

ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [TUC_CLIENTES_2]
GO

ALTER TABLE [dbo].[CLIENTES] DROP CONSTRAINT [TUC_CLIENTES_3]
GO


/* Drop table */
DROP TABLE [dbo].[CLIENTES]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_DETALLE"                                              */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[FEWS_DETALLE] DROP CONSTRAINT [PK_FEWS_DETALLE]
GO


/* Drop table */
DROP TABLE [dbo].[FEWS_DETALLE]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_CMP_ASOC"                                             */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[FEWS_CMP_ASOC] DROP CONSTRAINT [PK_FEWS_CMP_ASOC]
GO


/* Drop table */
DROP TABLE [dbo].[FEWS_CMP_ASOC]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "DIRECCIONES_CLIENTES"                                      */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[DIRECCIONES_CLIENTES] DROP CONSTRAINT [PK_DIRECCIONES_CLIENTES]
GO


/* Drop table */
DROP TABLE [dbo].[DIRECCIONES_CLIENTES]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_XML"                                                  */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[FEWS_XML] DROP CONSTRAINT [PK_FEWS_XML]
GO


/* Drop table */
DROP TABLE [dbo].[FEWS_XML]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "LOG_TRANSACCION_HIS"                                       */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[LOG_TRANSACCION_HIS] DROP CONSTRAINT [PK_LOG_TRANSACCION_HIS]
GO


/* Drop table */
DROP TABLE [dbo].[LOG_TRANSACCION_HIS]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "LOG_TRANSACCIONES"                                         */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[LOG_TRANSACCIONES] DROP CONSTRAINT [PK_LOG_TRANSACCIONES]
GO


/* Drop table */
DROP TABLE [dbo].[LOG_TRANSACCIONES]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "LOCALIDADES"                                               */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[LOCALIDADES] DROP CONSTRAINT [PK_LOCALIDADES]
GO


/* Drop table */
DROP TABLE [dbo].[LOCALIDADES]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "ITEM_ROL"                                                  */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[ITEM_ROL] DROP CONSTRAINT [PK_ITEM_ROL]
GO

ALTER TABLE [dbo].[ITEM_ROL] DROP CONSTRAINT [TUC_ITEM_ROL_1]
GO


/* Drop table */
DROP TABLE [dbo].[ITEM_ROL]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "ITEM"                                                      */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[ITEM] DROP CONSTRAINT [PK_ITEM]
GO


/* Drop table */
DROP TABLE [dbo].[ITEM]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_TRIBUTO"                                              */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[FEWS_TRIBUTO] DROP CONSTRAINT [PK_FEWS_TRIBUTO]
GO


/* Drop table */
DROP TABLE [dbo].[FEWS_TRIBUTO]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_PERMISO"                                              */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[FEWS_PERMISO] DROP CONSTRAINT [PK_FEWS_PERMISO]
GO


/* Drop table */
DROP TABLE [dbo].[FEWS_PERMISO]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_IVA"                                                  */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[FEWS_IVA] DROP CONSTRAINT [PK_FEWS_IVA]
GO


/* Drop table */
DROP TABLE [dbo].[FEWS_IVA]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_ENCABEZADO"                                           */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[FEWS_ENCABEZADO] DROP CONSTRAINT [PK_FEWS_ENCABEZADO]
GO

ALTER TABLE [dbo].[FEWS_ENCABEZADO] DROP CONSTRAINT [TUC_FEWS_ENCABEZADO_1]
GO


/* Drop table */
DROP TABLE [dbo].[FEWS_ENCABEZADO]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "LOG_TIMER"                                                 */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [LOG_TIMER] DROP CONSTRAINT [PK_LOG_TIMER]
GO


/* Drop table */
DROP TABLE [LOG_TIMER]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "REGISTRO_TRANSACCION_HIS"                                  */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[REGISTRO_TRANSACCION_HIS] DROP CONSTRAINT [PK_REGISTRO_TRANSACCION_HIS]
GO


/* Drop table */
DROP TABLE [dbo].[REGISTRO_TRANSACCION_HIS]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "USUARIO_PUNTO_VENTA"                                       */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] DROP CONSTRAINT [PK_USUARIO_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] DROP CONSTRAINT [TUC_USUARIO_PUNTO_VENTA_1]
GO


/* Drop table */
DROP TABLE [dbo].[USUARIO_PUNTO_VENTA]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "USUARIO"                                                   */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[USUARIO] DROP CONSTRAINT [PK_USUARIO]
GO

ALTER TABLE [dbo].[USUARIO] DROP CONSTRAINT [TUC_USUARIO_1]
GO


/* Drop table */
DROP TABLE [dbo].[USUARIO]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "TIPOS_TRANSACCIONES"                                       */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[TIPOS_TRANSACCIONES] DROP CONSTRAINT [PK_TIPOS_TRANSACCIONES]
GO


/* Drop table */
DROP TABLE [dbo].[TIPOS_TRANSACCIONES]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "TIPOS_DOC_PERSONAS"                                        */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[TIPOS_DOC_PERSONAS] DROP CONSTRAINT [PK_TIPOS_DOC_PERSONAS]
GO


/* Drop table */
DROP TABLE [dbo].[TIPOS_DOC_PERSONAS]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "TIPO_ESTADO_CLIENTES"                                      */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[TIPO_ESTADO_CLIENTES] DROP CONSTRAINT [PK_TIPO_ESTADO_CLIENTES]
GO


/* Drop table */
DROP TABLE [dbo].[TIPO_ESTADO_CLIENTES]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "SECCION"                                                   */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[SECCION] DROP CONSTRAINT [PK_SECCION]
GO


/* Drop table */
DROP TABLE [dbo].[SECCION]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "ROL"                                                       */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[ROL] DROP CONSTRAINT [PK_ROL]
GO


/* Drop table */
DROP TABLE [dbo].[ROL]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "REGISTROS_TRANSACCIONES"                                   */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] DROP CONSTRAINT [PK_REGISTROS_TRANSACCIONES]
GO


/* Drop table */
DROP TABLE [dbo].[REGISTROS_TRANSACCIONES]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "PUNTO_VENTA"                                               */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[PUNTO_VENTA] DROP CONSTRAINT [PK_PUNTO_VENTA]
GO

ALTER TABLE [dbo].[PUNTO_VENTA] DROP CONSTRAINT [TUC_PUNTO_VENTA_1]
GO


/* Drop table */
DROP TABLE [dbo].[PUNTO_VENTA]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "PROVINCIAS"                                                */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[PROVINCIAS] DROP CONSTRAINT [PK_PROVINCIAS]
GO


/* Drop table */
DROP TABLE [dbo].[PROVINCIAS]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "PARAMETROS_VALOR"                                          */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[PARAMETROS_VALOR] DROP CONSTRAINT [PK_PARAMETROS_VALOR]
GO


/* Drop table */
DROP TABLE [dbo].[PARAMETROS_VALOR]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "PARAMETROS"                                                */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[PARAMETROS] DROP CONSTRAINT [PK_PARAMETROS]
GO


/* Drop table */
DROP TABLE [dbo].[PARAMETROS]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "PAISES"                                                    */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[PAISES] DROP CONSTRAINT [PK_PAISES]
GO


/* Drop table */
DROP TABLE [dbo].[PAISES]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "NUM_CODIGO_OPERACION"                                      */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[NUM_CODIGO_OPERACION] DROP CONSTRAINT [PK_NUM_CODIGO_OPERACION]
GO


/* Drop table */
DROP TABLE [dbo].[NUM_CODIGO_OPERACION]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "LOGS_GENERICOS"                                            */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[LOGS_GENERICOS] DROP CONSTRAINT [PK_LOGS_GENERICOS]
GO


/* Drop table */
DROP TABLE [dbo].[LOGS_GENERICOS]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "LOGS_AUDITORIA"                                            */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[LOGS_AUDITORIA] DROP CONSTRAINT [PK_LOGS_AUDITORIA]
GO


/* Drop table */
DROP TABLE [dbo].[LOGS_AUDITORIA]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "LOG_CONSOLA"                                               */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[LOG_CONSOLA] DROP CONSTRAINT [PK_LOG_CONSOLA]
GO


/* Drop table */
DROP TABLE [dbo].[LOG_CONSOLA]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "INTERFACES"                                                */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[INTERFACES] DROP CONSTRAINT [PK_INTERFACES]
GO

ALTER TABLE [dbo].[INTERFACES] DROP CONSTRAINT [TUC_INTERFACES_1]
GO


/* Drop table */
DROP TABLE [dbo].[INTERFACES]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_FORMATO_PDF_DET"                                      */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[FEWS_FORMATO_PDF_DET] DROP CONSTRAINT [PK_FEWS_FORMATO_PDF_DET]
GO


/* Drop table */
DROP TABLE [dbo].[FEWS_FORMATO_PDF_DET]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "FEWS_FORMATO_PDF"                                          */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[FEWS_FORMATO_PDF] DROP CONSTRAINT [PK_FEWS_FORMATO_PDF]
GO


/* Drop table */
DROP TABLE [dbo].[FEWS_FORMATO_PDF]
GO


/* ---------------------------------------------------------------------- */
/* Drop table "CANALES_ACCESO"                                            */
/* ---------------------------------------------------------------------- */

/* Drop constraints */
ALTER TABLE [dbo].[CANALES_ACCESO] DROP CONSTRAINT [PK_CANALES_ACCESO]
GO


/* Drop table */
DROP TABLE [dbo].[CANALES_ACCESO]
GO

