/* ---------------------------------------------------------------------- */
/* Script generated with: DeZign for Databases v6.1.0                     */
/* Target DBMS:           MS SQL Server 2008                              */
/* Project file:          Para PDF.dez                                    */
/* Project name:                                                          */
/* Author:                                                                */
/* Script type:           Database creation script                        */
/* Created on:            2016-04-20 17:11                                */
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Tables                                                                 */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* Add table "FEWS_ENCABEZADO"                                            */
/* ---------------------------------------------------------------------- */
CREATE TABLE [FEWS_ENCABEZADO] (
    [id] INTEGER IDENTITY(0,1) NOT NULL,
    [tipo_reg] INTEGER,
    [webservice] VARCHAR(5),
    [concepto] INTEGER,
    [movimiento] VARCHAR(20),
    [fecha_cbte] VARCHAR(8),
    [tipo_cbte] INTEGER,
    [punto_vta] INTEGER,
    [cbte_nro] INTEGER,
    [tipo_expo] INTEGER,
    [permiso_existente] VARCHAR(1),
    [dst_cmp] INTEGER,
    [nombre_cliente] VARCHAR(200),
    [tipo_doc] INTEGER,
    [nro_doc] BIGINT,
    [domicilio_cliente] VARCHAR(300),
    [id_impositivo] VARCHAR(50),
    [imp_total] NUMERIC(15,3),
    [imp_tot_conc] NUMERIC(15,3),
    [imp_neto] NUMERIC(15,3),
    [imp_iva] NUMERIC(15,3),
    [impto_liq] NUMERIC(15,3),
    [impto_liq_rni] NUMERIC(15,3),
    [imp_op_ex] NUMERIC(15,3),
    [impto_perc] NUMERIC(15,3),
    [imp_iibb] NUMERIC(15,3),
    [impto_perc_mun] NUMERIC(15,3),
    [imp_internos] NUMERIC(15,3),
    [imp_trib] NUMERIC(15,3),
    [moneda_id] VARCHAR(3),
    [moneda_ctz] NUMERIC(10,6),
    [obs_comerciales] VARCHAR(1000),
    [obs_generales] VARCHAR(1000),
    [forma_pago] VARCHAR(50),
    [incoterms] VARCHAR(3),
    [incoterms_ds] VARCHAR(20),
    [idioma_cbte] VARCHAR(1),
    [zona] VARCHAR(5),
    [fecha_venc_pago] VARCHAR(8),
    [presta_serv] INTEGER,
    [fecha_serv_desde] VARCHAR(8),
    [fecha_serv_hasta] VARCHAR(8),
    [cae] BIGINT,
    [fecha_vto] VARCHAR(8),
    [resultado] VARCHAR(1),
    [reproceso] VARCHAR(1),
    [motivo] VARCHAR(1000),
    [telefono_cliente] VARCHAR(50),
    [localidad_cliente] VARCHAR(50),
    [provincia_cliente] VARCHAR(50),
    [formato_id] INTEGER,
    [email] VARCHAR(100),
    [pdf] VARCHAR(100),
    [err_code] VARCHAR(6),
    [err_msg] VARCHAR(1000),
    [dato_adicional1] VARCHAR(30),
    [dato_adicional2] VARCHAR(30),
    [dato_adicional3] VARCHAR(30),
    [dato_adicional4] VARCHAR(100),
    [dato_adicional5] VARCHAR(100),
    [dato_adicional6] VARCHAR(100),
    [dato_adicional7] VARCHAR(1000),
    [estado_importacion] VARCHAR(1000),
    PRIMARY KEY ([id])
)
GO

CREATE UNIQUE NONCLUSTERED INDEX [IDX_FEWS_ENCABEZADO_1] ON [FEWS_ENCABEZADO] ([movimiento])
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_DETALLE"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [FEWS_DETALLE] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [itm] INTEGER NOT NULL,
    [codigo] VARCHAR(30) NOT NULL,
    [qty] NUMERIC(12,3),
    [umed] INTEGER,
    [precio] NUMERIC(12,3),
    [imp_total] NUMERIC(14,3),
    [iva_id] INTEGER,
    [ds] VARCHAR(4000),
    [ncm] VARCHAR(15),
    [sec] VARCHAR(15),
    [bonif] NUMERIC(15,3),
    [imp_iva] NUMERIC(15,3),
    [u_mtx] INTEGER,
    [cod_mtx] VARCHAR(30),
    [dato_a] VARCHAR(15),
    [dato_b] VARCHAR(15),
    [dato_c] VARCHAR(50),
    [dato_d] VARCHAR(50),
    [dato_e] VARCHAR(100),
    PRIMARY KEY ([id], [itm], [codigo])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_PERMISO"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [FEWS_PERMISO] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [id_permiso] VARCHAR(16) NOT NULL,
    [dst_merc] INTEGER,
    PRIMARY KEY ([id], [id_permiso])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_CMP_ASOC"                                              */
/* ---------------------------------------------------------------------- */
CREATE TABLE [FEWS_CMP_ASOC] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [cbte_tipo] INTEGER NOT NULL,
    [cbte_punto_vta] INTEGER NOT NULL,
    [cbte_nro] INTEGER NOT NULL,
    PRIMARY KEY ([id], [cbte_tipo], [cbte_punto_vta], [cbte_nro])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_IVA"                                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [FEWS_IVA] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [iva_id] INTEGER NOT NULL,
    [base_imp] NUMERIC(15,3),
    [importe] NUMERIC(15,3),
    PRIMARY KEY ([id], [iva_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_TRIBUTO"                                               */
/* ---------------------------------------------------------------------- */
CREATE TABLE [FEWS_TRIBUTO] (
    [id] INTEGER NOT NULL,
    [tipo_reg] INTEGER,
    [tributo_id] INTEGER NOT NULL,
    [tributo_desc] VARCHAR(100),
    [base_imp] NUMERIC(15,3),
    [alic] NUMERIC(15,3),
    [importe] NUMERIC(15,3),
    PRIMARY KEY ([id], [tributo_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_XML"                                                   */
/* ---------------------------------------------------------------------- */
CREATE TABLE [FEWS_XML] (
    [id] INTEGER NOT NULL,
    [xml_response] TEXT,
    [xml_request] TEXT,
    [ts] TIMESTAMP,
    PRIMARY KEY ([id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_FORMATO_PDF_DET"                                       */
/* ---------------------------------------------------------------------- */
CREATE TABLE [FEWS_FORMATO_PDF_DET] (
    [pk] INTEGER IDENTITY(0,1) NOT NULL,
    [formato_id] INTEGER NOT NULL,
    [name] VARCHAR(50),
    [type] VARCHAR(2),
    [x1] NUMERIC(10,2),
    [y1] NUMERIC(10,2),
    [x2] NUMERIC(10,2),
    [y2] NUMERIC(10,2),
    [font] VARCHAR(50),
    [size] NUMERIC(10,2),
    [bold] BIT,
    [italic] BIT,
    [underline] BIT,
    [foreground] INTEGER,
    [backgroud] INTEGER,
    [align] VARCHAR(1),
    [text] VARCHAR(250),
    [priority] INTEGER,
    PRIMARY KEY ([pk], [formato_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Add table "FEWS_FORMATO_PDF"                                           */
/* ---------------------------------------------------------------------- */
CREATE TABLE [FEWS_FORMATO_PDF] (
    [formato_id] INTEGER NOT NULL,
    [name] VARCHAR(50),
    PRIMARY KEY ([formato_id])
)
GO


/* ---------------------------------------------------------------------- */
/* Foreign key constraints                                                */
/* ---------------------------------------------------------------------- */
ALTER TABLE [FEWS_ENCABEZADO] ADD CONSTRAINT [FEWS_FORMATO_PDF_FEWS_ENCABEZADO] 
    FOREIGN KEY ([formato_id]) REFERENCES [FEWS_FORMATO_PDF] ([formato_id])
GO

ALTER TABLE [FEWS_DETALLE] ADD CONSTRAINT [FEWS_ENCABEZADO_FEWS_DETALLE] 
    FOREIGN KEY ([id]) REFERENCES [FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [FEWS_PERMISO] ADD CONSTRAINT [FEWS_ENCABEZADO_FEWS_PERMISO] 
    FOREIGN KEY ([id]) REFERENCES [FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [FEWS_CMP_ASOC] ADD CONSTRAINT [FEWS_ENCABEZADO_FEWS_CMP_ASOC] 
    FOREIGN KEY ([id]) REFERENCES [FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [FEWS_IVA] ADD CONSTRAINT [FEWS_ENCABEZADO_FEWS_IVA] 
    FOREIGN KEY ([id]) REFERENCES [FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [FEWS_TRIBUTO] ADD CONSTRAINT [FEWS_ENCABEZADO_FEWS_TRIBUTO] 
    FOREIGN KEY ([id]) REFERENCES [FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [FEWS_XML] ADD CONSTRAINT [FEWS_ENCABEZADO_FEWS_XML] 
    FOREIGN KEY ([id]) REFERENCES [FEWS_ENCABEZADO] ([id])
GO

ALTER TABLE [FEWS_FORMATO_PDF_DET] ADD CONSTRAINT [FEWS_FORMATO_PDF_FEWS_FORMATO_PDF_DET] 
    FOREIGN KEY ([formato_id]) REFERENCES [FEWS_FORMATO_PDF] ([formato_id])
GO

