--use VERNAZZA
use FEWS_VERNAZZA
--use FEWS
go

/****** Object:  StoredProcedure [dbo].[RG3685_Exportar_COMPRAS_CBTE]    Script Date: 08/25/2016 16:18:46 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RG3685_Exportar_COMPRAS_CBTE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RG3685_Exportar_COMPRAS_CBTE]
GO

CREATE PROCEDURE [dbo].[RG3685_Exportar_COMPRAS_CBTE]
	@Periodo varchar(6)
AS    
BEGIN
set nocount on

create table #verifCbte
(ERROR varchar(100),
id int,
movimiento varchar(20),
tipo_cbte varchar(3),
cbte_nro varchar(20),
cant_alic int,
tipo_doc_vendedor varchar(2),
nro_doc_vendedor varchar(20),
nombre_vendedor varchar(30),
count_alic int,
total int,
sum_resto int,
cf_cble int,
dif_total int,
sum_neto_alic int,
sum_iva_alic int,
dif_iva int)
insert #verifCbte exec RG3685_Verificar_COMPRAS_CBTE @Periodo

create table #verifAlic
(ERROR varchar(100),
id int,
movimiento varchar(20),
id_alic_iva varchar(4),
neto int,
iva_calc int,
iva int,
dif_iva int)
insert #verifAlic exec RG3685_Verificar_COMPRAS_ALICUOTAS @Periodo

SELECT fecha_cbte
      +tipo_cbte
      +punto_vta
      +cbte_nro
      +dsp_importacion 
      +tipo_doc_vendedor
      +nro_doc_vendedor
      +convert(char(30), nombre_vendedor)
      +imp_total
      +imp_tot_conc
      +imp_op_ex
      +imp_perc_iva
      +imp_perc_nac
      +imp_perc_iibb
      +imp_perc_mun
      +imp_internos
      +moneda_id
      +moneda_ctz
      +cant_alic
      +convert(char(1), cod_operacion)
      +imp_cf_cble
      +imp_otros_trib
      +cuit_emisor
      +convert(char(30), denom_emisor)
      +iva_comision _EXP_
FROM RG3685_COMPRAS_CBTE c, RG3685_CABECERA ca
WHERE c.id_cabecera=ca.id
	and ca.periodo = @Periodo
	and c.movimiento not in (select movimiento from #verifCbte union select movimiento from #verifAlic)
        
--por ahora no se usa, se envia un default ...
RETURN 0
set nocount off
END
GO

/****** Object:  StoredProcedure [dbo].[RG3685_Exportar_COMPRAS_ALICUOTAS]    Script Date: 08/25/2016 16:18:46 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RG3685_Exportar_COMPRAS_ALICUOTAS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RG3685_Exportar_COMPRAS_ALICUOTAS]
GO

CREATE PROCEDURE [dbo].[RG3685_Exportar_COMPRAS_ALICUOTAS]
	@Periodo varchar(6)
AS    
BEGIN
set nocount on

create table #verifCbte
(ERROR varchar(100),
id int,
movimiento varchar(20),
tipo_cbte varchar(3),
cbte_nro varchar(20),
cant_alic int,
tipo_doc_vendedor varchar(2),
nro_doc_vendedor varchar(20),
nombre_vendedor varchar(30),
count_alic int,
total int,
sum_resto int,
cf_cble int,
dif_total int,
sum_neto_alic int,
sum_iva_alic int,
dif_iva int)
insert #verifCbte exec RG3685_Verificar_COMPRAS_CBTE @Periodo

create table #verifAlic
(ERROR varchar(100),
id int,
movimiento varchar(20),
id_alic_iva varchar(4),
neto int,
iva_calc int,
iva int,
dif_iva int)
insert #verifAlic exec RG3685_Verificar_COMPRAS_ALICUOTAS @Periodo

SELECT c.tipo_cbte
	+c.punto_vta
	+c.cbte_nro
	+c.tipo_doc_vendedor 
	+c.nro_doc_vendedor 
	+a.imp_neto
	+a.id_alic_iva
	+a.imp_iva as _EXP_
FROM RG3685_COMPRAS_ALICUOTAS a, RG3685_COMPRAS_CBTE c, RG3685_CABECERA ca
WHERE a.id_compras_cbte=c.id 
	and  c.id_cabecera=ca.id
	and ca.periodo = @Periodo
	and c.movimiento not in (select movimiento from #verifCbte union select movimiento from #verifAlic)
		
--por ahora no se usa, se envia un default ...
RETURN 0
set nocount off
END
GO

declare @per varchar(6)
select @per = '201701'
exec RG3685_Exportar_COMPRAS_CBTE @per
exec RG3685_Exportar_COMPRAS_ALICUOTAS @per
go

