--use VERNAZZA
use FEWS_VERNAZZA
--use FEWS
go

/****** Object:  StoredProcedure [dbo].[RG3685_Exportar_VENTAS]    Script Date: 08/25/2016 16:18:46 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RG3685_Exportar_VENTAS_CBTE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RG3685_Exportar_VENTAS_CBTE]
GO

CREATE PROCEDURE [dbo].[RG3685_Exportar_VENTAS_CBTE]
	@Periodo varchar(6)
AS    
BEGIN
set nocount on

create table #verifCbte
(ERROR varchar(100),
id int,
movimiento varchar(20),
cant_alic int,
count_alic int,
total int,
sum_resto int,
dif_total int,
sum_neto_alic int,
sum_iva_alic int,
sum_iva_alic_calc int,
dif_sum_iva int)
insert #verifCbte exec RG3685_Verificar_VENTAS_CBTE @Periodo

create table #verifAlic
(ERROR varchar(100),
id int,
movimiento varchar(20),
id_alic_iva varchar(4),
neto int,
iva_calc int,
iva int,
dif_iva int)
insert #verifAlic exec RG3685_Verificar_VENTAS_ALICUOTAS @Periodo

SELECT fecha_cbte
      +tipo_cbte
      +punto_vta
      +cbte_nro
      +cbte_nro_h
      +tipo_doc_comprador
      +nro_doc_comprador
      +convert(char(30), nombre_comprador)
      +imp_total
      +imp_tot_conc
      +imp_perc_no_cat
      +imp_op_ex
      +imp_perc_nac
      +imp_perc_iibb
      +imp_perc_mun
      +imp_internos
      +moneda_id
      +moneda_ctz
      +cant_alic
      +convert(char(1), cod_operacion)
      +imp_otros_trib
      +fecha_venc_pago _EXP_
FROM RG3685_VENTAS_CBTE c, RG3685_CABECERA ca
WHERE c.id_cabecera=ca.id
	and ca.periodo = @Periodo
	and c.movimiento not in (select movimiento from #verifCbte union select movimiento from #verifAlic)
	
--por ahora no se usa, se envia un default ...
RETURN 0
set nocount off
END
GO

/****** Object:  StoredProcedure [dbo].[RG3685_Exportar_VENTAS_ALICUOTAS]    Script Date: 08/25/2016 16:18:46 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RG3685_Exportar_VENTAS_ALICUOTAS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RG3685_Exportar_VENTAS_ALICUOTAS]
GO

CREATE PROCEDURE [dbo].[RG3685_Exportar_VENTAS_ALICUOTAS]
	@Periodo varchar(6)
AS    
BEGIN
set nocount on

create table #verifCbte
(ERROR varchar(100),
id int,
movimiento varchar(20),
cant_alic int,
count_alic int,
total int,
sum_resto int,
dif_total int,
sum_neto_alic int,
sum_iva_alic int,
sum_iva_alic_calc int,
dif_sum_iva int)
insert #verifCbte exec RG3685_Verificar_VENTAS_CBTE @Periodo

create table #verifAlic
(ERROR varchar(100),
id int,
movimiento varchar(20),
id_alic_iva varchar(4),
neto int,
iva_calc int,
iva int,
dif_iva int)
insert #verifAlic exec RG3685_Verificar_VENTAS_ALICUOTAS @Periodo

SELECT c.tipo_cbte
	+c.punto_vta
	+c.cbte_nro
	+a.imp_neto
	+a.id_alic_iva
	+a.imp_iva _EXP_  
FROM RG3685_VENTAS_ALICUOTAS a, RG3685_VENTAS_CBTE c, RG3685_CABECERA ca
WHERE a.id_ventas_cbte=c.id 
	and  c.id_cabecera=ca.id
	and ca.periodo = @Periodo
	and c.movimiento not in (select movimiento from #verifCbte union select movimiento from #verifAlic)

--por ahora no se usa, se envia un default ...
RETURN 0
set nocount off
END
GO

declare @per varchar(6)
select @per = '201701'
exec RG3685_Exportar_VENTAS_CBTE @per
exec RG3685_Exportar_VENTAS_ALICUOTAS @per
go
