/*
   domingo, 29 de noviembre de 201510:32:58 p.m.
   Usuario: sa
   Servidor: EDUARDO-PC
   Base de datos: DocOnline
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
/*
ALTER TABLE dbo.LOG_TRANSACCIONES DROP COLUMN CODIGO
,   DESCRIPCION
,	OBSERVACION
ALTER TABLE dbo.LOG_TRANSACCIONES DROP COLUMN EXCEPCION_WSAA
,	EXCEPCION_WSFEV1
,	RESULTADO
,	ERR_MSG
,	OBS
,	XML_REQUEST_AFIP
,	XML_RESPONSE_AFIP
,	TIPO_COMPROBANTE
,	PUNTO_VENTA
,	NUMERO_COMPROBANTE
,	FECHA_COMPROBANTE
,	IMPORTE_TOTAL
,	CAE
,	FECHA_VENCIMIENTO
*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
/*
	private String codigo;
	private String descripcion;
	private String observacion;

	private String excepcionWsaa;
	private String excepcionWsfev1;
	private String resultado;
	private String errMsg;
	private String obs;
	
	private String xmlRequest;
	private String xmlResponse;

	private String tipoCbte;
	private String ptoVtaCbte;
	private String nroCbte;
	private String fechaCbte;
	private String impTotal;
	private String cae;
	private String fechaVencimiento;
	*/
ALTER TABLE dbo.LOG_TRANSACCIONES ADD
	CODIGO VARCHAR(10) NULL,
	DESCRIPCION VARCHAR(1000) NULL,
	OBSERVACION VARCHAR(2000) NULL,
	EXCEPCION_WSAA VARCHAR(1000) NULL,
	EXCEPCION_WSFEV1 VARCHAR(1000) NULL,
	RESULTADO VARCHAR(10) NULL,
	ERR_MSG VARCHAR(1000) NULL,
	OBS VARCHAR(2000) NULL,
	XML_REQUEST_AFIP TEXT NULL,
	XML_RESPONSE_AFIP TEXT NULL,
	TIPO_COMPROBANTE VARCHAR(3) NULL,
	PUNTO_VENTA VARCHAR(10) NULL,
	NUMERO_COMPROBANTE VARCHAR(20) NULL,
	FECHA_COMPROBANTE VARCHAR(10) NULL,
	IMPORTE_TOTAL VARCHAR(20) NULL,
	CAE VARCHAR(20) NULL,
	FECHA_VENCIMIENTO VARCHAR(10) NULL
GO
ALTER TABLE dbo.LOG_TRANSACCIONES SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
