--Recupera lo proximo a autorizarse en AST por cada CUIT, TIPO COMPROBANTE, PUNTO VENTA
select CUIT_EMPRESA CE, TIPO_COMPROBANTE TC, PUNTO_VENTA PV, min(NUMERO_COMPROBANTE) NC, convert(int, TIPO_COMPROBANTE ) NTC, convert(int, PUNTO_VENTA) NPV, convert(int, min(NUMERO_COMPROBANTE)) NNC, 0 IDC
, (select top 1 id_interfaz from INTERFACES where CUIT_SUSCRIPCION=CUIT_EMPRESA COLLATE DATABASE_DEFAULT) ID_INTERFAZ
from DRGFINNEGANS.FINN_ZBC.dbo.AST_FEWS_LOG
where RESULTADO is null or RESULTADO <> 'A'
group by CUIT_EMPRESA, TIPO_COMPROBANTE, PUNTO_VENTA

exec AST_UPD_FEWS_ENCABEZADO_ZBC
exec FEWS_PENDIENTES

select * from drgfinnegans.finn_zbc.dbo.asiento where as_numerodoc like '%000500020214'
select * from drgfinnegans.finn_zbc.dbo.AST_FEWS_LOG WHERE AS_ID = 847569 or (punto_venta='0005' and numero_comprobante='00020214')
select * from FEWS_ENCABEZADO where movimiento like '%000500020214'
select x.* from FEWS_ENCABEZADO e, FEWS_XML x where e.id=x.id and e.movimiento like '%000500000187'

select as_cai, as_caifechavto, as_numerodoc, as_fecha, as_total, * from drgfinnegans.finn_zbc.dbo.asiento where doc_id = 590 and as_id >= 847569 order by as_id desc