USE [master]
GO
/****** Object:  Database [FEWS]    Script Date: 05/18/2016 10:19:17 ******/
CREATE DATABASE [FEWS] ON  PRIMARY 
( NAME = N'Fews', FILENAME = N'C:\Soft\ConInf\Data\Fews.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Fews_log', FILENAME = N'C:\Soft\ConInf\Data\Fews_log_1.ldf' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FEWS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FEWS]
GO
/****** Object:  Table [dbo].[TIPOS_TRANSACCIONES]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_TRANSACCIONES](
	[ID_TIPO_TRANSACCION] [bigint] NOT NULL,
	[TRANSACCION] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[transaccion_rest] [varchar](50) NULL,
	[url_rest] [varchar](80) NOT NULL,
 CONSTRAINT [PK_TIPOS_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_TRANSACCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPOS_DOC_PERSONAS]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOS_DOC_PERSONAS](
	[ID_TIPO_DOC_PERSONA] [bigint] NOT NULL,
	[TIPO_DOCUMENTO] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_ESTADO_CLIENTES]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_ESTADO_CLIENTES](
	[id] [bigint] NOT NULL,
	[nombre] [varchar](20) NULL,
	[descripcion] [varchar](40) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECCION]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECCION](
	[id] [bigint] NOT NULL,
	[descripcion] [varchar](100) NULL,
	[orden] [int] NULL,
	[codigo] [varchar](15) NULL,
	[url] [varchar](150) NULL,
 CONSTRAINT [PK_SECCION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROL](
	[id] [bigint] NOT NULL,
	[descripcion] [varchar](40) NULL,
	[codigo] [varchar](15) NOT NULL,
	[visible] [bit] NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGISTROS_TRANSACCIONES_HIS]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES_HIS](
	[ID_REGISTRO_TRANSACCION] [bigint] NOT NULL,
	[ID_INTERFAZ] [bigint] NOT NULL,
	[F_TRANSACCION] [datetime] NOT NULL,
	[COD_TRANSACCION] [int] NOT NULL,
	[DATOS_TRANSACCION] [varbinary](max) NOT NULL,
	[SERVICIO] [varchar](100) NOT NULL,
	[F_PROCESO] [datetime] NOT NULL,
	[id_canal_venta] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUNTO_VENTA]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUNTO_VENTA](
	[ID_PUNTO_VENTA] [bigint] NOT NULL,
	[ID_INTERFAZ] [bigint] NOT NULL,
	[PUNTO_VENTA] [varchar](50) NOT NULL,
	[ACTIVADO] [varchar](20) NOT NULL,
	[FLG_CONTROL] [char](1) NOT NULL,
 CONSTRAINT [PK_PUNTO_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_PUNTO_VENTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIA] [bigint] NOT NULL,
	[PROVINCIA] [varchar](20) NOT NULL,
	[COD_PROVINCIA] [varchar](2) NULL,
	[ID_PAIS] [bigint] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEWS_FORMATO_PDF]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEWS_FORMATO_PDF](
	[formato_id] [int] NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[formato_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARAMETROS]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETROS](
	[ID_PARAMETRO] [bigint] NOT NULL,
	[PARAMETRO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
	[TXT_AYUDA] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_PARAMETROS] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAISES](
	[ID_PAIS] [bigint] NOT NULL,
	[NOMBRE] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NUM_CODIGO_OPERACION]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUM_CODIGO_OPERACION](
	[NUMERO] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGS_GENERICOS]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGS_GENERICOS](
	[ID_LOG] [bigint] NOT NULL,
	[PROCESO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](4000) NULL,
	[F_PROCESO] [datetime] NOT NULL,
	[ESTADO_PROCESO] [int] NOT NULL,
 CONSTRAINT [PK_LOGS_GENERICOS] PRIMARY KEY CLUSTERED 
(
	[ID_LOG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGS_AUDITORIA]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGS_AUDITORIA](
	[ID_LOG_AUDITORIA] [bigint] NOT NULL,
	[F_LOG] [datetime] NOT NULL,
	[COD_CONSOLA] [int] NULL,
	[CONSOLA] [varchar](20) NULL,
	[OPERADOR] [varchar](20) NULL,
	[OPERACION] [varchar](1000) NULL,
	[RESULTADO] [varchar](1000) NULL,
	[COD_RESULTADO] [int] NOT NULL,
	[SERVIDOR] [varchar](1000) NULL,
 CONSTRAINT [PK_LOGS_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[ID_LOG_AUDITORIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOG_TRANSACCIONES_HIS]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_TRANSACCIONES_HIS](
	[ID_LOG_TRANSACCION] [bigint] NOT NULL,
	[ID_CLIENTE] [bigint] NULL,
	[F_INICIO_OPERACION] [datetime] NOT NULL,
	[F_FIN_OPERACION] [datetime] NOT NULL,
	[ID_TIPO_TRANSACCION] [bigint] NOT NULL,
	[XML_ENTRADA] [text] NULL,
	[XML_SALIDA] [text] NULL,
	[ID_REGISTRO_TRANSACCION] [bigint] NOT NULL,
	[F_PROCESO] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_CONSOLA]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOG_CONSOLA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[USUARIO] [varchar](20) NOT NULL,
	[URL] [varchar](150) NOT NULL,
	[DATOS_OPERACION] [varchar](4000) NULL,
 CONSTRAINT [PK_LOG_CONSOLA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCALIDADES](
	[ID_LOCALIDAD] [bigint] NOT NULL,
	[NOMBRE] [varchar](80) NOT NULL,
	[ID_PROVINCIA] [bigint] NOT NULL,
 CONSTRAINT [PK_LOCALIDADES] PRIMARY KEY CLUSTERED 
(
	[ID_LOCALIDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CANALES_ACCESO]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANALES_ACCESO](
	[ID_CANAL_ACCESO] [bigint] NOT NULL,
	[CANAL_ACCESO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CANALES_ACCESO] PRIMARY KEY CLUSTERED 
(
	[ID_CANAL_ACCESO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIRECCIONES_CLIENTES]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIRECCIONES_CLIENTES](
	[ID_DIRECCION] [bigint] IDENTITY(1,1) NOT NULL,
	[CALLE] [varchar](100) NOT NULL,
	[NUMERO] [varchar](10) NOT NULL,
	[PISO] [varchar](5) NULL,
	[DEPARTAMENTO] [varchar](5) NULL,
	[ID_LOCALIDAD] [bigint] NOT NULL,
	[LOCALIDAD_ALTERNATIVA] [varchar](80) NULL,
	[COD_POSTAL] [varchar](10) NOT NULL,
 CONSTRAINT [PK__DIRECCIO__FC7E9E8E267ABA7A] PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEWS_ENCABEZADO]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEWS_ENCABEZADO](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[tipo_reg] [int] NULL,
	[webservice] [varchar](5) NULL,
	[concepto] [int] NULL,
	[movimiento] [varchar](20) NULL,
	[fecha_cbte] [varchar](8) NULL,
	[tipo_cbte] [int] NULL,
	[punto_vta] [int] NULL,
	[cbte_nro] [int] NULL,
	[tipo_expo] [int] NULL,
	[permiso_existente] [varchar](1) NULL,
	[dst_cmp] [int] NULL,
	[nombre_cliente] [varchar](200) NULL,
	[tipo_doc] [int] NULL,
	[nro_doc] [bigint] NULL,
	[domicilio_cliente] [varchar](300) NULL,
	[id_impositivo] [varchar](50) NULL,
	[imp_total] [numeric](15, 3) NULL,
	[imp_tot_conc] [numeric](15, 3) NULL,
	[imp_neto] [numeric](15, 3) NULL,
	[impto_liq] [numeric](15, 3) NULL,
	[impto_liq_rni] [numeric](15, 3) NULL,
	[imp_op_ex] [numeric](15, 3) NULL,
	[impto_perc] [numeric](15, 2) NULL,
	[imp_iibb] [numeric](15, 3) NULL,
	[impto_perc_mun] [numeric](15, 3) NULL,
	[imp_internos] [numeric](15, 3) NULL,
	[imp_trib] [numeric](15, 3) NULL,
	[moneda_id] [varchar](3) NULL,
	[moneda_ctz] [numeric](10, 6) NULL,
	[obs_comerciales] [varchar](1000) NULL,
	[obs_generales] [varchar](1000) NULL,
	[forma_pago] [varchar](50) NULL,
	[incoterms] [varchar](3) NULL,
	[incoterms_ds] [varchar](20) NULL,
	[idioma_cbte] [varchar](1) NULL,
	[zona] [varchar](5) NULL,
	[fecha_venc_pago] [varchar](8) NULL,
	[presta_serv] [int] NULL,
	[fecha_serv_desde] [varchar](8) NULL,
	[fecha_serv_hasta] [varchar](8) NULL,
	[cae] [bigint] NULL,
	[fecha_vto] [varchar](8) NULL,
	[resultado] [varchar](1) NULL,
	[reproceso] [varchar](1) NULL,
	[motivo] [varchar](1000) NULL,
	[telefono_cliente] [varchar](50) NULL,
	[localidad_cliente] [varchar](50) NULL,
	[provincia_cliente] [varchar](50) NULL,
	[formato_id] [int] NULL,
	[email] [varchar](100) NULL,
	[pdf] [varchar](100) NULL,
	[err_code] [varchar](6) NULL,
	[err_msg] [varchar](1000) NULL,
	[dato_adicional1] [varchar](30) NULL,
	[dato_adicional2] [varchar](30) NULL,
	[dato_adicional3] [varchar](30) NULL,
	[dato_adicional4] [varchar](100) NULL,
	[dato_adicional5] [varchar](100) NULL,
	[dato_adicional6] [varchar](100) NULL,
	[dato_adicional7] [varchar](1000) NULL,
	[estado_importacion] [varchar](1000) NULL,
	[imp_iva] [numeric](15, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [IDX_FEWS_ENCABEZADO_1] ON [dbo].[FEWS_ENCABEZADO] 
(
	[movimiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITEM](
	[id] [bigint] NOT NULL,
	[id_seccion] [bigint] NOT NULL,
	[descripcion] [varchar](40) NULL,
	[orden] [int] NOT NULL,
	[url] [varchar](150) NULL,
	[icon] [varchar](80) NULL,
	[codigo] [varchar](40) NULL,
	[TARGET] [varchar](10) NULL,
 CONSTRAINT [PK_ITEM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INTERFACES]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTERFACES](
	[ID_INTERFAZ] [bigint] NOT NULL,
	[INTERFAZ] [varchar](50) NOT NULL,
	[CLAVE] [varchar](128) NOT NULL,
	[ACTIVADO] [varchar](20) NOT NULL,
	[CANT_OPERACIONES] [int] NOT NULL,
	[CANT_ACUM_OPERACIONES] [numeric](10, 2) NOT NULL,
	[ID_CANAL_ACCESO] [bigint] NOT NULL,
	[FLG_CONTROL] [char](1) NOT NULL,
 CONSTRAINT [PK_INTERFACES] PRIMARY KEY CLUSTERED 
(
	[ID_INTERFAZ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARAMETROS_VALOR]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARAMETROS_VALOR](
	[ID_PARAMETRO_VALOR] [bigint] NOT NULL,
	[ID_PARAMETRO] [bigint] NOT NULL,
	[VALOR] [varchar](4000) NOT NULL,
	[F_VIGENCIA_DESDE] [datetime] NOT NULL,
	[F_VIGENCIA_HASTA] [datetime] NOT NULL,
	[ID_PROVINCIA] [bigint] NOT NULL,
 CONSTRAINT [PK_PARAMETROS_VALOR] PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETRO_VALOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id] [bigint] NOT NULL,
	[id_rol] [bigint] NULL,
	[usuario] [varchar](20) NOT NULL,
	[password] [varchar](60) NULL,
	[ultimo_acceso] [datetime] NULL,
	[activo] [bit] NULL,
	[bloqueado] [bit] NULL,
	[reintento] [int] NULL,
	[administrable] [bit] NULL,
	[apellido] [varchar](40) NULL,
	[nombre] [varchar](40) NULL,
	[mail] [varchar](40) NULL,
	[cambia_clave] [bit] NULL,
	[version_ui] [varchar](50) NOT NULL,
	[visible] [bit] NOT NULL,
	[theme] [varchar](50) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEWS_FORMATO_PDF_DET]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEWS_FORMATO_PDF_DET](
	[pk] [int] IDENTITY(0,1) NOT NULL,
	[formato_id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[type] [varchar](2) NULL,
	[x1] [numeric](10, 2) NULL,
	[y1] [numeric](10, 2) NULL,
	[x2] [numeric](10, 2) NULL,
	[y2] [numeric](10, 2) NULL,
	[font] [varchar](50) NULL,
	[size] [numeric](10, 2) NULL,
	[bold] [bit] NULL,
	[italic] [bit] NULL,
	[underline] [bit] NULL,
	[foreground] [int] NULL,
	[backgroud] [int] NULL,
	[align] [varchar](1) NULL,
	[text] [varchar](250) NULL,
	[priority] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pk] ASC,
	[formato_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO_PUNTO_VENTA]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PUNTO_VENTA](
	[id] [bigint] NOT NULL,
	[id_usuario] [bigint] NULL,
	[id_punto_venta] [bigint] NULL,
 CONSTRAINT [PK_USUARIO_PUNTO_VENTA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTROS_TRANSACCIONES]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTROS_TRANSACCIONES](
	[ID_REGISTRO_TRANSACCION] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_INTERFAZ] [bigint] NOT NULL,
	[ID_PUNTO_VENTA] [bigint] NULL,
	[F_TRANSACCION] [datetime] NOT NULL,
	[COD_TRANSACCION] [int] NOT NULL,
	[DATOS_TRANSACCION] [varbinary](max) NOT NULL,
	[SERVICIO] [varchar](100) NOT NULL,
	[id_canal_venta] [bigint] NULL,
 CONSTRAINT [PK_REGISTROS_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_REGISTRO_TRANSACCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEWS_XML]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEWS_XML](
	[id] [int] NOT NULL,
	[xml_response] [text] NULL,
	[xml_request] [text] NULL,
	[ts] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEWS_TRIBUTO]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEWS_TRIBUTO](
	[id] [int] NOT NULL,
	[tipo_reg] [int] NULL,
	[tributo_id] [int] NOT NULL,
	[tributo_desc] [varchar](100) NULL,
	[base_imp] [numeric](15, 3) NULL,
	[alic] [numeric](15, 2) NULL,
	[importe] [numeric](15, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[tributo_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEWS_PERMISO]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEWS_PERMISO](
	[id] [int] NOT NULL,
	[tipo_reg] [int] NULL,
	[id_permiso] [varchar](16) NOT NULL,
	[dst_merc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[id_permiso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEWS_IVA]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEWS_IVA](
	[id] [int] NOT NULL,
	[tipo_reg] [int] NULL,
	[iva_id] [int] NOT NULL,
	[base_imp] [numeric](15, 3) NULL,
	[importe] [numeric](15, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[iva_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEWS_DETALLE]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEWS_DETALLE](
	[id] [int] NOT NULL,
	[tipo_reg] [int] NULL,
	[itm] [int] NOT NULL,
	[codigo] [varchar](30) NOT NULL,
	[qty] [numeric](12, 2) NULL,
	[umed] [int] NULL,
	[precio] [numeric](12, 3) NULL,
	[imp_total] [numeric](14, 3) NULL,
	[iva_id] [int] NULL,
	[ds] [varchar](4000) NULL,
	[ncm] [varchar](15) NULL,
	[sec] [varchar](15) NULL,
	[bonif] [numeric](15, 2) NULL,
	[imp_iva] [numeric](15, 2) NULL,
	[u_mtx] [int] NULL,
	[cod_mtx] [varchar](30) NULL,
	[dato_a] [varchar](15) NULL,
	[dato_b] [varchar](15) NULL,
	[dato_c] [varchar](50) NULL,
	[dato_d] [varchar](50) NULL,
	[dato_e] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[itm] ASC,
	[codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEWS_CMP_ASOC]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEWS_CMP_ASOC](
	[id] [int] NOT NULL,
	[tipo_reg] [int] NULL,
	[cbte_tipo] [int] NOT NULL,
	[cbte_punto_vta] [int] NOT NULL,
	[cbte_nro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[cbte_tipo] ASC,
	[cbte_punto_vta] ASC,
	[cbte_nro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_ROL]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_ROL](
	[id] [bigint] NOT NULL,
	[id_rol] [bigint] NULL,
	[id_item] [bigint] NULL,
 CONSTRAINT [PK_ITEM_ROL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ITEM_ROL] ON [dbo].[ITEM_ROL] 
(
	[id_rol] ASC,
	[id_item] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [bigint] NOT NULL,
	[USUARIO] [nvarchar](50) NOT NULL,
	[NOMBRE] [varchar](80) NULL,
	[APELLIDO] [varchar](80) NULL,
	[ID_TIPO_DOC_PERSONA] [bigint] NOT NULL,
	[NRO_DOC] [varchar](15) NOT NULL,
	[NACIONALIDAD] [bigint] NULL,
	[F_NACIMIENTO] [datetime] NULL,
	[ID_ESTADO_CIVIL] [bigint] NULL,
	[CUIT_CUIL] [varchar](11) NULL,
	[ID_DIRECCION] [bigint] NULL,
	[EMAIL] [varchar](40) NULL,
	[OCUPACION] [varchar](80) NULL,
	[PEP] [tinyint] NULL,
	[PIN] [varchar](128) NOT NULL,
	[F_ALTA] [datetime] NOT NULL,
	[F_VIGENCIA_PIN] [datetime] NOT NULL,
	[ACCESOS_FALLIDOS] [tinyint] NOT NULL,
	[FLG_HABILITADO] [tinyint] NOT NULL,
	[ID_TIPO_ESTADO_CLIENTE] [bigint] NOT NULL,
	[CODIGO_BLANQUEO] [varchar](128) NULL,
	[ID_TERMINOS_CONDICIONES] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOG_TRANSACCIONES]    Script Date: 05/18/2016 10:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOG_TRANSACCIONES](
	[ID_LOG_TRANSACCION] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [bigint] NULL,
	[F_INICIO_OPERACION] [datetime] NOT NULL,
	[F_FIN_OPERACION] [datetime] NOT NULL,
	[ID_TIPO_TRANSACCION] [bigint] NOT NULL,
	[XML_ENTRADA] [text] NULL,
	[XML_SALIDA] [text] NULL,
	[ID_REGISTRO_TRANSACCION] [bigint] NOT NULL,
	[CODIGO] [varchar](10) NULL,
	[DESCRIPCION] [varchar](1000) NULL,
	[OBSERVACION] [varchar](1000) NULL,
	[EXCEPCION_WSAA] [varchar](1000) NULL,
	[EXCEPCION_WSFEV1] [varchar](1000) NULL,
	[RESULTADO] [varchar](10) NULL,
	[ERR_MSG] [varchar](1000) NULL,
	[OBS] [varchar](1000) NULL,
	[XML_REQUEST_AFIP] [text] NULL,
	[XML_RESPONSE_AFIP] [text] NULL,
	[TIPO_COMPROBANTE] [varchar](3) NULL,
	[PUNTO_VENTA] [varchar](10) NULL,
	[NUMERO_COMPROBANTE] [varchar](20) NULL,
	[FECHA_COMPROBANTE] [varchar](10) NULL,
	[IMPORTE_TOTAL] [varchar](20) NULL,
	[CAE] [varchar](20) NULL,
	[FECHA_VENCIMIENTO] [varchar](10) NULL,
 CONSTRAINT [PK_LOG_TRANSACCIONES] PRIMARY KEY CLUSTERED 
(
	[ID_LOG_TRANSACCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_DIRECCIONES_LOCALIDAD]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[DIRECCIONES_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_DIRECCIONES_LOCALIDAD] FOREIGN KEY([ID_LOCALIDAD])
REFERENCES [dbo].[LOCALIDADES] ([ID_LOCALIDAD])
GO
ALTER TABLE [dbo].[DIRECCIONES_CLIENTES] CHECK CONSTRAINT [FK_DIRECCIONES_LOCALIDAD]
GO
/****** Object:  ForeignKey [FEWS_FORMATO_PDF_FEWS_ENCABEZADO]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[FEWS_ENCABEZADO]  WITH CHECK ADD  CONSTRAINT [FEWS_FORMATO_PDF_FEWS_ENCABEZADO] FOREIGN KEY([formato_id])
REFERENCES [dbo].[FEWS_FORMATO_PDF] ([formato_id])
GO
ALTER TABLE [dbo].[FEWS_ENCABEZADO] CHECK CONSTRAINT [FEWS_FORMATO_PDF_FEWS_ENCABEZADO]
GO
/****** Object:  ForeignKey [FK_ITEM_SECCION]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_SECCION] FOREIGN KEY([id_seccion])
REFERENCES [dbo].[SECCION] ([id])
GO
ALTER TABLE [dbo].[ITEM] CHECK CONSTRAINT [FK_ITEM_SECCION]
GO
/****** Object:  ForeignKey [FK_INTERFACES_CANALES_ACCESO]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[INTERFACES]  WITH CHECK ADD  CONSTRAINT [FK_INTERFACES_CANALES_ACCESO] FOREIGN KEY([ID_CANAL_ACCESO])
REFERENCES [dbo].[CANALES_ACCESO] ([ID_CANAL_ACCESO])
GO
ALTER TABLE [dbo].[INTERFACES] CHECK CONSTRAINT [FK_INTERFACES_CANALES_ACCESO]
GO
/****** Object:  ForeignKey [FK_PARAMETROS_VALOR_PARAMETROS]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[PARAMETROS_VALOR]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETROS_VALOR_PARAMETROS] FOREIGN KEY([ID_PARAMETRO])
REFERENCES [dbo].[PARAMETROS] ([ID_PARAMETRO])
GO
ALTER TABLE [dbo].[PARAMETROS_VALOR] CHECK CONSTRAINT [FK_PARAMETROS_VALOR_PARAMETROS]
GO
/****** Object:  ForeignKey [FK_USUARIO_ROL]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
/****** Object:  ForeignKey [FEWS_FORMATO_PDF_FEWS_FORMATO_PDF_DET]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[FEWS_FORMATO_PDF_DET]  WITH CHECK ADD  CONSTRAINT [FEWS_FORMATO_PDF_FEWS_FORMATO_PDF_DET] FOREIGN KEY([formato_id])
REFERENCES [dbo].[FEWS_FORMATO_PDF] ([formato_id])
GO
ALTER TABLE [dbo].[FEWS_FORMATO_PDF_DET] CHECK CONSTRAINT [FEWS_FORMATO_PDF_FEWS_FORMATO_PDF_DET]
GO
/****** Object:  ForeignKey [FK_USUARIO_PUNTO_VENTA_PUNTO_VENTA]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PUNTO_VENTA_PUNTO_VENTA] FOREIGN KEY([id_punto_venta])
REFERENCES [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA])
GO
ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] CHECK CONSTRAINT [FK_USUARIO_PUNTO_VENTA_PUNTO_VENTA]
GO
/****** Object:  ForeignKey [FK_USUARIO_PUNTO_VENTA_USUARIO]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PUNTO_VENTA_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id])
GO
ALTER TABLE [dbo].[USUARIO_PUNTO_VENTA] CHECK CONSTRAINT [FK_USUARIO_PUNTO_VENTA_USUARIO]
GO
/****** Object:  ForeignKey [FK_REGISTROS_TRANSACCIONES_INTERFACES]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_REGISTROS_TRANSACCIONES_INTERFACES] FOREIGN KEY([ID_INTERFAZ])
REFERENCES [dbo].[INTERFACES] ([ID_INTERFAZ])
GO
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] CHECK CONSTRAINT [FK_REGISTROS_TRANSACCIONES_INTERFACES]
GO
/****** Object:  ForeignKey [FK_REGISTROS_TRANSACCIONES_PUNTO_VENTA]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_REGISTROS_TRANSACCIONES_PUNTO_VENTA] FOREIGN KEY([ID_PUNTO_VENTA])
REFERENCES [dbo].[PUNTO_VENTA] ([ID_PUNTO_VENTA])
GO
ALTER TABLE [dbo].[REGISTROS_TRANSACCIONES] CHECK CONSTRAINT [FK_REGISTROS_TRANSACCIONES_PUNTO_VENTA]
GO
/****** Object:  ForeignKey [FEWS_ENCABEZADO_FEWS_XML]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[FEWS_XML]  WITH CHECK ADD  CONSTRAINT [FEWS_ENCABEZADO_FEWS_XML] FOREIGN KEY([id])
REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO
ALTER TABLE [dbo].[FEWS_XML] CHECK CONSTRAINT [FEWS_ENCABEZADO_FEWS_XML]
GO
/****** Object:  ForeignKey [FEWS_ENCABEZADO_FEWS_TRIBUTO]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[FEWS_TRIBUTO]  WITH CHECK ADD  CONSTRAINT [FEWS_ENCABEZADO_FEWS_TRIBUTO] FOREIGN KEY([id])
REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO
ALTER TABLE [dbo].[FEWS_TRIBUTO] CHECK CONSTRAINT [FEWS_ENCABEZADO_FEWS_TRIBUTO]
GO
/****** Object:  ForeignKey [FEWS_ENCABEZADO_FEWS_PERMISO]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[FEWS_PERMISO]  WITH CHECK ADD  CONSTRAINT [FEWS_ENCABEZADO_FEWS_PERMISO] FOREIGN KEY([id])
REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO
ALTER TABLE [dbo].[FEWS_PERMISO] CHECK CONSTRAINT [FEWS_ENCABEZADO_FEWS_PERMISO]
GO
/****** Object:  ForeignKey [FEWS_ENCABEZADO_FEWS_IVA]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[FEWS_IVA]  WITH CHECK ADD  CONSTRAINT [FEWS_ENCABEZADO_FEWS_IVA] FOREIGN KEY([id])
REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO
ALTER TABLE [dbo].[FEWS_IVA] CHECK CONSTRAINT [FEWS_ENCABEZADO_FEWS_IVA]
GO
/****** Object:  ForeignKey [FEWS_ENCABEZADO_FEWS_DETALLE]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[FEWS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FEWS_ENCABEZADO_FEWS_DETALLE] FOREIGN KEY([id])
REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO
ALTER TABLE [dbo].[FEWS_DETALLE] CHECK CONSTRAINT [FEWS_ENCABEZADO_FEWS_DETALLE]
GO
/****** Object:  ForeignKey [FEWS_ENCABEZADO_FEWS_CMP_ASOC]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[FEWS_CMP_ASOC]  WITH CHECK ADD  CONSTRAINT [FEWS_ENCABEZADO_FEWS_CMP_ASOC] FOREIGN KEY([id])
REFERENCES [dbo].[FEWS_ENCABEZADO] ([id])
GO
ALTER TABLE [dbo].[FEWS_CMP_ASOC] CHECK CONSTRAINT [FEWS_ENCABEZADO_FEWS_CMP_ASOC]
GO
/****** Object:  ForeignKey [FK_ITEM_ROL_ITEM]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[ITEM_ROL]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_ROL_ITEM] FOREIGN KEY([id_item])
REFERENCES [dbo].[ITEM] ([id])
GO
ALTER TABLE [dbo].[ITEM_ROL] CHECK CONSTRAINT [FK_ITEM_ROL_ITEM]
GO
/****** Object:  ForeignKey [FK_ITEM_ROL_ROL]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[ITEM_ROL]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_ROL_ROL] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id])
GO
ALTER TABLE [dbo].[ITEM_ROL] CHECK CONSTRAINT [FK_ITEM_ROL_ROL]
GO
/****** Object:  ForeignKey [FK_CLIENTES_DIRECCIONES_CLIENTES]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_DIRECCIONES_CLIENTES] FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCIONES_CLIENTES] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_DIRECCIONES_CLIENTES]
GO
/****** Object:  ForeignKey [FK_LOG_TRANSACCIONES_REGISTROS_TRANSACCIONES]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[LOG_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_LOG_TRANSACCIONES_REGISTROS_TRANSACCIONES] FOREIGN KEY([ID_REGISTRO_TRANSACCION])
REFERENCES [dbo].[REGISTROS_TRANSACCIONES] ([ID_REGISTRO_TRANSACCION])
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES] CHECK CONSTRAINT [FK_LOG_TRANSACCIONES_REGISTROS_TRANSACCIONES]
GO
/****** Object:  ForeignKey [FK_LOG_TRANSACCIONES_TIPOS_TRANSACCIONES]    Script Date: 05/18/2016 10:19:19 ******/
ALTER TABLE [dbo].[LOG_TRANSACCIONES]  WITH CHECK ADD  CONSTRAINT [FK_LOG_TRANSACCIONES_TIPOS_TRANSACCIONES] FOREIGN KEY([ID_TIPO_TRANSACCION])
REFERENCES [dbo].[TIPOS_TRANSACCIONES] ([ID_TIPO_TRANSACCION])
GO
ALTER TABLE [dbo].[LOG_TRANSACCIONES] CHECK CONSTRAINT [FK_LOG_TRANSACCIONES_TIPOS_TRANSACCIONES]
GO
