USE [TMP_ADMIFARM]
GO

	declare @tiempo datetime
	set @tiempo=GETDATE()
	
			declare @NroCbte varchar(8)
			declare @AsId varchar(8)
			declare @Fec varchar(8)
			select @NroCbte = right('00000000'+convert(varchar(8), 52),8)
			select @AsId = right('00000000'+convert(varchar(8), 1),8)
			select @Fec = convert(varchar(8), GETDATE()-10, 112)

			--- OBTIENE EL CUIT DE LA EMPRESA LOGEADA
			declare @EmpresaCuit varchar(11)
			SET @EmpresaCuit = '20225925055'

	IF isnull((SELECT ISNULL(cae,'') FROM AST_FEWS_LOG WHERE isnull(AS_ID,-1)=@@AS_ID and isnull(resultado,'')<>'A'),'')=''
	BEGIN
			DELETE FROM AST_FEWS_LOG WHERE AS_ID=@@AS_ID
			DELETE FROM AST_FEWS_LOG_IVA WHERE AS_ID=@@AS_ID
			DELETE FROM AST_FEWS_LOG_TRIBUTOS WHERE AS_ID=@@AS_ID

			--- INSERTA EN 	AST_FEWS_LOG
			INSERT [dbo].[AST_FEWS_LOG_IVA] 
			([AS_ID], [CUIT_EMPRESA], [TIPO_COMPROBANTE], [PUNTO_VENTA], [NUMERO_COMPROBANTE], [PORCENTAJE],                    [NETO_GRAVADO], [IMPORTE]) VALUES 
			(@AsId,   N'20225925055', N'01',              N'0001',       @NroCbte,             CAST(21.0000 AS Numeric(12, 4)), N'12998.47',    N'2729.68')

			--- INSERTA EN AST_FEWS_LOG_IVA 

	END
	
	-- ESPERA EL RESULTADO POR N SEGUNDOS HASTA OBTENER EL CAE O DAR TIME-OUT
	WHILE DATEDIFF ( second , @tiempo , GETDATE()) < 3 --- segundos max. de espera
	BEGIN
	   IF DBO.AST_FEWS_GET_RESULTADO_CAE(@AsId)<>'' OR DBO.AST_FEWS_GET_RESULTADO_CAE(@AsId)<>0
		  BREAK
	   ELSE
		  CONTINUE
	END
	
	--- OBTIENE RESULTADO
	SELECT  r=CASE isnull(RESULTADO,'') 
					WHEN 'A' THEN 'APROBADA'
					WHEN 'R' THEN ISNULL(ERR_MSG,'Rechazada Sin determinar motivo')
					WHEN '' THEN 'Red Ocupada/Sin Conexión - Intente de nuevo en pocos minutos'
					ELSE 'OTROS'
			end
	FROM ast_fews_log where as_id=@AsId
