USE [FEWS_ADMIFARM]
GO
/****** Object:  StoredProcedure [dbo].[FEWS_UPD_AST_FEWS_LOG_tmp]    Script Date: 01/30/2018 14:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[FEWS_UPD_AST_FEWS_LOG_tmp]
	@id int
AS
BEGIN 
SET NOCOUNT ON

	declare @resultado varchar(1)
	declare @cae bigint
	declare @fecha_vencimiento varchar(8)
	declare @err_msg varchar(1000)
	declare @obs varchar(1000)
	declare @codigo varchar(10)
	declare @descripcion varchar(1000)
	declare @observacion varchar(1000)
	declare @excepcion_wsaa varchar(1000)
	declare @excepcion_wsfev1 varchar(1000)
	declare @xml_request_afip text
	declare @xml_response_afip text
	declare @cuit_empresa varchar(11)
	declare @tipo_comprobante varchar(3)
	declare @punto_venta varchar(4)
	declare @numero_comprobante varchar(8)
	
	select top 1 @resultado=fenc.resultado,
		@cae=fenc.cae,
		@fecha_vencimiento=fenc.fecha_vto,
		@err_msg=fenc.err_msg,
		@obs=fenc.motivo,
		@codigo=fxml.codigo,
		@descripcion=fxml.descripcion,
		@observacion=fxml.observacion,
		@excepcion_wsaa=fxml.excepcion_wsaa,
		@excepcion_wsfev1=fxml.excepcion_wsfev1,
		@xml_request_afip=fxml.xml_request,
		@xml_response_afip=fxml.xml_response,
		@cuit_empresa=cuit_empresa,
		@tipo_comprobante=tipo_comprobante,
		@punto_venta=punto_venta,
		@numero_comprobante=numero_comprobante
	from fews_encabezado fenc, fews_xml fxml, TMP_ADMIFARM.dbo.ast_fews_log astl--FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG
	where fenc.id=@id
		and fenc.id=fxml.id
		and cuit_empresa=fenc.cuit
		and tipo_comprobante=convert(varchar(3), fenc.tipo_cbte)
		and punto_venta=convert(varchar(4), fenc.punto_vta)
		and numero_comprobante=convert(varchar(8), fenc.cbte_nro)
	
	
	update TMP_ADMIFARM.dbo.ast_fews_log --FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG
	set resultado=fenc.resultado,
		cae=fenc.cae,
		fecha_vencimiento=fenc.fecha_vto,
		err_msg=fenc.err_msg,
		obs=fenc.motivo,
		codigo=fxml.codigo,
		descripcion=fxml.descripcion,
		observacion=fxml.observacion,
		excepcion_wsaa=fxml.excepcion_wsaa,
		excepcion_wsfev1=fxml.excepcion_wsfev1,
		xml_request_afip=fxml.xml_request,
		xml_response_afip=fxml.xml_response
	from fews_encabezado fenc, fews_xml fxml, TMP_ADMIFARM.dbo.ast_fews_log astl--FINNEGANS.FINN_Admifarm.dbo.AST_FEWS_LOG
	where fenc.id=@id
		and fenc.id=fxml.id
		and cuit_empresa=fenc.cuit
		and convert(int, tipo_comprobante)=fenc.tipo_cbte
		and convert(int, punto_venta)=fenc.punto_vta
		and convert(int, numero_comprobante)=fenc.cbte_nro
	
	--por ahora no se usa, se envia un default ...
	select 0 _codigo_, 'OK' _descripcion_, 'FINALIZADO' _observacion_

	--por ahora no se usa, se envia un default ...
	RETURN 0	
SET NOCOUNT OFF
END
